{% extends "base.html" %}
{% block content %}

{% load fbdater_extras %}

<div id="lineup_modal" title="Secret Admirer Lineup"></div>

<script type="text/javascript">
$(document).ready(function() 
{

    /** FUNCTION - HANDLE View Lineup Click
    *
    */
    $("#lineup_modal").dialog({modal: true, resizable:false,autoOpen: false,height:500,width:640});
    $('.admirer_block').on('click', '.view_lineup', function(e) {
        view_lineup_element=$(this);
		var display_id=view_lineup_element.attr('display_id');	
		load_url="/ajax_show_lineup_slider/" + display_id + "/";
	    e.preventDefault();
	    $("#lineup_modal").load(load_url);   	
	    $("#lineup_modal").dialog("open");
	    return false;    
	});			
  
    /** AUTOMATIC FUNCTION - WAIT FOR INITIALIZATION BEFORE RENDERING LINEUP BLOCK
    *
    */
    $('.ajax_display_lineup_block').each(function(){

        var admirer_display_id=$(this).attr("display_id");
        var lineup_block_div = $(this).parent('.lineup_block');
        lineup_block_div.html('<div id="loading">initializing lineup...</div>');
        var ajax_url = '/ajax_display_lineup_block/' + admirer_display_id + '/'; 
        lineup_block_div.load(ajax_url);
    });
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 

}); // close off $(document).ready
</script>

<!-- Display the crush type navigation widget -->  
<font color="gray">
{% if admirer_type = 0 %}
<b>Secret Admirers ({{admirer_relationships.count}})</b>&nbsp;&nbsp;<a href="/admirers_past">Past Admirers ({{past_admirers_count}})</a>
{% else %}
<a href="/admirers">Secret Admirers ({{progressing_admirers_count}})</a><b>&nbsp;&nbsp;Past Admirers ({{admirer_relationships.count}})</b>
{% endif %}
</font>
<BR><BR>
  
<!-- End of crush type navigation widget -->  

{% if admirer_relationships %}

{% for admirer_rel in admirer_relationships %}
	<div class="admirer_block" display_id="{{admirer_rel.admirer_display_id}} ">
		Secret Admirer #{{admirer_rel.admirer_display_id}} 
		({% if admirer_rel.friendship_type == 0 %} friend of yours {% elif admirer_rel.friendship_type == 1 %}friend-of-a-friend{% endif %})
		<BR>(added {{admirer_rel.date_added|datetime_since}} ago) <BR> 
	
		<div class="lineup_block" display_id="{{admirer_rel.admirer_display_id}}">
			{% if admirer_rel.lineup_initialization_status == 1 %}
				{% with admirer_rel as relationship %}
				 	{% include "lineup_block.html" %}
				{% endwith %}
			{% else %}
			     <div class="ajax_display_lineup_block" display_id="{{admirer_rel.admirer_display_id}}"></div>		
			{% endif %}
		</div><!--  close off initialize_lineup div -->
	</div> <!-- close off .admirer_block div -->
{% endfor %}

{% else %}
	THERE ARE NO {% if admirer_type = 0 %} CURRENT {% else %} PAST {% endif %} SECRET ADMIRERS!
{% endif %}


{% endblock %}