
<div id="ajaxwrapper">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
{% if crush_email_list %}
	<b>An anonymous invitation was sent to the following email addresses:</b><BR><BR>
	
	{% for email in crush_email_list %}
		{{email}}<BR>
	{% endfor %}
{% endif%}
<BR>
{% if friend_email_list %}
	<b>An invitation email (for forwarding) was sent to the following mutual friend email addresses:</b><BR><BR>
	
	{% for email in friend_email_list %}
		{{email}}<BR>
	{% endfor %}
{% endif%}
<BR>
<input type='button' onclick="window.location='/attractions';" value="Ok">
</div