<!-- Javascript to help the form validate via ajax without reloading entire page -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
$(document).ready(function() 
{
        var form=$("#app_invite_form");
        
        form.submit(function(e) {

                $("#sendbutton").attr('disabled','disabled');
                $("#sendbutton").attr('value','sending...');
                $("#sendwrapper").prepend('<span>Sending message, please wait... </span>');
                $("#ajaxwrapper").load(
                    form.attr('action') + ' #ajaxwrapper',
                    form.serializeArray(),
                    function(responseText, responseStatus,XHR) {
                    console.log(responseText,responseStatus,XHR);
         							if (responseStatus=="error"){
                    		if (window.invite_interstitial_modal && window.invite_interstitial_modal.dialog("isOpen"))
                           window.update_invite_interstitial("{{crush_username}}");
                				else
                					location.href='/attractions';
                			}
               				else{
               						$("#sendbutton").removeAttr('disabled')
                          $("#sendbutton").attr('value','Send')
               				}
                		});
                
               e.preventDefault();
               });// close off submit function
        
                
}); // close off document ready function
</script>

<form id="app_invite_form" action="http://{{request.get_host}}{% url 'crush.views.app_invite_form_v2' crush_username crush_fullname%}" method="post">       
<div id="ajaxwrapper">
   <div class="modal_instructions">Enter any email addresses of your attraction.  We'll send them an <strong><i>anonymous</i></strong> invitation - <strong><i>sent from our JustMaybe.us email address</i></strong>.</div>

   {% csrf_token %}


   <div class="email_field_input" id="attraction_email_input_section">
      <div class="email_input_error_section generic_email_errors" >{{ form.non_field_errors }}</div>
      <label for="id_crush_emails"><span class="crush_email_name">{{crush_firstname}}</span><img src="http://graph.facebook.com/{{crush_username}}/picture?width=30&height=30"></label> 
      <div class="fieldWrapper">
         {{ form.crush_emails }}
         <div class="email_input_error_section">{{ form.crush_emails.errors }}</div>
      		<span class="email_separator sub_label">separate multiple emails with commas</span>
      </div>
   </div><!-- close attraction_email_input -->
	
<span id="mutual_friend_input_section_subtitle"><span class="strong_subtitle">Or enlist the help of mutual friends ({{mutual_friend_json|length}}) :</span> We'll let them know what's up and ask them to forward our invitation on to your attraction - without revealing your identity!</span>
<div id="mutual_friend_input_section">
	   {% for field in form %}
	   		{% if field.label != "crush_field" %}
		   		<div class="email_field_input mf_email_field_input">	   			
							<label for="id_mutual_friend_email"><span class="mf_email_name">{{field.label}}</span><img src="http://graph.facebook.com/{{field.help_text}}/picture?width=25&height=25"></label>
							<div class="fieldWrapper">
								{{ field }}
								<div class="email_input_error_section">{{field.errors}}</div>
							</div><!-- close off field wrapper -->
	      	</div> <!--  close off email_field_input -->	   			
	   		{% endif %}
	   {% endfor %}
	   
	</div> <!--  close off mutual_friend_input_section -->      

  <div class="modal_dialog_footer">
          <a class="app_invite_preview">preview anonymous invitation</a>
          <div class="button_bar"><input id="sendbutton" class="modal_dialog_button" type="submit" value="Send"/>
          </div><!-- close off button_bar -->
  </div><!-- close off modal_dialog_footer -->
	<input type="hidden" name="mutual_friend_json" value="{{mutual_friend_json}}">
</div><!-- close off ajaxwrapper -->
</form>