<div id="app_invite_form_wrapper">
<!-- Javascript to help the form validate via ajax without reloading entire page -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
$(document).ready(function() 
{
	var form=$("#app_invite_form");
	
	form.submit(function(e) {

		$("#sendbutton").attr('disabled','disabled');
		$("#sendwrapper").prepend('<span>Sending message, please wait... </span>');
		$("#ajaxwrapper").load(
			form.attr('action') + ' #ajaxwrapper',
			form.serializeArray(),
			function(responseText, responseStatus) {
				$("#sendbutton").removeAttr('disabled')
			}
			); // close off ajax load function
		e.preventDefault();
		}); // close off submit function
		
}); // close off document ready function
</script>

<form id="app_invite_form" action="http://{{request.get_host}}{% url 'crush.views.app_invite_form' crush_username %}" method="post">
	<div id="ajaxwrapper">
		{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.crush_emails.errors }}
        <label for="id_crush_emails">Crush Emails:</label>
        {{ form.crush_emails }}
    </div>
    <div class="fieldWrapper">
        {{ form.mutual_friend_emails.errors }}
        <label for="id_mutual_friend_emails">Mutual Friend Emails:</label>
        {{ form.mutual_friend_emails }}
    </div>
    {% if form.friendlist_string %}
    <div class = "mutualFriendListWrapper">
		 		Mutual friends: {{form.friendlist_string}}
    </div>
    	<input type="hidden" name="mutual_friends" value="{{form.friendlist_string}}">
		{% elif request.POST.mutual_friends != "" %} <!-- grab mutual friend list from post data  -->
				Mutual friends: {{request.POST.mutual_friends}}
				<input type="hidden" name="mutual_friends" value="{{request.POST.mutual_friends}}">
		{% endif %}
		
	

		<p id="sendwrapper"><input id="sendbutton" type="submit" value="Send"/></p>
		</div> 
	</form>
	
</div>