<!DOCTYPE html>
<html>
    <head>

    	
<!-- Add Facebook Friend Selector CSS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
	<script src="{{ STATIC_URL }}bxSlider/jquery.bxslider.js"></script>
<!-- bxSlider CSS file -->
	<link href="{{ STATIC_URL }}bxSlider/jquery.bxslider.css" rel="stylesheet" />
	
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<link type="text/css" href="{{ STATIC_URL }}friend-selector/jquery.friend.selector-1.2.css" rel="stylesheet" />
	<link type="text/css" href="{{ STATIC_URL }}fbdater.css" rel="stylesheet"  />
<!-- Add Facebook Friend Selector JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}friend-selector/jquery.friend.selector-1.2.js"></script>
	

  	
	<title>AttractedTo... | Anonymously connect with attractive friends and friends-of-friends</title>
</head>

<body>

 <div id="fb-root"></div>
 
 <!-- FOR THE EMAIL INVITE POPUP -->
 <div id="app_invite_modal" title="Send Application Invites"></div>

 <script>
 
(function() {
  var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
      }());

window.fbAsyncInit = function() {
  FB.init({ appId: {{facebook_app_id}}, 
  status: true, 
  cookie: true,
  xfbml: true,
  oauth: true}); 
};
   
// set default time of 10 seconds for all ajax calls:  
// lineup initialization will require longer wait time
$.ajaxSetup({
	timeout: '10000'
});

var access_token_error=function(responseText){
	if (responseText.indexOf("HTTPError") != -1){
		reauthorize_user();
		return true;
	}
	else 
		return false;
};

var reauthorize_user=function(){
	alert("For your security, we must periodically re-confirm your Facebook identity.  Our apologies for the inconvenience.");
	location.href="/facebook/login";
};

jQuery(document).ready(function($) {
  $(".bt-fs-dialog").fSelector({ // call the .fSelector function and send it a massive dictionary of option values
	  accessToken: "{{request.user.access_token}}",
	  facebookID: "{{request.user.username}}",
	  malePref:null,// {% if request.user.gender_pref = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
      max:18,
	  excludeIds: "{% for crush_rel in request.user.crush_relationship_set_from_source.all %}{{crush_rel.target_person.username}}{% if not forloop.last %},{% endif %}{% endfor %}",
      closeOverlayClick: true,
      overlayOpacity: "0.8",
      overlayColor: '#000',
      closeOnSubmit: true,
      showSelectedCount: true,
      color: "default",
      showRandom:false,
      lang: {
        title: "Select Your Crushes step 1 of 2",
        buttonSubmit: "Select",
        buttonCancel: "Cancel",
        summaryBoxResult: "{1} best results for {0}",
        summaryBoxNoResult: "No results for {0}",
        searchText: "Enter a friend's name",
        fbConnectError: "You must be logged in to Facebook in order to use this feature.",
        selectedCountResult: "You have choosen {0} people.",
        selectedLimitResult: "Limit is {0} people.",
        ajaxError:"{{ajax_error}}",
      },
      onSubmit: function(response){
			add_friends_to_db(response);
      },
      onHTTPError:reauthorize_user,
    });

  function add_friends_to_db(response)
  {	      
		results = String(response).split(','); // response looks like a comma delimited list of facebook id's
		var result_dictionary = {};
		result_dictionary["csrfmiddlewaretoken"]="{{csrf_token}}";
		for(i=0; i<results.length; i++) 
			result_dictionary[i]=results[i];
  	$.post('/ajax_add_crush_targets/',result_dictionary, function(){
  		// on success redirect to the crush page
  		document.location.href='/attractions/'; // reload page
  	});
  };

	var options = {resizable:false, modal: true, autoOpen: false,title:"Send Application Invites"};
  $(".app_invite_modal").dialog({resizable:false, modal: true, autoOpen: false});
	$(".app_invite_link,.inactive_crushed_friends").on("click", ".app_invite", function(e) {
		app_div_element = $("#app_invite_modal");
		app_div_element.html('<div id="site-loading"></div>');
		app_div_element.dialog(options).dialog("open");
		var crush_username=$(this).attr('crush_username');	
		var load_url="/app_invite_form/" + crush_username + "/";
		app_div_element.load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!="success"){
				if (!access_token_error(responseText))
					$(this).html("{{ajax_error}}");
			}
		});	
		e.preventDefault();
    return false;
	});
     
  $(".inactive_crushed_friends").load('/ajax_friends_with_admirers_content/',function(responseText,textStatus,xhr){
  	if (xhr.status==405)
				reauthorize_user();
  });
  
  
}); // close of jQuery(document).ready

</script>
<div id="site-overlay"><div id="site-loading"></div></div>
<div class="header"><div class="header_content_container">{% include "navigation_top.html" %}</div></div><!-- close off header divs -->


</div><!-- sliding feedback tab -->

<div class="main_container">
	<div class="left_panel">
	<!--start contactable -->
<div id="contactable"><!-- contactable html placeholder --></div>
<script type="text/javascript" src="{{ STATIC_URL }}contactable/jquery.contactable_sw.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}contactable/contactable_sw.css" type="text/css" />
<script>$(function(){$('#contactable').contactable({csrf_token: '{{csrf_token}}'});});</script>
<!--end contactable -->
	<div class="left_content_container">{% include "navigation_left.html" %}</div></div> <!-- close off left side bar -->
	<div class="center_panel"><div class="center_content_container">
		{% block content %}
		{% endblock %}
	</div></div> <!-- close off main_content_container -->
	<div class="right_panel"><div class="right_content_container">{% include "navigation_right.html" %}</div></div> <!-- close off right side bar -->
</div> <!-- close off main container -->

<!--  <fb:like></fb:like>
<BR><BR><a href="/admin/">Admin</a><br>-->
 