{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
	    <meta name="description" content="When you already have someone in mind, but not sure they feel the same... Discover your relationship potential - safely and anonymously." />
	    <meta name="robots" content="all,index" />
	    <meta name="Revisit-After" content="30 Days" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
		<title>AttractedTo |{% block title %}{% endblock %}</title>    	
	    {% block extrahead %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        
        <link type="text/css" href="{{ STATIC_URL }}friend-selector/jquery.friend.selector-1.2.css" rel="stylesheet" />
		<script type="text/javascript" src="{{ STATIC_URL }}friend-selector/jquery.friend.selector-1.2.js"></script>

        <link rel="stylesheet" href="{{ STATIC_URL }}contactable/contactable_sw.css" type="text/css" />
		<script type="text/javascript" src="{{ STATIC_URL }}contactable/jquery.contactable_sw.js"></script>

		<script src="{{ STATIC_URL }}credit_check_dialog.js"></script>

		<link type="text/css" href="{{ STATIC_URL }}fbdater.css" rel="stylesheet"  />
    </head>
<body>
<!-- INITIALIZE FB JS INTEGRATION -->
<div id="fb-root"></div> 
<script>
	window.fbAsyncInit = function() {
	  FB.init({ 
	  	appId: {{facebook_app_id}}, 
	  	status: true, 
	  	cookie: true,
	  	xfbml: true,
	  	oauth: true,
	  });
  	  	// Additional init code here
	};
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

	function login(connect_callback) {
    FB.login(function(response) {
        if (response.authResponse) {
        		if (connect_callback)
        			connect_callback();
            // connected
        } else {
            // cancelled

        }
    });
	}
</script>

<!-- INITIALIZE ATTRACTION SELECTOR DIALOG -->   
<script> 
jQuery(document).ready(function($) {
  $(".bt-fs-dialog").fSelector({ // call the .fSelector function and send it a massive dictionary of option values
	  accessToken: "{{request.user.access_token}}",
	  facebookID: "{{request.user.username}}",
	  malePref:null,// {% if request.user.gender_pref = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
    maleGender: {% if request.user.gender = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
    minimum_samegender_friends:"0",//"{{minimum_samegender_friends}}",
    minimum_crushgender_friends:"0",//"{{minimum_crushgender_friends}}",
    max:18,
	  excludeIds: "{% for crush_rel in request.user.crush_crushrelationship_set_from_source.all %}{{crush_rel.target_person.username}}{% if not forloop.last %},{% endif %}{% endfor %}",
    closeOverlayClick: true,
    overlayOpacity: "0.8",
    overlayColor: '#000',
    closeOnSubmit: true,
    showSelectedCount: true,
    color: "default",
    showRandom:false,
    lang: {
      title: "Select Your Crushes step 1 of 2",
      buttonSubmit: "Select",
      buttonCancel: "Cancel",
      summaryBoxResult: "{1} best results for {0}",
      summaryBoxNoResult: "No results for {0}",
      searchText: "Enter a friend's name",
      fbConnectError: "You must be logged in to Facebook in order to use this feature.",
      selectedCountResult: "You have choosen {0} people.",
      selectedLimitResult: "Limit is {0} people.",
      ajaxError:"{{ajax_error}}",
    },
    onSubmit: function(response){
			add_friends_to_db(response);
    },
    onError: function(){
    	window.alert_user("{{ajax_error}}");
    },
    });

  function add_friends_to_db(response)
  {	      
		results = String(response).split(','); // response looks like a comma delimited list of facebook id's
		var result_dictionary = {};
		result_dictionary["csrfmiddlewaretoken"]="{{csrf_token}}";
		for(i=0; i<results.length; i++) 
			result_dictionary[i]=results[i];
  	$.post('/ajax_add_crush_targets/',result_dictionary, function(){
  		// on success redirect to the crush page
  		document.location.href='/attractions/'; // reload page
  	});
  };
}); // close of jQuery(document).ready
</script>

<!-- AJAX CALL INITIALIZATION -->
<script>
// default to 15 seconds for all ajax calls: (lineup initialization will require longer wait time)
$.ajaxSetup({timeout: '45000'});
</script>

<!-- INITIALIZE SITE-WIDE MESSAGE ALERT DIALOG -->
<script>
jQuery(document).ready(function($) {
  $("#alert_modal").dialog({resizable:false, modal: true, autoOpen: false,zIndex:999999});
 
  window.alert_user=function(message){
    $("#alert_modal").html(message);
    $("#alert_modal").dialog('option','buttons',{
  		"Ok": function() {$(this).dialog("close");
  		}
  	});
		$('#alert_modal').dialog("open");
		$('#alert_modal').dialog("moveToTop");
  };  
  
  var access_token_error=function(responseText){
		if (responseText.indexOf("HTTPError") != -1){
		  reauthorize_user();
			return true;
		}
		else 
			return false;
	};

	var reauthorize_user=function(){
		window.alert_user("For your security, we must periodically re-confirm your Facebook identity.  Our apologies for the inconvenience.");
		setTimeout(function(){location.href="/facebook/login"},1000);
	};
	
	var send_fb_invite = function(recipient_id,crush_name){
  	FB.ui({method: 'send',
  				name: crush_name + " was added as an 'attraction' by one of our users",
  				to: recipient_id,
  				link:'http://www.attractedto.com',
  				description:'AttractedTo.com is a new matchmaking service for people who already have someone (they know) in mind.'
      },
      function(response){
         // regardless of whether user cancels or sends message, reload the appropriate attraction page
         if (response != null){
				  	$(".inactive_crushed_friends").load('/ajax_friends_with_admirers_content/' + recipient_id,function(responseText,textStatus,xhr){
  					if (xhr.status==405)
  						reauthorize_user();
  				});
  			} 
      }      
    );// close off fb.ui
  }; // close off send_fb_message
   
  $(".inactive_crushed_friends").on('click', '#send_fb_invite', function(){
           var crush_id = $(this).attr('crush_username');
           var crush_name = $(this).attr('crush_name');
           send_fb_invite(crush_id,crush_name);
  });
  
// QUERY INACTIVE FRIENDS WITH ADMIRERS
  $(".inactive_crushed_friends").load('/ajax_friends_with_admirers_content/',function(responseText,textStatus,xhr){
  	if (xhr.status==405)
  			reauthorize_user();
  }); 
// INITIALIZE FEEDBACK FORM 
 $(function(){$('#contactable').contactable({csrf_token: '{{csrf_token}}'});});

  
}); // close of jQuery(document).ready
</script>



<div id="site-overlay"><div id="site-loading"></div></div>
<div id="alert_modal" title="AttractedTo.com Error"></div>
<div id="app_invite_modal" title="Send Application Invites"></div>
<div id="credit_check_modal" title="Premium Feature Purchase"></div>


<div class="header">
	<div class="header_container">{% include "navigation_top.html" %}</div>
</div><!-- close off header divs -->

<div class="main_container">
	<div class="left_sidebar">
		<div class="left_sidebar_container">{% include "navigation_left.html" %}</div>
	</div> <!-- close off left_sidebar -->
	<div class="right_sidebar">
		<div class="right_sidebar_container">{% include "navigation_right.html" %}</div>
		<div id="contactable"><!-- contactable html placeholder --></div>
	</div> <!-- close off right_sidebar -->
	<div class="center_panel">
		<div class="center_panel_container">
			{% block content %}
			{% endblock %}
		</div> <!-- close off center_content_container -->
	</div> <!-- close off center_panel -->
</div> <!-- close off main_container -->
</body>
