{% extends "base.html" %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div id="dialog" title="Remove Crush">Are you sure you want to remove this person from your crush list?</div>
<div id="privacy_check_modal" title="Facebook Privacy Setting Warning"></div>
<div id="privacy_check"></div>
<div id="response_modal" title = "Your Attraction's Response"></div>

<script type="text/javascript">
$(document).ready(function() 
{

 /* ---------------------------------------------
 	
 		APP INVITE MODAL
 	
 * -------------------------------------------- */
	var options = {resizable:false, modal: true, autoOpen: false,title:"Send Application Invites"};
	 $("#app_invite_modal").dialog({resizable:false, modal: true, autoOpen: false});
	$(".app_invite_link,.inactive_crushed_friends").on("click", ".app_invite", function(e) {
		app_div_element = $("#app_invite_modal");
		app_div_element.html('<div id="site-loading"></div>');
		app_div_element.dialog(options).dialog("open");
		var crush_username=$(this).attr('crush_username');	
		var load_url="/app_invite_form/" + crush_username + "/";
		app_div_element.load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!="success"){
				if (!access_token_error(responseText))
					$(this).html("{{ajax_error}}");
			}
		});	
		e.preventDefault();
	   return false;
	});

	/* ----------------------------------------------------------------------
	*		FUNCTION - LAUNCH_CREDIT_CHECK
	*  ---------------------------------------------------------------------- */    
 	
  $("a.check_credit").click(function(e) {
		data = {};
		data['csrfmiddlewaretoken']="{{csrf_token}}";
		data['success_path'] = $(this).attr('success_path');	
		data['cancel_url'] =  $(this).attr('cancel_url');
		var unique_id = $(this).attr('unique_id');
		data['unique_id'] = unique_id;
		data['feature_id'] = $(this).attr('feature_id');
		data['purchase_callback_name'] = 'window.display_response_modal(' + unique_id + ')';
		data['ajax_error']='{{ajax_error}}';
		purchase_feature(data);
   }); 

 /* ---------------------------------------------
 	
 		RESPONSE MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */

	var send_fb_message = function(recipient_id){
		FB.ui(
			{
          method: 'send',
					to: recipient_id,
					link:'http://www.attractedto.com',
      },
      function(response){
				// regardless of whether user cancels or sends message, reload the appropriate attraction page
				redirect_after_response_viewed();
      }      
    );
	};
  
  var redirect_after_response_viewed = function(){
    //refresh page unless there is just one responded relationship, then go to completed page
   	{% if crush_type = 0 %}
   		// we're on attractions page. figure out whether to reload or redirect to completed page
   		if ({{responded_relationships.count}} > 1 || {{crushes_in_progress_count}} > 0)
   			location.href="/attractions/";
   		else
   			location.href="/crushes_completed";
   	{% else %}
   		location.href="/crushes_completed/"; // reload page
   	{% endif %}
  };
  
  $("#response_modal").on('click', '#send_fb_message', function(){
	   $(this).parent().dialog("close");
	   var crush_id = $(this).attr('crush_id');
	   send_fb_message(crush_id);
  });
  
  $("#response_modal").dialog({modal: true,resizable:false, autoOpen: false,
	  // handle the clicking of jquery modal's corner close button
	  create: function() {
	            $(this).closest('div.ui-dialog')
	                   .find('a.ui-dialog-titlebar-close')
	                   .click(function(e) {
	                       redirect_after_response_viewed();
	                   });
    }
  });
  
  window.display_response_modal = function(crush_id) {

   	load_url="/ajax_load_response_dialog_content/" + crush_id + "/";
    
    $("#response_modal").html('<div id="site-loading"></div>');
		$("#response_modal").dialog('option', 'buttons', {
  		"Ok": function() {$(this).dialog("close");redirect_after_response_viewed();}
  		});
		$("#response_modal").load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!='success'){
				$(this).html("{{ajax_error}}");
				return false;
			}
		});   	
    $("#response_modal").dialog("open");
    return false;
   };
   
 	// auto call previously defined display_response_modal if there is a server value 
 	{% if reveal_crush_id %}
 		display_response_modal('{{reveal_crush_id}}');
 	{% endif %}
 
/* ---------------------------------------------
 	
 		INITIALIZATION OF Type 2 LINEUP
 	
 * -------------------------------------------- */
	
  $('.crush_block').on('click','#initialize_lineup_btn',function(e) {

  	var crush_username=$(this).parents('.crush_block').attr("username");
  	var initialize_div = $(this).parent('#initialize_lineup');
    initialize_div.html('<div id="loading">initializing lineup...</div>');
		var load_url = '/ajax_initialize_nonfriend_lineup/' + crush_username + '/';
		initialize_div.load(load_url);
	});

	var auto_initialize_new_nonfriend_crushes = function(){
		var fake_initialize_btns = $('#initialize_lineup_btn.fake');
		fake_initialize_btns.each(function(index,element){
			$(element).trigger('click');
		});
		return true;
	};
	auto_initialize_new_nonfriend_crushes();
 /* ---------------------------------------------
 	
 		ADMIN DELETE DIALOG AND HANDLER
 	
 * -------------------------------------------- */

  $("#dialog").dialog({modal: true, autoOpen: false});

  $("a.admin_delete").click(function(e) {
  	var name=$(this).attr('name');	
      var username=$(this).attr('username');
      e.preventDefault();
      $("#dialog").text("Are you sure you want to remove " + name + " from your crush list?");
      $("#dialog").dialog('option', 'buttons', {
 			"Delete": function() {
 				$.get('/ajax_admin_delete_crush_target/' + username + '/',function(){
 					document.location.href='/attractions/'; // reload page
 				});
 			},
  		"Cancel": function() {$(this).dialog("close");
  		}
  		});
      $("#dialog").dialog("open");
      return false;
  });
  
  	// call ajax function to see if deletion if possible, if not then raise alert
  	//   if possible to delete, then confirm action with user before making second ajax call to actually perform the delete
    $("a.delete_crush").click(function(e) {
  		var name=$(this).attr('name');	
      var username=$(this).attr('username');
    	$.get('/ajax_can_crush_target_be_platonic_friend/' + username + '/', function(){
    		// deletion is possible, so open up the confirmation dialog
    		$("#dialog").dialog("open");
    	}).fail(function(response){
 				window.alert_user(response.responseText);
 				return false;
				});  
      e.preventDefault();
      $("#dialog").text("Are you sure you want to remove " + name + " from your crush list?");
      $("#dialog").dialog('option', 'buttons', {
 			"Delete": function() {
 				$.get('/ajax_make_crush_target_platonic_friend/' + username + '/',function(){
 					document.location.href='/attractions/'; // reload page
 				}).fail(function(response){
 				 	$("#dialog").dialog("close");
 				window.alert_user(response.responseText);

 				});
 			},
  		"Cancel": function() {$(this).dialog("close");
  		}
  		});
      
      return false;
  });
  
 /* ---------------------------------------------
 	
 		FACEBOOK PRIVACY SETTINGS CHECK MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */
  
  $("#privacy_check_modal").dialog({modal: true,resizable:false, autoOpen: false});
  $("#privacy_check").click(function(e) {
    e.preventDefault();
    $("#privacy_check_modal").html("Your Facebook privacy setting for this app's visibility is currently NOT set to <i>Only Me</i>. <BR><BR>In order to conceal your identity from your attraction, we strongly urge you to change your settings immediately. <BR><BR> <a href='/help_fb_privacy_setting/' target='_blank'>Learn how here.</a> <BR><BR>");
		$('#privacy_check_modal').dialog("open");
  	return false;
  });
  
  {% if check_fb_privacy_setting %}
  //check for privacy setting value
	var query_string= 'SELECT name,value FROM privacy_setting WHERE name="default_stream_privacy"';
	url = 'https://graph.facebook.com/fql?q=' + query_string + '&access_token={{request.user.access_token}}&callback=?';
  privacy_fetch = $.getJSON(url);
  privacy_fetch.done(function(response){
  	if(response.data[0]['value'] != 'SELF')
     $("#privacy_check").trigger('click');
   });
  {% endif %}  	
        
});
</script>

<!-- Test of an ajax modal dialog 
<a href="#" class="modal_ajax_test">Ajax Modal Test</a><br>
 End Test -->

{% if userlist %}
<h3>The following users were added to your secret crushlist:</h3>
<ul>
	{% for user in userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

{% if duplicate_userlist %}
<h3>The following users are already on your crush list::</h3>
<ul>
	{% for user in duplicate_userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

<!-- ALWAYS display responded crush relationships on top of page, if they exist -->

{% if responded_relationships %}
	<div id ="responses">
	<font color="red"><b>You have responses!</b></font>
	{% for crush in responded_relationships %}
		<div class="crush_block" username="{{crush.target_person.username}}">
		<!-- start: crush first and last name -->
		<b><i>{{crush.target_person.first_name}} {{crush.target_person.last_name}}</i></b>
		({% if crush.friendship_type == 0 %}friend{% elif crush.friendship_type == 1 %}friend-of-friend{% else %}non-friend{% endif %})
		
		&nbsp;&nbsp;&nbsp;
		<!-- end: crush first and last name -->

		<!-- start: crush status graphic -->	
		<font color="gray">not member&nbsp;&nbsp;signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;</font><font color="red">decided on you</font>
		<!--  end: crush status graphic -->
		<BR>		
		<!-- start: crush pic -->
		<img src="{{crush.target_person.get_facebook_picture }}" height=80 width=80>
		<!-- end: crush pic -->
		<BR>
		
		<!--  start: bullet points -->
		* responded to your crush<br>
		* {{crush.date_target_responded|datetime_since}} ago<BR>
		<!--  end: bullet points -->
		
		<!-- start: response button -->
			&nbsp;&nbsp;&nbsp;
			
			<a href="#" class="check_credit" feature_id="2" unique_id="{{crush.target_person.username}}" cancel_url="{{request.build_absolute_uri}}" success_path="{{request.build_absolute_uri}}{{crush.target_person.username}}">View Response</a>

			
		<!-- end: response button -->
		
		<!-- start: secondary data -->
		<br>
		<i>Secondary Data:</i>&nbsp; date added: {{crush.date_added}}&nbsp;|&nbsp;
		<a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank">view facebook page</a>
		&nbsp;|&nbsp;
		
		<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="delete_crush" href="#" >remove as crush</a><BR>
		<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="admin_delete" href="#" >temporary admin: remove as crush</a>		
		<!-- end: secondary data -->
	</div>
	{% endfor %} 
	</div>
{% endif %} 

<!-- Display the crush type navigation widget -->  
<font color="gray">
{% if crush_type = 0 %}
<b>Crushes in Progress ({{crushes_in_progress_count}})</b>&nbsp;&nbsp;<a href="/crushes_completed">Completed Crushes ({{crushes_completed_count}})</a>
{% elif crush_type = 1 %}
<a href="/attractions">Crushes in Progress ({{crushes_in_progress_count}})</a><b>&nbsp;&nbsp;Completed Crushes ({{crushes_completed_count}})</b>
{% endif %}
</font>
  
<! -- End of crush type navigation widget -->  

{% if crush_relationships %}

	{% for crush in crush_relationships %}
	
	<div class="crush_block" username="{{crush.target_person.username}}">
	
<!-- Display NEW or UPDATED if relevant -->  
		{% if crush.updated_flag == True %}
			{% if crush.date_added|datetime_since == '1 minute' or crush.is_results_paid == True %}
				(New)
			{% else %}
				(Updated)
			{% endif %}
			{{ crush.resetUpdatedFlag }}
		{% endif %}
		
<!-- start: crush first and last name -->
		<b><i>{{crush.target_person.first_name}} {{crush.target_person.last_name}}</i></b> 
		({% if crush.friendship_type == 0 %}friend{% elif crush.friendship_type == 1 %}friend-of-friend{% else %}non-friend{% endif %})
		{% if crush_type = 1 %} <b>(YES)</b> {% elif crush_type = 2 %} <b>(NO)</b>{% endif %}
		&nbsp;&nbsp;&nbsp;
<!-- end: crush first and last name -->

<!-- start: crush status graphic -->	

{% if crush.get_display_status < 2 %}
	<font color="red">not member&nbsp;&nbsp;</font><font color="gray">signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;decided on you</font>
	{% elif crush.get_display_status == 2 %}
		<font color="gray">not member&nbsp;&nbsp;</font><font color="red">signed up&nbsp;&nbsp;</font><font color="gray">started crush line-up&nbsp;&nbsp;decided on you</font>
		{% elif crush.get_display_status == 3 %}
			<font color="gray">not member&nbsp;&nbsp;signed up&nbsp;&nbsp;</font><font color="red">started crush line-up&nbsp;&nbsp;</font><font color = gray>decided on you</font>			
			{% else%}
						<font color="gray">not member&nbsp;&nbsp;signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;</font><font color="red">decided on you</font>
{% endif %}

	<!--  end: crush status graphic -->
		<BR>		
		<!-- start: crush pic -->
		<img src="{{crush.target_person.get_facebook_picture }}" height=80 width=80>
		<!-- end: crush pic -->

		<BR>
		
		<!--  start: bullet points -->
		
		
<script>

</script>		


		<!-- Handling for non-friend crushes whose lineups have not been auto-initialized yet -->
{% if crush.friendship_type > 1 %}
{% comment %}
	I'm going to handle non-friend crush initialization at the crush end (late initialization)
	{% if crush.lineup_initialization_status == None or crush.lineup_initialization_status == 0 %}
		<div id="initialize_lineup"><div id="initialize_lineup_btn" class="fake" username="{{crush.target_person.username}}"></div>		
		</div> <!--  close off initialize_lineup div -->
	{% elif crush.lineup_initialization_status == 4 %} <!-- lineup initialization error 2 or 3 -->
		<div id="initialize_lineup"><button id="initialize_lineup_btn">Re-initialize</button>
		* {{ lineup_status_choice_4 }}
		</div><!--  close off initialize_lineup div -->
	{% elif crush.lineup_initialization_status == 5 %} <!-- lineup initialization error 2 or 3 -->
		<div id="initialize_lineup"><button id="initialize_lineup_btn">Re-initialize</button>
		* {{ lineup_status_choice_5 }}
		</div><!--  close off initialize_lineup div -->
	{% endif %}
{% endcomment %}
{% endif %}
		
		<!--  start: normal bullet points -->
		
		{% if crush.get_display_status == 0 %}
			* needs an email invitation from you to sign up and consider your relationship
		{% elif crush.get_display_status == 1 %}
			* not a member<br>
			* app invite(s) sent {{crush.date_invite_last_sent|datetime_since}} ago <span class="app_invite_link"><a class="app_invite" crush_username="{{crush.target_person.username}}" href="#">Send More Invites</a></span>
		{% elif crush.get_display_status == 2 %}
			{% if crush.date_target_signed_up %}
				* signed up {{crush.date_target_signed_up|datetime_since }} ago<BR>
			{% else %}
				* is an existing member<BR>
			{% endif %}
			* must start your crush line-up to assess your relationship
		{% elif crush.get_display_status == 3 %}
			* started crush line-up<br>
			* response expected soon
		{% elif crush.get_display_status == 4 %} 
			* is <i>mutually attracted</i> to you! (as of {{crush.date_target_responded}})<br>
			* [send a message]
		{% else %}
			* is <i>not mutually attracted</i> to you (as of {{crush.date_target_responded}})		
		{% endif %}
		
    <!-- start: conditional button: send invite -->
        {% if crush.target_status == 0 %}
                &nbsp;&nbsp;&nbsp;<B><span class="app_invite_link"><a class="app_invite" crush_username="{{crush.target_person.username}}" href="#">Send App Invite</a></span></B>
        {% endif %}
        <!-- end: conditional button: send invite -->           
        
        <!-- start: secondary data -->
        <br>
        <i>Secondary Data:</i>&nbsp; date added: {{crush.date_added}}&nbsp;|&nbsp; timesince: {{ crush.date_added|datetime_since }} &nbsp;|&nbsp;
        <a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank">view facebook page</a>
        &nbsp;|&nbsp;<BR>
                
		
		<!-- Delete Functionality -->
			
			<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="delete_crush" href="#" >remove as crush</a><BR>	

		<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="admin_delete" href="#" >temporary admin: remove as crush</a>	
		<!-- end: secondary data -->
	</div> <!-- close off crush_block div -->
	{% endfor %}

	
{% elif responded_relationships.count == 0 %}
	{% if crush_type = 0 %}
		<BR><BR>You have no crushes.  <a href="javascript:{}" class="bt-fs-dialog">Click here</a> to find a friend of interest.
	{% else %}
		<BR><BR>You have no completed crushes.
	{% endif %}
{% endif %}
{% endblock %}

