{% extends "base.html" %}
{% block title %}Attractions{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<div id="dialog" title="Remove Crush">Are you sure you want to remove this person from your crush list?</div>
<div id="privacy_check_modal" title="Facebook Privacy Setting Warning"></div>
<div id="privacy_check"></div>
<div id="response_modal" title = "Your Attraction's Response"></div>

<script type="text/javascript">
$(document).ready(function() 
{

 /* ---------------------------------------------
 	
 		APP INVITE MODAL
 	
 * -------------------------------------------- */
	var options = {resizable:false, modal: true, autoOpen: false,title:"Send Application Invites"};
	 $("#app_invite_modal").dialog({resizable:false, modal: true, autoOpen: false});
	$(".app_invite_link,.inactive_crushed_friends").on("click", ".app_invite", function(e) {
		app_div_element = $("#app_invite_modal");
		app_div_element.html('<div id="site-loading"></div>');
		app_div_element.dialog(options).dialog("open");
		var crush_username=$(this).attr('crush_username');	
		var load_url="/app_invite_form/" + crush_username + "/";
		app_div_element.load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!="success"){
				if (!access_token_error(responseText))
					$(this).html("{{ajax_error}}");
			}
		});	
		e.preventDefault();
	   return false;
	});

	/* ----------------------------------------------------------------------
	*		FUNCTION - LAUNCH_CREDIT_CHECK
	*  ---------------------------------------------------------------------- */    
 	
  $("a.check_credit").click(function(e) {

		data = {};
		data['csrfmiddlewaretoken']="{{csrf_token}}";
		data['success_path'] = $(this).attr('success_path');	
		data['cancel_url'] =  $(this).attr('cancel_url');
		var unique_id = $(this).attr('unique_id');
		data['unique_id'] = unique_id;
		data['feature_id'] = $(this).attr('feature_id');
		data['purchase_callback_name'] = 'window.display_response_modal(' + unique_id + ')';
		data['ajax_error']='{{ajax_error}}';
		purchase_feature(data);
		
   }); 

 /* ---------------------------------------------
 	
 		RESPONSE MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */

  
  var redirect_after_response_viewed = function(){
    //refresh page unless there is just one responded relationship, then go to completed page
   	{% if crush_type = 0 %}
   		// we're on attractions page. figure out whether to reload or redirect to completed page
   		if ({{responded_relationships.count}} > 1 || {{crushes_in_progress_count}} > 0)
   			location.href="/attractions/";
   		else
   			location.href="/attractions_completed";
   	{% else %}
   		location.href="/attractions_completed/"; // reload page
   	{% endif %}
  };
  
  $("#response_modal").on('click', '#send_message', function(e){
  	e.preventDefault();
	   var crush_id = $(this).attr('crush_id');
	   //$(this).parent().dialog("close"); 	 
	   // ok to always purchase conversation cause if you're coming from the response dialog then you haven't paid yet
	   purchase_conversation("{{csrf_token}}",crush_id);
  });
  
  $("#response_modal").dialog({modal: true,resizable:false, autoOpen: false,close:function(event,ui){redirect_after_response_viewed();}});
  
  window.display_response_modal = function(crush_id) {

   	load_url="/ajax_load_response_dialog_content/" + crush_id + "/";
    
    $("#response_modal").html('<div id="site-loading"></div>');
		$("#response_modal").dialog('option', 'buttons', {
  		"Ok": function() {$(this).dialog("close");redirect_after_response_viewed();}
  		});
		$("#response_modal").load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!='success'){
				$(this).html("{{ajax_error}}");
				return false;
			}
		});   	
    $("#response_modal").dialog("open");
    return false;
   };
   
   
   $("#view_rating a").click(function(){
   		unique_id=$(this).attr('unique_id');
	   	purchase_rating(unique_id);
   });
   
   $("#response_modal").on('click','#view_rating a',function(){
		unique_id=$(this).attr('unique_id');
		purchase_rating(unique_id);
   });

	var purchase_rating = function(unique_id){
   		data = {};
			data['csrfmiddlewaretoken']="{{csrf_token}}";
			data['success_path'] = '/attractions_completed/' +  '/' + unique_id + '/';
			data['cancel_url'] = 'http://{{request.get_host}}/attractions_completed/' +  '/' + unique_id + '/';
			data['unique_id'] = unique_id;
			data['feature_id'] = '3';
			data['purchase_callback_name'] = 'window.rating_purchased(' + unique_id + ')';
			data['ajax_error']='{{ajax_error}}';
			purchase_feature(data);
	};

 	window.rating_purchased = function(unique_id){
			var rating,html;
			$.get('/ajax_get_platonic_rating/' + unique_id, function(rating){
					rating_element = $('#view_rating');
					if (rating_element.parent().attr("id") == "response_modal"){
						rating_element.html(rating);
					}
					else {
						rating_element.html("* rated your attractiveness:  " + rating );
					}
				}).fail(function(){
					window.alert_user("{{ajax_error}}");
					return;
					});
		}; 
   
 	// auto call previously defined display_response_modal if there is a server value 
 	{% if reveal_crush_id %}
 		display_response_modal('{{reveal_crush_id}}');
 	{% endif %}
 
/* ---------------------------------------------
 	
 		INITIALIZATION OF Type 2 LINEUP
 	
 * -------------------------------------------- */
	
  $('.crush_block').on('click','#initialize_lineup_btn',function(e) {

  	var crush_username=$(this).parents('.crush_block').attr("username");
  	var initialize_div = $(this).parent('#initialize_lineup');
    initialize_div.html('<div id="loading">initializing lineup...</div>');
		var load_url = '/ajax_initialize_nonfriend_lineup/' + crush_username + '/';
		initialize_div.load(load_url);
	});

	var auto_initialize_new_nonfriend_crushes = function(){
		var fake_initialize_btns = $('#initialize_lineup_btn.fake');
		fake_initialize_btns.each(function(index,element){
			$(element).trigger('click');
		});
		return true;
	};
	auto_initialize_new_nonfriend_crushes();
 /* ---------------------------------------------
 	
 		ADMIN DELETE DIALOG AND HANDLER
 	
 * -------------------------------------------- */

  $("#dialog").dialog({modal: true, autoOpen: false});

  $("a.admin_delete").click(function(e) {
  	var name=$(this).attr('name');	
      var username=$(this).attr('username');
      e.preventDefault();
      $("#dialog").text("Are you sure you want to remove " + name + " from your crush list?");
      $("#dialog").dialog('option', 'buttons', {
 			"Delete": function() {
 				$.get('/ajax_admin_delete_crush_target/' + username + '/',function(){
 					document.location.href='/attractions/'; // reload page
 				});
 			},
  		"Cancel": function() {$(this).dialog("close");
  		}
  		});
      $("#dialog").dialog("open");
      return false;
  });
  
  	// call ajax function to see if deletion if possible, if not then raise alert
  	//   if possible to delete, then confirm action with user before making second ajax call to actually perform the delete
    $("a.delete_crush").click(function(e) {
  		var name=$(this).attr('name');	
      var username=$(this).attr('username');
    	$.get('/ajax_can_crush_target_be_platonic_friend/' + username + '/', function(){
    		// deletion is possible, so open up the confirmation dialog
    		$("#dialog").dialog("open");
    	}).fail(function(response){
 				window.alert_user(response.responseText);
 				return false;
				});  
      e.preventDefault();
      $("#dialog").text("Are you sure you want to remove " + name + " from your crush list?");
      $("#dialog").dialog('option', 'buttons', {
 			"Delete": function() {
 				$.get('/ajax_make_crush_target_platonic_friend/' + username + '/',function(){
 					document.location.href='/attractions/'; // reload page
 				}).fail(function(response){
 				 	$("#dialog").dialog("close");
 				window.alert_user(response.responseText);

 				});
 			},
  		"Cancel": function() {$(this).dialog("close");
  		}
  		});
      
      return false;
  });
  
 /* ---------------------------------------------
 	
 		FACEBOOK PRIVACY SETTINGS CHECK MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */
  
  $("#privacy_check_modal").dialog({modal: true,resizable:false, autoOpen: false});
  $("#privacy_check").click(function(e) {
    e.preventDefault();
    $("#privacy_check_modal").html("Your Facebook privacy setting for this app's visibility is currently NOT set to <i>Only Me</i>. <BR><BR>In order to conceal your identity from your attraction, we strongly urge you to change your settings immediately. <BR><BR> <a href='/help_fb_privacy_setting/' target='_blank'>Learn how here.</a> <BR><BR>");
		$('#privacy_check_modal').dialog("open");
  	return false;
  });
  
  {% if check_fb_privacy_setting %}
  //check for privacy setting value
	var query_string= 'SELECT name,value FROM privacy_setting WHERE name="default_stream_privacy"';
	url = 'https://graph.facebook.com/fql?q=' + query_string + '&access_token={{request.user.access_token}}&callback=?';
  privacy_fetch = $.getJSON(url);
  privacy_fetch.done(function(response){
  	if(response.data[0]['value'] != 'SELF')
     $("#privacy_check").trigger('click');
   });
  {% endif %}  	

//$('.crush_block .progress_bar_canal .progress_bar').animate({width:$(this).attr('width')},3500);
$.each($('.crush_block .progress_bar_canal .progress_bar'),function(){
	var attr_width = $(this).attr('width');
	var animate_property = {width:attr_width};
	var ease_function;
	if (attr_width == '505px')
		ease_function = "easeOutQuart";
	else
		ease_function = "easeOutBack"; 
	var duration = 2000;//Math.floor((Math.random()*1500)+1000); 
	$(this).animate(animate_property,duration,ease_function);
		var status_bar = $(this).parent().parent().find('.attraction_status_bar');
		status_bar.children('li.active_status').addClass('active_status_animated');
		status_bar.children('li.past_status').addClass('past_status_animated');
	});      
});
</script>

<!-- ALWAYS display responded crush relationships on top of page, if they exist -->

{% if responded_relationships %}

<div id ="responses">
	<span id="title_new_responses">You have new responses!</span>
	{% for crush in responded_relationships %}
			{% with crush as crush %}
				 	{% include "crush_block.html" %}
				{% endwith %}
	{% endfor %} 
</div>
{% endif %} 

<!-- Display the crush type navigation widget -->  
<span class="title_line"></span>
<ul class="title_bar" id="title_bar_attractions">
	<li class="title_bar_title">Attractions</li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_option">
		filter:
		{% if crush_type = 0  %}
		<a href="#" class="popup_link">not responded<span class="down_arrow">&#x25BC;</span></a>
		<ul class="popup">
			<li>
				<a href="/attractions_completed/">responded ({{crushes_completed_count}})</a>
			</li>
		</ul>
		{% else %}
		<a href="#" class="popup_link">responded ({{crushes_completed_count}})<span class="down_arrow">&#x25BC;</span></a>
		<ul class="popup">
			<li>
				<a href="/attractions/">not responded</a>
			</li>
		</ul>
		{% endif %}
	</li>
</ul>
<! -- End of crush type navigation widget -->  

{% if crush_relationships %}
	{% for crush in crush_relationships %}
		{% with crush as crush %}
				 	{% include "crush_block.html" %}
				{% endwith %}
	{% endfor %}

{% else %}
{% comment }{% elif responded_relationships.count == 0 %}{% endcomment %}

<span id="no_content">
	{% if crush_type = 0 %}
		You do not have any {% if responded_relationships %} ongoing {% endif %}attractions.<BR><BR> <a href="javascript:{}" class="bt-fs-dialog">Add one</a> to get started.
	{% else %}
		You do not have any responded attractions.
	{% endif %}
	</span>
{% endif %}
{% endblock %}

