{% load fbdater_extras %}
        <div class="crush_block crush_status_{{crush.get_display_status}}" username="{{crush.target_person.username}}">
        
<!-- Display Upper-Left Flag: Mutual, NEW or UPDATED - iff relevant -->  
{% if crush.is_results_paid and crush.get_display_status == 4 %}
			<!-- Display MUTUAL ATTRACTION! if relevant -->                 
		  <span class="updated mutual_attraction">mutual</span>
{% elif crush.updated_flag == True %}
     {% if crush.date_added|datetime_since == '1 minute' or crush.is_results_paid == True %}
             <span class="updated">new</span>
     {% else %}
             <span class="updated">updated</span>
     {% endif %}
     {{ crush.resetUpdatedFlag }}
{% endif %}

<ul class="attraction_status_bar">
        <li class="status_bar_name">
                {{crush.target_person.first_name}} {{crush.target_person.last_name}}
        </li>
        <li class="status_responded attraction_status {% if crush.get_display_status > 3 %}active_status{% endif %}">
                responded
        </li>
        <li class="status_started_lineup attraction_status {% if crush.get_display_status == 3 %}active_status{% elif crush.get_display_status > 3 %}past_status{% endif %}">
                started<p>lineup</p>
        </li>
        <li class="status_signed_up attraction_status {% if crush.get_display_status == 2 %}active_status{% elif crush.get_display_status > 2 %}past_status{% endif %}">
                signed up
        </li>
        <li class="status_not_signed_up attraction_status {% if crush.get_display_status < 2 %}active_status{% else %}past_status{% endif %}">
                not<p>signed up</p>
        </li>
</ul>
                
<span class="progress_bar_canal">
        <span class="progress_bar" width="{% if crush.get_display_status < 2 %}271{% elif crush.get_display_status == 2 %}347{% elif crush.get_display_status == 3 %}413{% else %}505{% endif%}"></span>
</span>

<a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank"><img src="{{crush.target_person.get_facebook_picture }}" class="profile_pic"></a>     

<div class="status_detail_box">
<ul class="status_details">
        {% if crush.get_display_status == 0 %}
                <li>needs an email invitation from you to sign up and consider your relationship</li>
        {% elif crush.get_display_status == 1 %}
                <li>not a member</li>
                <li>app invite(s) sent {% if crush.date_invite_last_sent %}{{crush.date_invite_last_sent|datetime_since}} ago&nbsp;&nbsp;{% endif %} <span class="app_invite_link"><a class="app_invite" crush_username="{{crush.target_person.username}}" href="#">send more invites</a></span></li>
        {% elif crush.get_display_status == 2 %}
                {% if crush.date_target_signed_up %}
                        <li>signed up {{crush.date_target_signed_up|datetime_since }} ago</li>
                {% else %}
                        <li>is an existing member</li>
                {% endif %}
                <li>must start your crush line-up to assess your relationship</li>
        {% elif crush.get_display_status == 3 %}
                <li>started crush line-up {{crush.date_lineup_started|datetime_since }} ago</li>
                <li>response expected soon</li>
        {% elif not crush.is_results_paid %}
                <li>responded {% if crush.date_target_responded %}{{crush.date_target_responded|datetime_since}} ago{% endif %}</li>    
        {% elif crush.get_display_status == 4 %} 
                <li> is <i>mutually attracted</i> to you! (as of {{crush.date_target_responded}})</li>
                {% if crush.can_message %} 
                        <li><a href="#" onclick='location.href="/messages/converse/{{crush.target_person.username}}"'>Send a Message</a></li>
                {% endif %}
        {% else %}
                <li>is <i>not mutually attracted</i> to you (as of {{crush.date_target_responded}})</li>
                {% if crush.target_platonic_rating != None %}
                        {% if crush.is_platonic_rating_paid %}                  
                                <li>rated your attractiveness: {{crush.target_platonic_rating}} out of 5 ({{crush.get_target_platonic_rating_display}})</li>
      {% else %}
                                <li id="response_view_rating">Assessed your level of attractiveness: <a href="#" unique_id="{{crush.target_person.username}}">View Feedback</a></li>
                        {% endif %}
                {% endif %}
        {% endif %}     
</ul>
</div> <!-- close off status_detail_box -->
   
 <!-- start: conditional button: send invite -->
{% if crush.get_display_status == 0 %}
        <span class="app_invite_link ">
                <a class="app_invite button" crush_username="{{crush.target_person.username}}" href="#">Send App Invite</a>
                <span class="hint_anonymous">(anonymously)</span>
        </span>
{% elif crush.get_display_status > 3 %} 

        {% if not crush.is_results_paid %}
                <a href="#" class="check_credit button" feature_id="2" unique_id="{{crush.target_person.username}}" cancel_url="{{request.build_absolute_uri}}" success_path="{{request.build_absolute_uri}}{{crush.target_person.username}}">View Response</a>
        {% elif crush.get_display_status == 4 and not crush.can_message %}
                        <a href="#" class="button" onclick="purchase_conversation('{{csrf_token}}','{{crush.target_person.username}}')">send a message</a></li>
        {% endif %}
{% endif %}


<!-- end: conditional button: send invite -->           
       
<span class="view_facebook_widget"><a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank">view<span class="view_facebook_icon"></span></a></span>      
 
<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
                                {{crush.target_person.last_name}}" class="delete_crush" href="#" ></a> 
</div> <!-- close off crush_block div -->
 
        