<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
  <meta name="description" content="When you already have someone in mind, but not sure they feel the same... Discover your relationship potential - safely and anonymously." />
  <meta name="robots" content="all,index" />
  <meta name="Revisit-After" content="30 Days" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
  <link type="text/css" href="{{ STATIC_URL }}fbdater_guest.css" rel="stylesheet"/>
	<title>Attracted To | Discover your relationship potential safely & anonymously</title>
</head>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    

<body>
<div id="logo_section">
	<div class="center_container">
		<span id="top_links"><a href="#">Privacy</a><a href="#">Contact</a></span>
		<h1 id="guest_logo"><span id="attracted">Attracted</span><span id="to">to...<span></h1>
	  <h2 id="tagline1">Attracted to someone you know<br> but not sure they feel the same?</h2>
		<h2 id="tagline2">Discover your relationship potential <span id="safe_text">safely & anonymously</span>.</h3>
		<a class ="facebookbtn" href="/facebook/login"></a>
	</div> <!--  close off center_container div -->
</div> <!-- close off logo_section div -->
<div id="howto_section">	
	<div class="center_container">
		<h2 id="howto_title" class="section_title">How it Works:</h2>
		<BR><BR><i>it is magic. yes, magic. duh.</i>
	</div> <!--  close off center_container div -->
</div> <!-- close off howto_section div -->
<div id="footer_section">	
	<div class="center_container">
	</div> <!--  close off center_container div -->
</div> <!-- close off footer_section div -->
</body>
</html>


