<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
  <meta name="description" content="Attracted to someone you know, but not sure they feel the same... Discover your relationship potential - safely and anonymously." />
  <meta name="robots" content="all,index" />
  <meta name="Revisit-After" content="30 Days" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
  <link type="text/css" href="{{ STATIC_URL }}fbdater_guest.css" rel="stylesheet"/>
	<title>Flirtally | Discover relationship potential safely & anonymously</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function($) {
	
	/*-- ------ HANDLE FACEBOOK LOGIN BUTTON CLICK  -------- */
	
	$('#facebookbtn').click(function(e){
		$(this).hide();
		$('#authentication_wait').show();
		window.location.href="/facebook/login";
	});
	
	/* --------- HANDLE SLIDER BUTTON CLICKS ----------------- */
	
	$('.slide_button').on('click',function(event){
		if ($(this).hasClass('slide_button_active'))
			return;
		var inactive_toggle_delay=400;
		var inactive_toggle_duration=4000;		
		var active_toggle_duration=1000;
		var active_slide=$('.active_tagline_slide');
		var inactive_slide=$('.inactive_tagline_slide');
		// stop the automatic timer if user clicked one of the slider buttons
		if (event.originalEvent!==undefined){
			
			// stop and fast forward any ongoing animations
			active_slide.finish();
			
			// make toggles quick!
			inactive_toggle_duration=500;
			active_toggle_duration=250;
			if (window.slider_control!=null){
				clearInterval(window.slider_control);
				window.slider_control=null;
			}
		}
		else{ // in case of automated slide - only allow two automatic changes
			window.number_automatic_slides+=1;

			if (window.number_automatic_slides ==1 ){
				clearInterval(window.slider_control);
				window.slider_control = setInterval(function(){
					$('.slide_button_inactive').trigger('click');
				},7000);
			}
		}
			

		var active_button=$('.slide_button_active');
		var active_core=active_button.children('span');
		var inactive_button=$(this);
		var inactive_core=$(this).children('span');
		
		inactive_button.removeClass('slide_button_inactive').addClass('slide_button_active');
		
		inactive_core.removeClass('slide_button_core_inactive').addClass('slide_button_core_active');
		
		active_button.removeClass('slide_button_active').addClass('slide_button_inactive');
		
		active_core.removeClass('slide_button_core_active').addClass('slide_button_core_inactive');
		

	
		//active_slide.animate({left:'-985px'},1000,function(){active_slide.css('left','925px');});//slide left out of view
		//inactive_slide.animate({left:'0px'},1000);// slide left into view (from left 925 px)
		//active_slide.fadeToggle('2000');
		active_slide.fadeToggle(active_toggle_duration);
		inactive_slide.delay(inactive_toggle_delay).fadeToggle(inactive_toggle_duration);
		active_slide.removeClass('active_tagline_slide').addClass('inactive_tagline_slide');
		inactive_slide.removeClass('inactive_tagline_slide').addClass('active_tagline_slide');
		// put the slide slid out of view back into the right position:
		
	}); // close of $('.slide_button').click
	
	/* ----------  AUTOMATED SLIDE FLOW --------- */
	// automatically slide in and out the tagline slides until a button is pressed
	window.number_automatic_slides=0;	
	window.slider_control = setInterval(function(){
			$('.slide_button_inactive').trigger('click');
		},4000);
	// auto show the slide marked active (since it is default to display:none
	$('.active_tagline_slide').fadeToggle(2000);
	
	/* --------- HANDLE HOW TO SECTION CLICKS ----------------- */
	
	$('.how_to_link').click(function(event){
		if ($(this).hasClass('how_to_link_active'))
			return;
		
		var active_slide=$('.active_how_to_slide');	
		var inactive_slide=$('.inactive_how_to_slide');
		var slide_container=$('.how_to_slide_container');
	
		// stop and fast forward any ongoing animations	
		active_slide.stop(true,false);
		inactive_slide.stop(true,false);
		slide_container.finish();
		
		var bForSingles = true;
		if ($(this).hasClass('for_singles')){
			active_slide=$('#how_to_slide_setup');
			inactive_slide=$('#how_to_slide_singles');
			var new_height='360';
		}
		else{
			active_slide=$('#how_to_slide_singles');
			inactive_slide=$('#how_to_slide_setup');
			var new_height='540';
			bForSingles=false;
		}
		
		var active_link=$('.how_to_link_active');
		var inactive_link=$(this);
		
		inactive_link.removeClass('how_to_link_inactive').addClass('how_to_link_active');
		active_link.removeClass('how_to_link_active').addClass('how_to_link_inactive');
	
		slide_container.animate({'min-height':new_height},{duration: 500,queue:false});
		
		active_slide.fadeOut({duration:500,queue:false,complete:function(){
			console.log("showing inactive slide and swapping classes");
				inactive_slide.fadeIn(500,function(){
					active_slide.removeClass('active_how_to_slide').addClass('inactive_how_to_slide');
					inactive_slide.removeClass('inactive_how_to_slide').addClass('active_how_to_slide');
					if (!bForSingles)
						window.set_setup_height();
			});
		}}); // close off active_slide.fadeToggle
	});//close off .how_to_link_inactive click handler
	
	/*  ensure all setup step boxes are same length */
	window.set_setup_height = function() {
		  if ($('#how_to_slide_setup').hasClass('active_how_to_slide')) {
			  var max_height = parseInt($('#setup_step_4 .setup_step_text').height()) + 210;
			  $('.setup_step').animate({'min-height':max_height},250);
		  }
	};
	
	var timeoutPointer;
	$(window).resize(function(){
		clearTimeout(timeoutPointer);
		timeoutPointer = setTimeout(window.set_setup_height,100);
	});
	
	
}); // close of jQuery(document).ready


</script>


<body>
<div id="logo_section">
	<div class="center_container">
		<img id="guest_logo" src="/static/images/flirtally_logo.png">
		<span id="top_links"><a href="/contact">Contact</a><a href="/privacy">Privacy</a></span>
		<div class="tagline_slide_container">
			<div class="tagline_slide active_tagline_slide" id="tagline_slide1">
				<h2 id="tagline1">Attracted to someone you know<br> but not sure they feel the same?</h2>
				<h2 id="tagline2">Discover your relationship potential <span id="safe_text">easily and anonymously.</span></h3>
			</div>
			<div class="tagline_slide inactive_tagline_slide" id="tagline_slide2">
				<h2 id="tagline1">Interested in being set up by friends<br> but not if it's complicated or painful?</h2>
				<h2 id="tagline2">Make it easy for friends to set you up <span id="safe_text">without the hassle of introductions.</span></h3>
			</div>
		</div> <!-- close off div class=tagline_slide_container -->
		<a id ="facebookbtn"></a>
		<div id="authentication_wait">authenticating...</div>
		<div id="slide_buttons">
			<span class="slide_button slide_button_active" id="slide_button1"><span class="slide_button_core slide_button_core_active"></span></span>
			<span class="slide_button slide_button_inactive" id="slide_button2"><span class="slide_button_core slide_button_core_inactive"></span></span>
		</div>
	</div> <!--  close off center_container div -->
</div> <!-- close off logo_section div -->
<div id="how_to_section">	
	<div class="center_container">
		<div class="title_section">
			<h2 id="howto_title" class="section_title">How it Works</h2>
			<a href="javascript:;" class="how_to_link how_to_link_active for_singles" id="for_singles">for singles</a>
			<a href="javascript:;" class="how_to_link how_to_link_inactive for_setup" id="for_matchmakers">for matchmakers</a>
		</div>
		<div class="how_to_slide_container">
			<div class="how_to_slide active_how_to_slide" id="how_to_slide_singles">
				<div id="singles_step_1" class="singles_step">
					<span class="singles_step_text_column">
						<span class="singles_step_image"></span>
						<span class="singles_step_title">Friend Selection</span>
						<span class="singles_step_text">
							Select a Facebook friend - or any Facebook user - that you are attracted to. We will send out an anonymous invite to get them signed in.</span>
						</span>
					</span>
					</div>
				<div id="singles_step_2" class="singles_step">
					<span class="singles_step_text_column">
						<span class="singles_step_image"></span>
						<span class="singles_step_title">Admirer Lineup</span>
						<span class="singles_step_text">
							Once your 'attraction' is signed in, we present them with a carefully constructed lineup of potential admirers - you and nine other friends of theirs inserted in random order.  Your friend identifies anyone they are attracted to. Similar to a police lineup, they won't know who their actual admirer is. 				</span>
						</span>
					</span>
				</div>
				<div id="singles_step_3" class="singles_step">
					<span class="singles_step_text_column">
						<span class="singles_step_image"></span>
						<span class="singles_step_title">Match Notification</span>
						<span class="singles_step_text">
							If you are picked from the lineup, we notify both parties about the match.   Your attraction might actually think they chose you first.  If you are not picked, your identity remains protected.			</div>
						</span>
					</span>
					</div>
			<div class="how_to_slide inactive_how_to_slide" id="how_to_slide_setup">
				<div id="setup_step_1" class="setup_step">
				<span class="setup_step_image"></span>
				<span class="setup_step_title">1 Friend Selection</span>
	
					<span class="setup_step_text">
						Select any Facebook friend that you wish to set up i.e. 'your setup friend'.  Select up to ten more friends that you think will make a good match.  We will pass your recommendations on to your setup friend.  <i><strong>Note:</strong> Your friends can also request setups from you.</i>
					</span>
				</div>
				<div id="setup_step_2" class="setup_step">
				<span class="setup_step_image"></span>
				<span class="setup_step_title">2 Setup Selection</span>
	
					<span class="setup_step_text">
						Your setup friend will view the facebook profiles of your recommendations and select the ones they are attracted to.  We invite the chosen recommendations to sign in, so we can determine if the attraction is mutual.
					</span>
				</div>
				<div id="setup_step_3" class="setup_step">
				<span class="setup_step_image"></span>
				<span class="setup_step_title">3 Match Assessment</span>
	
					<span class="setup_step_text">
						Once a recommended user is signed in, we present them with a carefully constructed lineup of potential admirers  -  your setup friend and nine others inserted in random order.  Similar to a police lineup, the recommended user selects anyone they are attracted to. 
					</span>
				</div>
				<div id="setup_step_4" class="setup_step">
				<span class="setup_step_image"></span>
				<span class="setup_step_title">4 Notifications</span>
	
					<span class="setup_step_text">
					If your setup friend is selected, both parties are notified.   If not, your setup friend's identify is protected.<span class="text_break">.</span><strong>As a matchmaker, you get visibility into the entire process.</strong>  We notify you each time one of your friends responds to your setup.  After all is said and done, you'll know exactly who liked whom.
					</span>
				</div>
			</div> <!-- close off <div id="how_to_slide_setup"-->
		</div> <!-- close off how_to_slide_container -->
	</div> <!--  close off center_container div -->
</div> <!-- close off howto_section div -->
<div class="footer_section">
	<div class="center_container">
		<span class="first_footer_line">Flirtally © 2013<span class="company_text">&nbsp;&nbsp;operated by 1310 DCL, Inc.&nbsp;&nbsp;</span><span class="hidden_text">Go Illini!</span></span>
	</div>
</div>
</body>
</html>


