{% extends "base.html" %}
{% block title %}Terms & Conditions{% endblock %}
{% block content %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<h2>Terms & Conditions</h2>
<BR>
Last Updated: May 26, 2013
PLEASE READ THIS DOCUMENT CAREFULLY
1310 Digital Computer Laboratory operates the FIirtally.com website (“Flirtally”). By using Flirtally in any way, you accept these Terms of Service (“Agreement”). If you do not wish to be bound by this Agreement, do not use Flirtally.
Application Usage (Notable Excerpt):
We enforce several usage policies on the site to prevent other users from gaming the system i.e. figuring out what your feelings are without revealing their own.  
When adding a user as an attraction, you agree not to remove the user from your attraction list when any one of the following conditions applies:
•	For the first 7 days after you add a user as your attraction, you agree not to remove that user from your attraction list
•	While your added attraction user is interacting with your associated admirer lineup, you agree not to remove that user from your attraction list.  
o	Period of interaction starts from the time your added attraction user makes a decision on the first lineup member and ends when that user makes a decision on the last lineup member.
•	For the first 7 days after you first view your attraction user’s decision – you agree not to remove your attraction
•	For the first 7 days after your attraction user first views your decision (of mutual attraction) – you may not remove that user from your attraction list
Contents
1.	Who May Use JustMaybe
2.	License to Use JustMaybe
3.	Privacy
4.	Registration
5.	Term and Termination; Account Deletion
6.	Disclaimers; Limitation of Liability
7.	Code of Conduct; Prohibited Activities
8.	Content Restrictions
9.	Licenses Granted by You
10.	Your Representations and Warranties
11.	Indemnification
12.	Third Party Copyrights and Other Rights
13.	General Provisions
 
1.	Who May Use JustMaybe
You must be at least 13 years old to use JustMaybe. Use is void where prohibited. By using JustMaybe, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. If you use JustMaybe, you represent and warrant that you have never been convicted of a felony and that you are not required to register as a sex offender with any government entity.
2.	License to Use JustMaybe
1310 Digital Computer Laboratory grants you a limited, non-exclusive license to access and use JustMaybe for your own personal, non-commercial purposes.  This license is personal to you and may not be assigned or sublicensed to anyone else.
Except as expressly permitted by 1310 Digital Computer Laboratory in writing, you will not reproduce, redistribute, sell, create derivative works from, decompile, reverse engineer, or disassemble JustMaybe.  Nor will you take any measures to interfere with or damage JustMaybe.  All rights not expressly granted by 1310 Digital Computer Laboratory are reserved.  
3.	Privacy
Your privacy rights are set forth in our Privacy Policy (Privacy Policy), which forms a part of this Agreement.  Please review the Privacy Policy to learn about:
•	What information we may collect about you
•	What we use that information for

4.	Registration
To use JustMaybe, you must register an account with your Facebook login, meaning you are authorizing us to access certain information in your Facebook account, including information about Facebook friends you might share in common with other JustMaybe users. By allowing us to access your Facebook account, you expressly acknowledge and agree that we may obtain and share your name and a profile picture, as well as the name and profile picture of your Facebook friends who are common Facebook friends with other JustMaybe users in your network. Please take precautions to protect your password and contact us at help@justmaybe.us if you believe your account has been accessed by an unauthorized person.
5.	Term and Termination; Account Deletion
This Agreement begins on the date you first use JustMaybe and continues until terminated in accordance with the provisions hereof.
1310 Digital Computer Laboratory, Co. may suspend, disable, or delete your account (or any part thereof) if 1310 Digital Computer Laboratory, Co. determines that you have violated any provision of this Agreement or that your conduct or content would tend to damage 1310 Digital Computer Laboratory, Co.’s reputation or goodwill.  If 1310 Digital Computer Laboratory, Co. deletes your account for the foregoing reasons, you may not re-register under a different name. 
Upon termination, all licenses granted by 1310 Digital Computer Laboratory, Co. will terminate.  In the event of account deletion for any reason, content that you submitted may no longer be available.  1310 Digital Computer Laboratory, Co shall not be responsible for the loss of such content. 
6.	Disclaimers; Limitation of Liability
 .	YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER JUSTMAYBE USERS. YOU UNDERSTAND THAT 1310 Digital Computer Laboratory, Co. CURRENTLY DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS. 1310 Digital Computer Laboratory, Co. ALSO DOES NOT INQUIRE INTO THE BACKGROUNDS OF ALL OF ITS USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF ITS USERS. 1310 Digital Computer Laboratory, Co. MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USER. 1310 Digital Computer Laboratory, Co. RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES), AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS.
a.	IN NO EVENT SHALL 1310 Digital Computer Laboratory, Co. BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, EMEPLARY, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, DEATH, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF THE JUSTMAYBE SERVICE OR PERSONS YOU MEET THROUGH JUSTMAYBE. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THE SERVICE, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.
b.	1310 Digital Computer Laboratory, Co. reserves the right to modify JustMaybe.  You are responsible for providing your own access to JustMaybe.  1310 Digital Computer Laboratory, Co. has no obligation to screen or monitor any content and does not guarantee that any content available on JustMaybe complies with this Agreement or is suitable for all users. 
c.	1310 Digital Computer Laboratory, Co. provides Tinder on an “as is” and “as available” basis.  You therefore use Tinder at your own risk.  Tinder, Co. expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law.  Without limiting the foregoing, Tinder, Co. makes no representations or warranties:
a.	That Tinder will be permitted in your jurisdiction;
b.	That Tinder will be uninterrupted or error-free;
c.	Concerning any content submitted by any user;
d.	Concerning any third party’s use of content that you submit;
e.	That any content you submit will be made available on Tinder or will be stored by Tinder, Co.;
f.	That Tinder, Co. will continue to support any particular feature of Tinder;
g.	Concerning sites and resources outside of Tinder, even if linked to from Tinder.

To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used Tinder, and no warranties shall apply after such period.
7.	Code of Conduct; Prohibited Activities
In using Tinder, you must behave in a civil and respectful manner at all times.  Further, you will not:
•	Harass or stalk any other person;
•	Harm or exploit minors;
•	Act in a deceptive manner by, among other things, impersonating any person;
•	Collect information about others;
•	You will not express or imply that any statements you make are endorsed by Tinder, Co. without our specific prior written consent.
•	You will not distribute spam, and will not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.
•	You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.
•	You will not interfere with or disrupt the services or the site or the servers or networks connected to the services or the site.
•	You will not post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.
Tinder, Co. has the right, but not the obligation, to monitor all conduct on and content submitted to Tinder. 
8.	Content Restrictions
You are solely responsible for the content that you publish or display (hereinafter, “post”) on the Service, or transmit to other Members. You will not post on the service, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or illegal material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to Tinder, Co. or to any other user. If information provided to Tinder, Co., or another user, subsequently becomes inaccurate, misleading or false, you will promptly notify us of such change. The following is a partial list of content you may not upload, post, or transmit (collectively, “submit”):
•	is patently offensive to the online community, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;
•	harasses or advocates harassment of another person;
•	promotes information that is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;
•	provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under the age of 18;
•	contains sexually explicit content;
•	provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;
•	involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing or “spamming”;
•	promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated images, audio or video, or links to pirated images, audio or video files;
•	solicits passwords or personal identifying information for commercial or unlawful purposes from other users;
•	engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;
•	infringes any third party’s copyrights or other rights (e.g., trademark, privacy rights, etc.);
Your use of the Service, including but not limited to the content you post on the service, must be in accordance with any and all applicable laws and regulations.
You may not include in your user profile any telephone numbers, street addresses, last names, URLs or email addresses.
9.	Licenses Granted by You
You grant Tinder, Co. and its affiliates a worldwide, perpetual, irrevocable, non-exclusive, royalty-free license and right to copy, transmit, distribute, publicly perform and display (through all media now known or hereafter created), and make derivative works from your content.  In addition, you waive any so-called “moral rights” in your content.  You further grant all users of Tinder permission to view your content for their personal, non-commercial purposes.  If you make suggestions to Tinder, Co. on improving or adding new features to Tinder, Tinder, Co. shall have the right to use your suggestions without any compensation to you. 
10.	Your Representations and Warranties
For each piece of content that you submit, you represent and warrant that: (i) you have the right to submit the content to Tinder, Co. and grant the licenses set forth above; (ii) Tinder, Co. will not need to obtain licenses from any third party or pay royalties to any third party; (iii) the content does not infringe any third party’s rights, including intellectual property rights and privacy rights; and (iv) the content complies with this Agreement and all applicable laws.
11.	Indemnification
You will indemnify, defend, and hold harmless Tinder, Co. and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: (i) arise from your activities on Tinder; (ii) assert a violation by you of any term of this Agreement; or (iii) assert that any content you submitted to Tinder violates any law or infringes any third party right, including any intellectual property or privacy right. 
12.	Third Party Copyrights and Other RightsCopyright Policy
Tinder, Co. respects the intellectual property of others, and we ask our users to do the same. Each user is responsible for ensuring that the materials they upload to Tinder do not infringe any third party copyright.
Tinder, Co. will promptly remove materials in accordance with the Digital Millennium Copyright Act (“DMCA”) if properly notified that the materials infringe a third party’s copyright. In addition, Tinder, Co. may, in appropriate circumstances, terminate the accounts of repeat copyright infringers.
DMCA Takedown Notice
If you believe that your work has been copied in a way that constitutes copyright infringement, please provide us with a written notice containing the following information:
0.	Your name, address, telephone number, and email address (if any).
1.	A description of the copyrighted work that you claim has been infringed.
2.	A description of where the material that you claim is infringing is located on Tinder, sufficient for Tinder, Co. to locate the material.
3.	A statement that you have a good faith belief that the use of the copyrighted work is not authorized by the copyright owner, its agent, or the law.
4.	A statement by you that the information in your notice is accurate and, UNDER PENALTY OF PERJURY, you are the copyright owner or authorized to act on the copyright owner's behalf.
5.	An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.
You may submit this information via:
•	Email: help@gotinder.com
•	Offline:  Tinder, Co.’s Copyright Agent (see below)
DMCA Counter-notification
If you believe that your material has been removed by mistake or misidentification, please provide Tinder, Co. with a written counter-notification containing the following information:
8.	Your name, address, and telephone number.
9.	A description of the material that was removed and the location where it previously appeared.
10.	A statement UNDER PENALTY OF PERJURY that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification.
11.	A statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, any judicial district in which Tinder, Co. may be found (which includes the United States District Court for the Southern District of New York), and that you will accept service of process from the person who filed the original DMCA notice or an agent of that person.
12.	Your electronic or physical signature.

You may submit this information via:
•	Email: help@gotinder.com
•	Offline:  Tinder, Co.’s Copyright Agent (see below)
Please note that we will provide complete counter-notifications to the person making the DMCA claim. That person may elect to file a lawsuit against you for copyright infringement. If we do not receive notice that a lawsuit has been filed within ten (10) business days after we provide notice of your counter-notification, we will restore the disabled materials. Until that time, your materials will remain disabled. 
Warning In filing a DMCA notice or counter-notification, please make sure that you have complied with all of the above requirements. If we request additional information necessary to make DMCA your notice or counter-notification complete, please provide that information promptly. If you fail to comply with all of the requirements, your notification or counter-notification may not be processed.
In addition, please make sure that all of the information you provide is accurate.  UNDER SECTION 512(f) OF THE COPYRIGHT ACT, 17 U.S.C. § 512(f), ANY PERSON WHO KNOWINGLY MATERIALLY MISREPRESENTS THAT MATERIAL OR ACTIVITY IS INFRINGING OR WAS REMOVED OR DISABLED BY MISTAKE OR MISIDENTIFICATION MAY BE SUBJECT TO LIABILITY.
If you have questions about the legal requirements of a DMCA notice, please contact an attorney or see Section 512(c)(3) of the U.S. Copyright Act, 17 U.S.C. § 512(c)(3), for more information.  If you have questions about the legal requirements of a DMCA counter-notification, please contact an attorney or see Section 512(g)(3) of the U.S. Copyright Act, 17 U.S.C. § 512(g)(3), for more information.
Tinder, Co.’s Copyright Agent
You may send a DMCA notice, a DMCA counter-notification, or any inquiries concerning intellectual property to Tinder, Co.’s Copyright Agent:

Tinder, Co.
8800 W. Sunset Blvd
West Hollywood, CA 90069
Department – Copyright Agent  
Email: help@gotinder.com
Other Complaints
You may send non-copyright complaints to:

Tinder, Co.
8800 W. Sunset Blvd
West Hollywood, CA 90069
Department – Copyright Agent  
Email: help@gotinder.com
13.	General Provisions
GOVERNING LAW: This Agreement shall be governed by the laws of the State of New York, United States of America, without regard to principles of conflicts of law.  The Uniform Commercial Code, the Uniform Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale of Goods shall not apply.
DISPUTES: Any action arising out of or relating to this Agreement or your use of Tinder must be commenced in the state or federal courts located in New York County, New York, United States of America (and you consent to the jurisdiction of those courts).  In any such action, Tinder, Co. and you irrevocably waive any right to a trial by jury.
INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES: Headings are for convenience only and shall not be used to construe the terms of this Agreement.  If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement.  No failure or delay by Tinder, Co. in exercising any right hereunder will waive any further exercise of that right.  Tinder, Co.’s rights and remedies hereunder are cumulative and not exclusive. 
SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES: This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without Tinder, Co.’s prior written consent.  No third party shall have any rights hereunder.
NOTICES: You consent to receive all communications including notices, agreements, disclosures, or other information from Tinder, Co. electronically.  Tinder, Co. may provide all such communications by email or by posting them on Tinder.  Support-related inquiries or notices of a legal nature (such as a subpoena) may be sent to us athelp@gotinder.com or the following address:

Tinder, Co.
8800 W. Sunset Blvd
West Hollywood, CA 90069
Department 
Nothing herein shall limit Tinder, Co.’s right to object to subpoenas, claims, or other demands.   
MODIFICATION; ENTIRE AGREEMENT:
This Agreement may not be modified except by a revised Terms of Service posted by Tinder, Co. on Tinder or a written amendment signed by an authorized representative of Tinder, Co.  A revised Terms of Service will be effective as of the date it is posted.  This Agreement constitutes the entire understanding between Tinder, Co. and you concerning the subject matter hereof and supersedes all prior agreements and understandings regarding the same. 


{% endblock %}