{% load fbdater_extras %}

{% if relationship.friendship_type != 1 or relationship.lineup_initialization_status == 1 %}
	{% for member in relationship.lineupmember_set.all %}
		{% if forloop.counter0 < 1 or member.decision != None %}
			<img src="http://graph.facebook.com/{{member.username}}/picture" height=40 width=40>
		{% else %}
			<img src = "http://a3.twimg.com/profile_images/1649076583/facebook-profile-picture-no-pic-avatar_reasonably_small.jpg" height =40 width = 40>
		{% endif %}
	{% endfor %}
{% comment %}
this is for loading fake lineup members for an uninitialized friend-of-friend lineup
{% endcomment %}
{% else %}
	{% for i in 10|get_range %}
		<img src = "http://a3.twimg.com/profile_images/1649076583/facebook-profile-picture-no-pic-avatar_reasonably_small.jpg" height =40 width = 40>
	{% endfor %}
{% endif %}

<BR>
<div id="lineup_btn" display_id="{{relationship.admirer_display_id}}">
{% if relationship.is_lineup_paid == True %}
	{% if relationship.date_lineup_finished != None %}
		Line-up completed {{relationship.date_lineup_finished}}<BR>
    <a href="#" class="view_lineup" display_id="{{relationship.admirer_display_id}}"><BR>View Completed Lineup</a>
	{% else %}
		<a href="#" class="view_lineup" display_id="{{relationship.admirer_display_id}}">Finish Lineup</a>
	{% endif %}
{% elif relationship.friendship_type == 1 %} 
	
	{% if relationship.lineup_initialization_status < 1 %}
		{% if relationship.source_person.gender == 'M' %}
			<a href="#" class="initialize_lineup" display_id="{{relationship.admirer_display_id}}" admirer_gender="male">View Lineup</a>
		{% else %}
			<a href="#" class="initialize_lineup" display_id="{{relationship.admirer_display_id}}" admirer_gender="female">View Lineup</a>
		{% endif %}
	{% elif relationship.lineup_initialization_status == 1  %}
			<a href="#"  class="view_lineup" display_id="{{relationship.admirer_display_id}}">View Lineup</a>
	{% else %}
	 {{fof_fail_status}}
	{% endif %}
{% else %}	
	<a href="#" class="view_lineup" display_id="{{relationship.admirer_display_id}}">View Lineup</a>
{% endif %}
</div>

