{% load base_extras %}
<div class="nav_header">
Main Selections
</div>

<ul id="main_nav" class = "navbar">

		<!-- Left Bar Links -->	
		<li>
			<a class="{% navactive request 'attractions' %}"
				href="{% url 'crush.views.crush_views.attractions' %}">Attractions{% if num_crushes_in_progress %}<span id="num_crushes_in_progress">{{num_crushes_in_progress}}</span>{% endif %}
				<span class="nav_subtext">Determine if they feel the same</span>
			</a>
		</li>
		<li>
			<a class="{% navactive request 'admirers' %}"
				href="{% url 'crush.views.admirer_views.admirers' %}">Admirers {% if num_admirers_in_progress %}({{num_admirers_in_progress}}){% endif %}
				<span class="nav_subtext">See who is attracted to you</span>
			</a>
		</li>
		<li>
			<a class="{% navactive request 'messages' %}"
				href="{% url 'postman_inbox' %}">Messages{% if num_new_messages %} <strong>({{ num_new_messages }})</strong>{% endif %}
				<span class="nav_subtext">Chat with mutual attractions</span>
			</a>
		</li>
</ul>
<a href="javascript:{}" class="bt-fs-dialog button">Add Crush</a>
