{% load base_extras %}

<div id="topbar">
	<div class="navbar">
		<div class="navbar-side navbar-left"></div>
		<div class="navbar-content">
		<!-- Top Bar Links -->
			<a class="{% navactive request 'accounts/login' %}"
				href="{% url 'crush.views.home' %}"><font color=red>Crush</font><font><i>Discovery</i></font></a>
<!-- NOTIFICATIONS (variables are processed in a custom context processor -->

		new responses(<a href="/attractions/">{{num_new_responses}}</a>)
		new admirers(<a href="/admirers/">{{num_new_admirers}}</a>)
		
 <!-- END NOTIFICAIONS -->
			&nbsp;&nbsp;<a href="#" class="bt-fs-dialog">Add Crush</a>&nbsp;&nbsp;
			<a class="{% navactive request 'help_how_it_works' %}"
				href="{% url 'crush.views.help_how_it_works' %}">How it Works</a>
			<a class="{% navactive request 'settings_profile' %}"
				href="{% url 'crush.views.settings_profile' %}">Profile</a>
			<a class="{% navactive request 'settings_notifications' %}"
				href="{% url 'crush.views.settings_notifications' %}">Notifications</a>
			<a class="{% navactive request 'settings_credits' %}"
				href="{% url 'crush.views.settings_credits' %}">Credits ({{request.user.site_credits}})</a>	
			<a href="{% url 'crush.views.logout_view' %}">Logout</a>

		<!-- Left Bar Links -->	
			<BR>
			
			<img src="http://graph.facebook.com/{{ user.username }}/picture" height=40 width=40>
			<b>{{ user.first_name }} {{user.last_name}},</b>

			Settings:

			<a class="{% navactive request 'settings_profile' %}"	
							href="{% url 'crush.views.settings_profile' %}">Profile</a>
			<a class="{% navactive request 'settings_notifications' %}"
				href="{% url 'crush.views.settings_notifications' %}">Notifications</a>
			<a class="{% navactive request 'settings_credits' %}"
				href="{% url 'crush.views.settings_credits' %}">Credits ({{request.user.site_credits}})</a>		
				
			<a class="{% navactive request 'attractions' %}"
				href="{% url 'crush.views.attractions' %}"> Back to Crushes</a>
				
			
		</div>	
		<div class="navbar-side navbar-right"></div>
	</div>
</div>