{% load fbdater_extras %}
<div class="request_block ">
	<img class="request_block_pic" src="http://graph.facebook.com/{{relationship.target_person.username}}/picture?width=60&height=60">
	<span class="request_block_preposition">To:</span>
	<span class="request_block_name">{{relationship.target_person.get_name}}</span>
	<span class="lineup_subtitle">requested {{relationship.date_added|datetime_since}} ago</span> 
	<a href="#" target_username="{{relationship.target_person.username}}" class="resend_request">Resend Request</a>	
</div><!--  close off request block -->