<!-- Javascript to help the form validate via ajax without reloading entire page 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function() 
{
	var form=$("#app_invite_form");
	form.submit(function(e) {

		$("#sendbutton").attr('disabled',true);
		$("#sendwrapper").prepend('<span>Sending message, please wait... </span>');
		$("#ajaxwrapper").load(
			form.attr('action') + ' #ajaxwrapper',
			form.serializeArray(),
			function(responseText, responseStatus) {
				$("#sendbutton").attr('disabled', false)
			}
			); // close off ajax load function
		e.preventDefault();
		}); // close off submit function
		
}); // close off document ready function
</script>
-->

<form id="select_crush_id_by_id_form" action="" method="post">
	<div id="ajaxwrapper">
		{% csrf_token %}
		{{ form.as_p }}
		<p id="sendwrapper"><input id="sendbutton" type="submit" value="Send"/></p>
		</div>
	</form>