{% extends "base.html" %}
{% block title %}Requests for Setups{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
$(document).ready(function() 
{
 	$('.resend_request').click(function(){
 		var target_person_username = $(this).attr('target_username');
 		FB.ui({method: 'send',
	  				name: "{{request.user.first_name}} {{request.user.last_name}} would like your help to find potential dates.",
	  				to: target_person_username,
	  				link:'http://www.justmaybe.us',
	  				description:'JustMaybe.us is a new matchmaking service that makes it easy for friends to match their single friends up with one another.'
			      }
		   	 	);// close off fb.ui
 	});
}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_setup_requests_for_me">
	<li class="title_bar_title">Setup Requests:</li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_page_links">
		{% if request_type == 0  %}
			<span class="title_bar_page_link active_title_bar_page_link title_bar_page_first_link "><span class="page_link_pointer_container"><span class="page_link_pointer page_link_first_pointer"></span></span>from your friends<span class="title_bar_count">{{request_relationships.count}}</span></span>
			<a class="title_bar_page_link inactive_title_bar_page_link" href="/setup_requests_by_me/">made by you<span class="title_bar_count">{{requests_by_me_count}}</span></a>
		{% else %}
			<a class = "title_bar_page_link inactive_title_bar_page_link title_bar_page_first_link" href="/setup_requests_for_me/">from your friends<span class="title_bar_count">{{requests_for_me_count}}</span></a>
			<span class="title_bar_page_link active_title_bar_page_link"><span class="page_link_pointer_container"><span class="page_link_pointer page_link_first_pointer"></span></span>made by you<span class="title_bar_count">{{request_relationships.count}}</span></span>
		{% endif %}
	</li>
</ul>
<! -- End of title widget -->  


{% if request_relationships %}

	{% if request_type == 0 %}
		{% for request_rel in request_relationships %}
			{% with request_rel as relationship %}
	 			{% include "request_for_me_block.html" %}		
			{% endwith %}
		{% endfor %}		
	{% else %}
		{% for request_rel in request_relationships %}
			{% with request_rel as relationship %}
	 			{% include "request_by_me_block.html" %}		
			{% endwith %}
		{% endfor %}	
	{% endif %}

{% else %}
	{% if request_type == 0 %}
		<span id="no_content">You have no requests for setups.&nbsp;&nbsp;<a href="javascript:{}" class="set_up_friend_link">Create a setup</a> anyway.</span>
	{% else %}
		<span id="no_content">You have no outstanding setup requests.&nbsp;&nbsp;<a href="javascript:{}" setup_select="true" class="request_setup_link">Request one</a> to get started.</span>
	{% endif %}
{% endif %}

{% endblock %}