{% extends "base.html" %}
{% block title %}Requests for Setups{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_setup_requests_for_me">
	<li class="title_bar_title">Setup Requests</li>
</ul>
<! -- End of title widget -->  


{% if request_relationships %}

	{% for request_rel in request_relationships %}
		{% with request_rel as relationship %}
 			{% include "request_for_me_block.html" %}		
		{% endwith %}
	{% endfor %}		


{% else %}
		<span id="no_content">No one has currently requested a setup from you.&nbsp;&nbsp;<BR><BR>Why wait - <a href="javascript:{}" class="set_up_friend_link">set up a friend</a> now.</span>
{% endif %}

{% endblock %}