{% extends "base.html" %}
{% block title %}Requests for Setups{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_setup_requests_for_me">
	<li class="title_bar_title">Setup Requests</li>
</ul>
<! -- End of title widget -->  

{% if show_help_popup == True %}
<div class="new_user_instructions">
	<span class="help_icon" title="close help"></span>
	<span class="instructions_title">How Setup Requests Work</span>
	<div class="first_instruction_section no_button_underneath">Your friends may ask for your matchmaking help from time to time.  For each friend requesting a set-up, you can select up to ten other friends who might make a good match.  Your set-up friend will be able to view your recommended friends' facebook profiles and choose any they are attracted to. <a class="show_more">show more</a>	<a class="show_less">show less</a>
	</div>
	<div class="second_instruction_section">For each chosen 'recommendee', we'll try to determine if there is a mutual attraction through the <a href="/attractions">standard attraction / admirer lineup process</a>.  We'll also need your help to get your recommended friend signed up.  As the process unfolds, you'll be able to see exactly who liked whom.
	</div>
</div>		<!-- close off instructional content -->
<p class="new_user_sub_instructions">
	Like how this sounds but prefer to be set up by your friend?<br><a href="javascript:{}" class="request_setup_link" setup_select="true" title="Request Setups from Friends">Request a setup from a friend</a>
</p>
{% endif %}

{% if request_relationships %}

	{% for request_rel in request_relationships %}
		{% with request_rel as relationship %}
 			{% include "request_for_me_block.html" %}		
		{% endwith %}
	{% endfor %}		


{% elif show_help_popup == False %}
		<span id="no_content">No one has </i>currently</i> requested a setup from you.<span class="no_content_action">Why wait - <a href="javascript:{}" class="set_up_friend_link">set up a friend</a> now.</span></span>
{% endif %}

{% endblock %}