{% load fbdater_extras %}
<!-- Javascript to help the form validate via ajax without reloading entire page -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}friend-selector/jquery.friend.selector-1.2.js"></script>
<script>
$(document).ready(function() 
{
	window.setup_target="";
	window.setup_recommendee_array=[];
	window.setup_recommendee_csl="";
	
	$(".setup_selector").fSelector({ // call the .fSelector function and send it a massive dictionary of option values
	  accessToken: "{{request.user.access_token}}",
	  facebookID: "{{request.user.username}}",
	  malePref:null,// {% if request.user.gender_pref = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
    maleGender: {% if request.user.gender = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
    minimum_samegender_friends:"0",//"{{minimum_samegender_friends}}",
    minimum_crushgender_friends:"0",//"{{minimum_crushgender_friends}}",
    closeOverlayClick: false,
    overlayOpacity: "0.5",
    overlayColor: '#000',
    closeOnSubmit: true,
    showSelectedCount: true,
    color: "default",
    showRandom:false,
    lang: {
      title: "Friend Selection",
      searchText: "Enter a friend's name",
      fbConnectError: "You must be logged in to Facebook in order to use this feature.",
      selectedCountResult: "You have choosen {0} people.",
      selectedLimitResult: "Limit is {0} people.",
      ajaxError:"{{ajax_error}}",
    },

    onError: function(){
    	 window.alert_modal('Friend Selection Problem', "{{generic_error_message}}",$('#fs-dialog-box-wrap') );
    },
    onClose: function(){
    	//$(".setup_create_dialog").show();
    	//$(".ui-widget-overlay").show();
    },
    onStart: function(){
      //$(".setup_create_dialog").hide();
    	//$(".ui-widget-overlay").hide();
    	 $("#fs-dialog-box-wrap").draggable({handle:"#fs-dialog-title"});
    	 window.scrollTo(0,0); // hack to allow dialog to show - cause it always loads relative to fixed elements
    	 //$('body').css('overflow-y','hidden !important');
   
    },
    });
    
  window.process_selected_target = function(response){
	  var fullname="";
	  for (attraction in response){
		window.setup_target = attraction.slice(0,-1);
		fullname=response[attraction]
		break;
	  };
  	$('.setup_target_pic').attr('src',"http://graph.facebook.com/" + window.setup_target + "/picture?width=60&height=60");
  	$('.setup_target_pic').attr('title',fullname);
  	$('button#select_setup_target').attr('getStoredFriends',window.setup_target);
   	$('#setup_target_section .dialog_header').removeClass('active_dialog_header'); 	
   	$('#setup_lineup_section .dialog_header').addClass('active_dialog_header'); 	
  	var amendedExcludeIds = "{{exclude_ids}}";
  	if (amendedExcludeIds != "")
  		amendedExcludeIds += ",";
  	amendedExcludeIds += window.setup_target;
  	$('button#select_setup_recommendees').attr('excludeIds',amendedExcludeIds);
	$('#select_setup_recommendees').removeAttr('disabled');
	$('#target_username_input').attr('value',window.setup_target);
	//clear out any existing recommendees
	window.setup_recommendee_array=[];
	window.setup_recommendee_csl="";
	for (var x=0;x<10;x++){
		$('#recommendee_pic_' + x.toString()).attr('src',"/static/images/fb_unknown_user_pic.jpg");
		$('#recommendee_pic_' + x.toString()).attr('title',"");
		$('#recommendee_pic_' + x.toString()).show();
	}
	// note the space is necessary to clear out any previous getStoredFriends
	$('button#select_setup_recommendees').removeAttr('getStoredFriends');
  	$('button#select_setup_target').html("change");
  }
  
  // exclude anyone already added as a recommendee
  window.process_selected_recommendees = function(response){
	  
		window.setup_recommendee_array=[];
		window.setup_recommendee_csl="";
		var array_csl="";
		var x=0;
		var username;
		for (attraction in response){
			username = attraction.slice(0,-1);
		  	window.setup_recommendee_array.push(username);
		  	$('#recommendee_pic_' + x.toString()).attr('src',"http://graph.facebook.com/" + username + "/picture?width=40&height=40");
		  	$('#recommendee_pic_' + x.toString()).attr('title',response[attraction]);
		  	$('#recommendee_pic_' + x.toString()).show();
	  		if (x != 0)
	  			window.setup_recommendee_csl += ',';
	  		window.setup_recommendee_csl += username;
	  		x++;
	  	}
  	for (var hide_index=x;hide_index<10;hide_index++)
 	 	$('#recommendee_pic_' + hide_index.toString()).hide();
 	 $('button#select_setup_recommendees').attr('getStoredFriends',window.setup_recommendee_csl);
 	 // don't need to exlude recommendees from target selection list cause the recommendees list gets cleared out whenever a new target is chosen
 	 //$('button#select_setup_target').attr('excludeIds',window.recomendation_recommendee_csl);
 	 $('.setup_create_dialog .ui-dialog-buttonpane .ui-dialog-buttonset button.site_dialog_button').removeAttr('disabled');
   $('#recommendee_username_csl_input').attr('value',window.setup_recommendee_csl);
	$('button#select_setup_recommendees').html("change");
  }
 
 $(".setup_create_dialog").on('click','#create_setup',function(){
 $("#site-overlay").css('visibility','visible');
   	FB.ui({method: 'send',
  				name: "{{request.user.first_name}} {{request.user.last_name}} has selected some  friends of {{request.user.get_gender_pronoun}} which {{request.user.get_gender_pronoun_subject }} think you may find attractive.",
  				to: window.setup_target,
  				link:'http://www.flirtally.com',
  				description:'Flirtally is a new matchmaking service that allows friends to easily set their friends up with eachother.'
      },
      function(response){
         // regardless of whether user cancels or sends message, reload the appropriate attraction page
         if (response != null){
				  	$('#setup_form').submit();
  				}
  			else {
  				window.alert_modal('Friend Set Up', "We cannot create this set up unless you notify your friend",$('.setup_create_dialog') );
  				$("#site-overlay").css('visibility','hidden');
  				//$('#setup_form').submit();
  			}
  		} // close off function (response)   
    );// close off fb.ui
 });

{% if target_person_username != "" %}
	var my_json={};
	my_json["{{target_person_username}}0"]="";
	window.process_selected_target(my_json);
{% endif %}
		
}); // close off document ready function
</script>

<form id="setup_form" action="http://{{request.get_host}}{% url 'crush.views.setup_create_form' %}" method="post">
		{% csrf_token %}
    <div id="setup_target_section">
			<div class="dialog_header active_dialog_header">
				Step 1: <span class="dialog_header_sentence">Select a friend to set up</span>
			</div>
			<div class="setup_section_content">
				<img class="setup_target_pic" src = "/static/images/fb_unknown_user_pic.jpg">
				<button class="setup_button setup_selector" max_selections="1" {% if excludeIds != "" %}excludeIds ="{{exclude_ids}}" {% endif %} setup_select="true" onSubmit="window.process_selected_target" id="select_setup_target" type="button">select</button>
	  	</div>
	  </div><!-- close setup_target_section -->
    <div id="setup_lineup_section">
			<div class="dialog_header inactive_dialog_header">
				Step 2: <span class="dialog_header_sentence">Select up to ten others to recommend to your friend</span>
			</div>
			<div class="setup_section_content">
				{% for x in 10|get_range %}
					<img class="setup_recommendee_pic" src = "/static/images/fb_unknown_user_pic.jpg" id="recommendee_pic_{{forloop.counter0}}">
				{% endfor %}
				<button class="setup_button setup_selector" max_selections="10" setup_select="true" onSubmit="window.process_selected_recommendees" id="select_setup_recommendees" type="button" disabled>select</button>
	  	</div>
	  </div><!-- close setup_lineup_section -->
	  <input type="hidden" name="target_username" id="target_username_input">
	  <input type="hidden" name="recommendee_username_csl" id="recommendee_username_csl_input">
</form>
<div class="ui-dialog-buttonpane">
		<div class="ui-dialog-buttonset">
			<button type='button' onclick="location.reload();" class="ui-button" ><span class="ui-button-text">Cancel</span></button> 
			<button class="ui-button site_dialog_button" id="create_setup" disabled><span class="ui-button-text" >Create Set-up & Notify Friend</span></button> 
		</div>
	</div><!-- close off button_bar -->
