{% extends "base.html" %}
{% block title %}Setups By You{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">
$(document).ready(function() 
{
  
  
    /** AUTOMATIC FUNCTION - WAIT FOR INITIALIZATION BEFORE RENDERING LINEUP BLOCK
    *
    */
    $('.ajax_display_lineup_block').each(function(){

        var display_id=$(this).attr("display_id");
        var lineup_block_div = $(this).parent('.lineup_block');
        lineup_block_div.html('<div id="loading">initializing lineup...</div>');
        var ajax_url = '/ajax_display_lineup_block/' + display_id + '/'; 
        var ajax_fail_url='/ajax_initialization_failed/' + display_id + '/';
        $.ajax(ajax_url, {
        
   				timeout: 90000, // 90 seconds - purposely set high so the server can time out by itself
   				success: function (data) {
       			lineup_block_div.html(data);
   				},
   				error: function(){
   					lineup_block_div.html("{{fof_fail_status}}");
   					$.get(ajax_fail_url);
   				} 
				});
    });
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 

	//handle help icon show and hide
	$('.lineup_block_instructions').each(function(){window.scrollTo(0,0);$(this).delay(500).show(1000)});
//		$('.admirer_block_instructions').each(function(){window.scrollTo(0,0);$(this).show()});
	$('.lineup_block_instructions .help_icon').click(function(){
		$(this).parent().hide(500);
	});
	
	$('.send_setup_notification').click(function(){
		var recommender_name = "{{request.user.get_name}}";
		var recipient_id = $(this).attr('target_person_username');
		var notification_link = $(this);
		if ((typeof $(this).attr('target_is_recommendee')) !== 'undefined')
			var bTargetIsRecommendee = true;
		else
			var bTargetIsRecommendee = false;
		
		if (bTargetIsRecommendee) {
			FB.ui({method: 'send',
  				name: recommender_name + " found someone you might be attracted to.",
  				to: recipient_id,
  				link:'http://www.justmaybe.us',
  				description:'JustMaybe.us is a new matchmaking service for people who already have someone (they know) in mind.'
      	},function(response){
      		if (response != null){ 
     				// if notification was sent to a recommendee then replace link with appropriate waiting icon
     				notification_link.replaceWith('<span class="setup_responded setup_recommendee_responded setup_responded_waiting" title="waiting for a response"></span>');
     		 		// update the setup lineup members' date_last_notified 
     				$.get('/ajax_update_setup_lineup_member_date_last_notified/' + recipient_id + '/');
      		} // close off if (resposne != null)
     	 	} // close off function(Resposne) - fb.ui response handler
    	);// close off fb.ui
    } // close off if target is recommendee
		else { // target person is not a recommendee - they are a client
			FB.ui({method: 'send',
  				name: recommender_name + " has chosen - just for you - some of {{request.user.get_gender_pronoun}} friends that you may find attractive.",
  				to: recipient_id,
  				link:'http://www.justmaybe.us',
  				description:'JustMaybe.us is a new matchmaking service for people who already have someone (they know) in mind.'
		      },function(response){
		      	if (response != null){  		
							// in case the invite was sent to the setup recommendee, then need to update the setup lineup members' date_notification_last_sent AND need to remove send notification next to target's name 
		     			notification_link.replaceWith('notification sent');     
		     		  $.get('/ajax_update_date_notification_last_sent/' + recipient_id + '/');	
		      	} // close off if (resposne != null)
		      } // close off function(Resposne) - fb.ui response handler
  		);// close off fb.ui
		}	// close off else target is not recommendee
	}); // close off .send_setup_notification hanlder
	
}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<span class="title_line"></span>
<ul class="title_bar" id="title_bar_setups_by_me">
	<li class="title_bar_title">Setups: <i>Made By Me</i></li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_page_links">
		{% if setup_type == 0  %}
			<span class="title_bar_page_link active_title_bar_page_link title_bar_page_first_link "><span class="page_link_pointer_container"><span class="page_link_pointer page_link_first_pointer"></span></span>started<span class="title_bar_count">{{setup_relationships.count}}</span></span>
			<a class="title_bar_page_link inactive_title_bar_page_link" href="/completed_setups_by_me/">finished <span class="title_bar_count">{{setups_completed_count}}</span></a>
		{% else %}
			<a class = "title_bar_page_link inactive_title_bar_page_link title_bar_page_first_link" href="/setups_by_me/">started<span class="title_bar_count">{{setups_incomplete_count}}</span></a>
			<span class="title_bar_page_link active_title_bar_page_link"><span class="page_link_pointer_container"><span class="page_link_pointer page_link_first_pointer"></span></span>finished<span class="title_bar_count">{{setup_relationships.count}}</span></span>
		{% endif %}
	</li>
</ul>
<! -- End of title widget -->  


{% if setup_relationships %}

{% for setup_rel in setup_relationships %}
		{% if setup_type == 0 and setup_rel.display_id == 1 %}
		<p class="lineup_block_instructions">
				This is how it works
				<span class="second_instruction_section">This is your moral support instructions.  Now get to it, newb.</span>
		<span class="help_icon" title="close help"></span>
		</p>		<!-- close off admirer_block line for instructional content -->
		{% endif %}
{% endfor %}

{% for setup_rel in setup_relationships %}
	<div class="setup_by_me_block" display_id="{{setup_rel.display_id}} ">
	{% if setup_rel.updated_flag == True %}
     {% if setup_rel.date_added|datetime_since == '1 minute' %}
             <span class="updated">new</span>
     {% else %}
             <span class="updated">updated</span>
     {% endif %}
     {{ setup_rel.resetUpdatedFlag }}
{% endif %}
			<img class="setup_block_target_pic" src="http://graph.facebook.com/{{setup_rel.target_person.username}}/picture?width=40&height=40">
			<div class="setup_block_title">
				<span class="setup_block_for">For:</span>
	
				<span class="setup_block_target_name">{{setup_rel.target_person.get_name}}</span>
				{% if setup_rel.date_lineup_started == None and setup_rel.date_notification_last_sent|days_since > 6 %} 
					<span class="setup_block_target_status"><a href="#" class="send_setup_notification" target_person_username="{{setup_rel.target_person.username}}">resend notification</a></span>	
				{% endif %}
			
			</div><!-- close off setup_block_title -->
			<div class="setup_response_label setup_target_response_label">
				<div class="setup_response_label setup_response_innerlabel">
					<span class="setup_label_text setup_response_label_text">{{setup_rel.target_person.first_name}}'s responses ({{ setup_rel | setup_target_responses_length}}/{{setup_rel.setuplineupmember_set.all|length}})</span>
				</div>
			</div>
		<div class = "setup_response_section">
		{% for lineup_member in setup_rel.setuplineupmember_set.all %}
			<div class="setup_lineup_member_block">
					<div class="setup_recommendee_target_response"{% if lineup_member.decision == None %}title="waiting for response from {{setup_rel.target_person.first_name}}"{% endif %}>
						<span class="setup_responded {% if lineup_member.decision == None %}setup_responded_waiting{% elif lineup_member.decision == 0 %}setup_responded_yes{% else %}setup_responded_no{% endif %}"></span>
					</div>
					<img class="setup_lineup_member_block_pic" src="http://graph.facebook.com/{{lineup_member.username}}/picture?width=40&height=40">
					<div class="setup_recommendee_response"{% if lineup_member.decision != 0 %} title="recommendee can only respond if {{setup_rel.target_person.first_name}} is attracted to them"{% endif %}>
						{% if lineup_member.decision == 0 %} 
							{% if lineup_member.lineup_member_attraction == 1 %}
								<span class="setup_responded setup_recommendee_responded setup_responded_yes"></span>
							{% elif lineup_member.lineup_member_attraction == 0 %}
								<span class="setup_responded setup_recommendee_responded setup_responded_no"></span>
							{% elif lineup_member.date_last_notified == None %}
								<a href="#" class="send_setup_notification" target_is_recommendee="true" target_person_username="{{lineup_member.username}}">notify friend</a>						
							{% elif lineup_member.date_last_notified|days_since > 6 %}
								<a href="#" class="send_setup_notification" target_is_recommendee="true" target_person_username="{{lineup_member.username}}">notify again</a>
							{% else %}
								<span class="setup_responded setup_recommendee_responded setup_responded_waiting" title="waiting for a response{% if lineup_member.user != None %} from {{ lineup_member.user.first_name }}{% endif %}"></span>
							{% endif %}
						{% else %}
							<span class="setup_responded setup_recommendee_responded setup_responded_null"></span>
						{% endif %}
					</div><!--  close off setup_recommendee_response -->
			</div><!-- close off setup_lineup_member_block -->
		{% endfor %}
		</div> <!-- close off setup_response_section -->
		<div class="setup_response_label setup_recommendee_response_label"><span class="setup_label_text setup_recommendee_responses_label_text">recommendee
		 responses ({{setup_rel | setup_recommendees_responses_length}}/{{setup_rel.setuplineupmember_set.all|length}})</span></div>
	<span class = "setup_added_date">added {{setup_rel.date_added | datetime_since}} ago</span>
	</div><!--  close off setup block -->

{% comment %}
		<div class="admirer_block_line lineup_block" display_id="{{admirer_rel.display_id}}">
			{% if admirer_rel.lineup_initialization_status == 1 %}
					{% with admirer_rel as relationship %}
					 	{% include "lineup_block.html" %}
					{% endwith %}
				{% else %}
				     <div class="ajax_display_lineup_block" display_id="{{admirer_rel.display_id}}"></div>		
				{% endif %}
		</div><!-- close off admirer_block line -->
		<div class="admirer_block_line admirer_block_footer">
		
		{% if relationship.date_lineup_finished != None %}
			lineup completed {{relationship.date_lineup_finished}}
		{% else %}
			added {{admirer_rel.date_added|datetime_since}} ago
		{% endif %}
		</div><!-- close off admirer_block line -->
		{% endcomment %}

{% endfor %}

{% else %}
	{% if setup_type == 0 %}
		<span id="no_content">You have no setups for friends.&nbsp;&nbsp;<a href="javascript:{}" class="set_up_friend_link">Add one</a> to get started.</span>
	{% else %}
		<span id="no_content">You have no finished setups for friends.</span>
	{% endif %}
{% endif %}

{% endblock %}