{% extends "base.html" %}
{% block content %}

<script src='https://raw.github.com/padolsey/jQuery-Plugins/master/cross-domain-ajax/jquery.xdomainajax.js'></script>

<!-- Add Facebook Friend Selector CSS -->

<!-- hi -->

<div id="facebook_modal" title="Fetching Lineup Users">hey there</div>


Response Text:<BR>
{{fetch_response}}
{% for cookie in request.COOKIES.keys %}
{{cookie.key}} {{cookie.value}}
{% endfor%}


<script type="text/javascript">
$(document).ready(function() 
{
	mobile_fb_url = "https://m.facebook.com/friends/?id=1090&f=30";
	cnn_url="http://www.cnn.com";
  //$("#facebook_modal").dialog({modal: true,resizable:true, autoOpen: false});

  fb_url="https://www.facebook.com/lauren.douglass1/friends?ft_ref=mni"
  fb_ajax_url="https://www.facebook.com/ajax/browser/list/allfriends/?uid=721521885&__a=1&start=0"

	//$("#facebook_modal").load('http://http://www.cnn.com .cnn_sectbincntnt2');   	
  //$("#facebook_modal").dialog("open");
	//load_url="http://www.cnn.com";
	//load_url="https://www.facebook.com/ajax/browser/list/allfriends/?uid=33303361&__user=651900292&__a=1&start=0";
		//$("#facebook_modal").load(load_url);
  //$("#facebook_modal").dialog("open");
 
 

  $.ajaxSetup({
  	// headers is comma separated list
  	headers:{'Host':'mwww.facebook.com',
 						'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0) Gecko/20100101 Firefox/18.0',
						'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
						'Accept-Language':'en-US,en;q=0.5sdfsd',
						'Accept-Encoding':'gzip, deflate',
						'Cookie':'datr=atZ4UP1OShGVTlI-gWc21Y6h, fr=0LuO085IH0hedIzMv.AWWBOvOM8QpOj6Q9UuUKu2E6Qco.BQeNZy.8f.AWX99JZi, lu=TgFWbGuV9eaztpeW3vMgvP8Q, locale=en_US, xs=2%3A2AJvurMsfrn2Gg%3A2%3A1359543968, s=Aa7i7C1gIUqwlDts.BRCP6g, csm=2, c_user=1057460663,{{response_key}}={{response_value}}',
						'Connection':'keep-alive'
  	} 
  });
  
 	$.ajax({
  	url: cnn_url,
   	type: 'GET',
   	success: function(res) {
   			console.log(res);
        alert("success: " + res.responseText);
   	}
	}).fail(function(res){
			console.log(res);
			alert("fail: " + res.responseText);
			}
	);


  	//var initialize_div = $(this).parent('#initialize_lineup');
    //initialize_div.html('<div id="loading">initializing lineup...</div>');
		//var load_url = '/ajax_initialize_nonfriend_lineup/' + crush_username + '/';
		//initialize_div.load(load_url).error(function(){
		// in case of server error just stop initialization process
		//console.log(this);
		//alert("bad stuff");
		//var initialize_div = $(this).html("");
		//});

		//scrape_url="http://www.cnn.com/?";
		//$.getJSON(scrape_url,function(json){
		//console.log(json);alert("hi");
});
</script>

{% endblock %}

	