{% load url from future %}
{% load i18n postman_tags %}{% load pagination_tags %}

{% with request.user|can_view:message as is_viewable %}
	{% if message.sender == request.user %}
  	{% if is_viewable %}
  	<div class="conversation_row{% if not message.read_at %} not_read{% endif %}" onclick='location.href="{% url 'postman_converse' message.recipient.username %}"'>
			{% else %}
				<div class="conversation_row{% if not message.read_at %} not_read{% endif %}" onclick='purchase_conversation("{{csrf_token}}","{{message.recipient.username}}")'>
		{% endif %}
	{% else %}
		{% if is_viewable %}
			  <div class="conversation_row{% if not message.read_at %} not_read{% endif %}" onclick='location.href="{% url 'postman_converse' message.sender.username %}"'>
		{% else %}
				<div class="conversation_row{% if not message.read_at %} not_read{% endif %}" onclick='purchase_conversation("{{csrf_token}}","{{message.sender.username}}")'>
		{% endif %}
	{% endif %}
{% endwith %}
{% if not message.read_at %}
	<div class="msg_unread">unread</div>
{% endif %}
<div class="first_column">
	{% if message.sender == request.user %}
		<img src="{{ message.id|attraction_pic:request.user.username }}">
	{% else %}
		<img src="{{ message.sender|user_pic:50 }}">
	{% endif %}
</div> 
<div class="second_column">
	<div class="attraction_name">{% if message.sender == request.user %}<span class="message_prefix message_to_prefix">to:{% else %}<span class="message_prefix message_from_prefix">from:{% endif %}</span>
		{{message.id|attraction_name:request.user.username}}&nbsp;<span class="message_thread_count">({% if message.sender == request.user %}{{ request.user|thread_count:message.recipient }}{% else %}{{ request.user|thread_count:message.sender }}{% endif %} msgs)</span>
	</div> 
	
	<div class="last_activity_date">
	{% if message.sender == request.user %}sent{% else %}received {% endif %}
	{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}
	</div>
	<div class="conversation_body">
		{% if not message.not_read %}<span class="MercuryRepliedIndicator seenByListener repliedLast seenByAll"></span>{% endif %}
	 	{% if message.sender == request.user or request.user|can_view:message %}
	 		{{message.body|truncatebody:75}} 
		{% else %}
			{{message.body|truncatebody:15}} &nbsp;<span class="message_read_more">more</span>
		{% endif %}
	</div><!-- close off conversation_Body -->

 </div><!-- close off second column -->
 </div> <!-- close off conversation_row -->
