
* {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0;

}

body {
	font-family:"varela round","helvetica neue","lucida grande",helvetica,arial,verdana,sans-serif;  
	font-weight:normal;
  	color: #333333;  
 	overflow-x: auto;	
 	overflow-y:scroll;
 	background:#131323;
 	background:#21073D;
 	width:100%;

}

a{
	color:white;
	text-decoration:none;
}

.center_container{	
	width:985px;
	margin:0 auto;
	position:relative;
	padding-left:10px;
	padding-right:5px;
}

#guest_home_page .header {
	display:none;
}

.guest_header .center_container {
	padding-left:0px;
}
.guest_header.authenticated .center_container {
	padding-left:8px;
}

#guest_home_page .header_container {
	position:relative;
	top:0px;
	left:0px;
	width:985px;
	background:none!important;
	height:45px;
}
#guest_home_page .header {
	background:white;
	background:rgba(255,255,255,.95);
	height:45px!important;
	display:block!important;
	top:-45px;
	padding:0px;
	padding-left:15px;
	opacity:0;
}


#guest_home_page .header .header_container a.logo img {
	height:30px;
	opacity:1;
	margin-top:7px;
}

#logo_section{
	margin-top:0;	
	height:575px;
	overflow:hidden;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	background:#000;
	position:relative;
}

div#tagline{
	margin:0 auto;
	margin-top: 70%;
}

#logo_section_background{
	width:100%;
	min-width:1035px;
	position:relative;
	vertical-align:middle;
	opacity:.9;
	-webkit-opacity:.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	background-size:cover;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;

}
#logo_section #center_content {
	position:absolute;
	top:40px;
	width:100%;
}
#logo_section .center_container {
	width:1024px;
	margin:0 auto;
}

#logo_section #logo_bar {
	position:absolute;
	top:70px;
	left:0px;
	width:100%;
	height:100px;
	background:white;
		opacity:20;
		-webkit-opacity:.20;
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	  /* IE 5-7 */
	  filter: alpha(opacity=20);
	  /* Netscape */
	  -moz-opacity: 0.20;
	  /* Safari 1.x */
	  -khtml-opacity: 0.20;
	  /* Good browsers */
	  opacity: 0.20;
}

#logo_section img#guest_logo{
	position:absolute;
	top:50px;
	left:16px;
	height:55px;	
}

#logo_section a.logo_bar_links{
	color:#fff;
	font-size:18px;
	position:absolute;
	top:90px;
	width:140px;
	-webkit-font-smoothing: antialiased;
}
#logo_section a.logo_bar_links:hover{
	-webkit-font-smoothing:auto;
}

#logo_section a#how_it_works_link{
	left:530px;
}
#logo_section a#who_it_works_on_link{
	left:670px;
}
#logo_section a#who_will_know_link{
	left:840px;
}

h2{
	display:inline-block;
}
h2#tagline1{
	position:absolute;
	top:350px;
	left:339px;
	#width:580px;
	#width:600px;
	font-size:35px;
	font-weight:normal;
	line-height:42px;
	text-shadow:1px 1px 1px #000;
	letter-spacing:0px;
	color:#fff;
	display:none;
	font-style:normal;
	font-family:"varela round"
}

.facebookbtn {
	position:absolute;
	left:338px;
	top:446px;
	width:231px;
	height:44px;
	cursor: pointer;
	display:none;
}

.header_container .facebookbtn{
	left:655px;
	top:9px;
}
.header_container .facebookbtn img{
	height:30px;
}

h2#tagline3{
	position:absolute;
	left:391px;
	top:493px;
	color:darkGray;
	font-size:13px;
	font-weight:normal;
	display:none;
	font-family:arial;
}
.facebookbtn:hover{
	background-position: 0 -46px !important;
}
.facebookbtn:active {
	background-position: 0 -92px !important;
}
#authentication_wait {
	display:none;
	position:absolute;
	left:351px!important;
	top:455px!important;
	width: 218px!important;
  	height: 46px!important;
  	padding-top:12px;
	color:gray;
	letter-spacing:1px;
	text-align:center;
	font-size:19px;
	z-index:10;
	#color:#4A4AAB;
	#text-shadow:1px 1px 0px #252556;
	color:#dcdcdc;
}
#authentication_dot {
	position:absolute;
	right:29px;
	bottom:10px;
	color:white;
	font-sytle:bold;
	font-size:20px;
}

/* -----------  INFO SECTIONS ------------  */

span.purple{
	color:#9b4293;
}

.scrolltop {
	background:#9b4293;
	background:#F1F1F1;
	opacity:.6;
	filter:alpha(opacity=60);
	border:1px solid darkGray;
	border-radius:100px 100px 100px 100px;
	webkit-border-radius:100px;
	-moz-border-radius:100px;
	display:none;
	text-align:center;
	height:36px;
	position:fixed;
	top:59%;
	right:2%;
	width:36px;
	z-index:1000;
		/* transition */
	-webkit-transition: 30ms;
	-moz-transition: 300ms;
	transition: 300ms;	
}
.scrolltop:hover{
	opacity:1;
	cursor:default;
}
span#up {
	color:#9b4293;
	#color:white;
	top:7px;
	position:relative;
	
	font-size:14px;
	line-height:20px;
	display:block;
	z-index:1001;
	opacty:1;
}
.icon {
	height:60px;
	display:block;
	margin-bottom:20px;
}

div.info_section {
	display:inline-block;
	padding-top:54px;
	padding-bottom:64px;
	width:100%;	
	#text-align: justify;
}
div.info_section_content {
	margin: 0 auto;
	padding-left:16px;
	width:1024px;
	display:block;
	height:100%;
	text-rendering: optimizeLegibility;
}
 
div.info_column{
	width:336px;
	float:left;
	padding-right:27px;
}
div.info_column1{
	width:321px;
}
div.info_row{
	width:100%;
	display:block;
	padding-right:25px;
}

div.info_section_title {
	font-weight:600;
	font-size:30px;
	margin-bottom:30px;
}	
div.info_section_subtitle{
	margin-bottom:6px;
	font-size:22px;
}

div.info_section_text {
	font-size:16px;
	line-height:28px;
	color:#333333;
}
div#qa_section{
	background-color:#fff;
	margin-top:1px;
	border-top:1px solid rgb(212,212,212);
	border-bottom:1px solid rgb(212,212,212);
}

div#qa_section .icon {
	height:52px;
}
div#qa_section .info_section_title{
	color:red;
	color:#3b5998;
	font-size:28px;
	width:280px;
	line-height:33px;
	margin-bottom:6px;
}

#qa_section .info_section_subtitle {
	color:red;
	color:#3b5998;
	font-size:22px;
}

#qa_section .info_section_text {
	margin-top:7px;
}

#qa_section .info_column1 .info_section_text {
	#font-weight:700;
	color:black;
}
/*
.info_section_content .info_column1 .info_section_text{
	background:#9b4293;
	color:white!important;
	padding-left:5px;
}

.use_case{
	display:inline-block;
}
*/

.info_section_content .info_column1 .info_section_text{
	margin-top:0px!important;
}
.purple_triangle{
	display:inline-block;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 4px 0 4px 6px;
border-color: transparent transparent transparent #9b4294;
margin-right:10px;
}
.use_case {
	display:inline-block;
	#border-radius:15px;
	color:#9b4293;
	#border:1px solid #9b4293;
	#padding:2px 10px;
	#color:#9b4293;
	#color:white;
	#font-size:14px;
	#line-height:20px;
}


div#how_it_works_section {
	background:#532f83;
	background:#9b4293;
	background:#8C3B84;
	color:#fff!important;
	margin-top:-4px;
	margin-bottom:1px;
	-webkit-font-smoothing: antialiased;
}

#guest_page #how_it_works_section{
	background:#fff;
	padding-top:90px;
}

#guest_page #how_it_works_section .info_section_title {
	color:#9B4293;
	text-shadow:none;
	margin-bottom:20px!important;
}
#guest_page .singles_step_title{
	color:#9B4293;
}
#guest_page #how_it_works_section .singles_step_text {
	color:#474747;
}
#guest_page #how_it_works_section #how_to_slide_singles {
	padding-top:0px!important;
	margin-top:-10px!important;
}

div#how_it_works_section .icon {
	margin-bottom:25px;
}
div#how_it_works_section .info_column2 .icon,div#how_it_works_section .info_column3 .icon  {
	opacity:.7;
}
div#how_it_works_section .info_section_title{
	color:#fff;
	text-shadow:1px 1px 0 #21073D;

}

div#how_it_works_section .step_number{
	color:#9b4293;
	color:#fff;
	font-size:18px;
	vertical-align:bottom;
	margin-right:1px;
}

div#how_it_works_section .info_section_subtitle{
	#color:#9b4293;
	color:#fff;
	#border-bottom:1px solid #9b4293;
	#border-bottom:1px solid white;
	#border-color:#532f83;
	#border-color:darkGray;
	#padding-bottom:14px;
	text-shadow:1px 1px 0 #21073D;
		font-weight:600;
	}

div#how_it_works_section .info_section_text {
	margin-top:10px;
	color:white;
	color:#E9E9E9;
	padding-bottom:11px;
	-webkit-font-smoothing: antialiased;
}

div#how_it_works_section .info_column2 .icon {
	height:50px;
	margin-top:10px;
}

div#who_it_works_on_section {
	background:#F2F2F2;
	#background:white;
	border-top:1px solid rgb(212,212,212);
}

div#who_it_works_on_section .icon{
	height:52px;
	margin-bottom:5px;
	display:inline;
	margin-right:15px;
	vertical-align:bottom;

}
div#who_it_works_on_section .info_section_subtitle {
	display:inline;
	#color:#09abe8;
	color:#3b5998;
}

div#who_it_works_on_section .info_section_title {
	color:#3b5998;
	#color:#09abe8;
}
div#who_it_works_on_section .info_section_text{
	margin-bottom:36px;
	margin-top:8px;
	-webkit-font-smoothing: antialiased;
}
div#who_it_works_on_section .info_row3 .info_section_text {
	margin-bottom:0px;
}

div#who_will_know_section {
	background:#fff;
	#background:#F2F2F2;
	border-top:1px solid rgb(212,212,212);
	border-bottom:1px solid rgb(212,212,212);
}
#guest_page #who_will_know_section{
	background:#8C3B84;
}
#guest_page #who_will_know_section .info_section_title,#guest_page #who_will_know_section .info_section_subtitle {
	color:#fff;
}
#guest_page #FAQ_section {
	min-height:800px;
}
div#who_will_know_section .info_section_title {
	color:#ff0000;
	#color:#09abe8;
	color:#9B4293;
}
div#who_will_know_section .info_section_subtitle {
	color:#ff0000;
	#color:#09abe8;
	color:#9B4293;
	margin-right:8px;
	font-size:20px;
}
div#who_will_know_section a {
	color:#09abe8;
}
#guest_page #who_will_know_section a {
	color:silver;
}
div#who_will_know_section a:hover {
	text-decoration:underline;
}
div#who_will_know_section .info_section_text {
-webkit-font-smoothing: antialiased;
font-size:15px;
color:#000;
	
}
/* -----------  HOW TO SECTION ----------- */

#how_to_section {
	background-color:white;
	width:100%;
	display:inline-block;
}
#how_to_section .center_container {
	position:relative;
	background-color:white;
}

#how_to_section .title_section{
	position:absolute;
	display:inilne-block;
	top:5px;
	left:13px;	
	height:100px;
	width:300px;
	z-index:20;
}
#how_to_section h2#howto_title{
	font-size:32px;
	font-weight:normal;
	color:#4A4AAB;
	margin-top:10px;
}

#how_to_section a.how_to_link {
	display:inline-block;
	position:absolute;
	font-size:14px;
	color:#2e2e2e;
	padding:1px 17px 0px 17px;
	border-radius:15px;
	top:55px;
	line-height:24px;
	vertical-align:middle;
	letter-spacing:1px;
}

.how_to_link_inactive{
	color:#1A1A1A;
}
#how_to_section a.how_to_link_inactive:hover{
	background:#EBEBEB;
	background:#F1F2F4;
	transition-property:backgound;
	transition-duration:300ms,300ms;
}

#how_to_section a.how_to_link_active{
	background:#ADADAD;
	background:#A9B3BC;
	color:white;
}

#how_to_section .center_container a#for_singles{
	display:inline-block;
	position:absolute; 
	left:0px;
}
#how_to_section .center_container a#for_matchmakers{
	display:inline-block;
	position:absolute; 
	left:118px;
	white-space:nowrap;
	overflow:hidden;
}

.how_to_slide_container{
	
	min-height:360px;
	display:inline-block;
	position:relative;
	width:100%;
	padding-bottom:10px;
	background:white;
}

.how_to_slide{
	width:100%;
	position:relative;
	display:inline-block;
}

.inactive_how_to_slide{
	display:none;
}
#how_to_slide_setup{
	padding-top:95px;
	margin-left:-5px;
	padding-bottom:15px;
}
.setup_step{
	display:inline-block;
	width:241px;
	min-height:370px!important;
	height:100%;
	top:0px;
	margin-right:1px;
	z-index:10;
	border-radius:15px;
	vertical-align:top;
	background-color:#FAFAFA;
	background: -moz-linear-gradient(top, #FFF, #FFF 20%,#F3F3F3);
	background: -webkit-linear-gradient(top, #FFF, #FFF 20%,#F3F3F3);
	background: -0-linear-gradient(top, #FFF, #FFF 20%,#F3F3F3);
	background: linear-gradient(top, #FFF, #FFF 20%,#F3F3F3);
	padding-bottom:10px;
}

#setup_step_4{	
	background-color:#CCCCD6;
	background: -moz-linear-gradient(top, #FFF, #FFF 20%,#B5B5CE);
	background: -webkit-linear-gradient(top, #FFF, #FFF 20%,#B5B5CE);
	background: -0-linear-gradient(top, #FFF, #FFF 20%,#B5B5CE);
	background: linear-gradient(top, #FFF, #FFF 20%,#B5B5CE);
}
#setup_step_3{	
	background-color:#DBDBE2;
	background: -moz-linear-gradient(top, #FFF, #FFF 20%,#C8C8DA);
	background: -webkit-linear-gradient(top, #FFF, #FFF 20%,#C8C8DA);
	background: -0-linear-gradient(top, #FFF, #FFF 20%,#C8C8DA);
	background: linear-gradient(top, #FFF, #FFF 20%,#C8C8DA);
}
#setup_step_2{	
	background-color:#EBEBEF;
	background: -moz-linear-gradient(top, #FFF, #FFF 20%,#DADAE7);
	background: -webkit-linear-gradient(top, #FFF, #FFF 20%,#DADAE7);
	background: -0-linear-gradient(top, #FFF, #FFF 20%,#DADAE7);
	background: linear-gradient(top, #FFF, #FFF 20%,#DADAE7);
}
#setup_step_1{	
	background-color:#FAFAFB;
	background: -moz-linear-gradient(top, #FFF, #FFF 20%,#EDEDF3);
	background: -webkit-linear-gradient(top, #FFF, #FFF 20%,#EDEDF3);
	background: -0-linear-gradient(top, #FFF, #FFF 20%,#EDEDF3);
	background: linear-gradient(top, #FFF, #FFF 20%,#EDEDF3);
}
.setup_step_title{
	display:inline-block;
	width:100%;
	font-size:20px;
	margin-bottom:9px;
	margin-left:11px;
}
.setup_step_image{
	position:absolute;
	left:2px;
	top:2px;
	display:block;
	border-radius:50%;
	background:white;
	height:125px;
	width:125px;
}

.setup_step_image_border {
	display:block;
	border-radius:50%;
	background:white;
	height:129px;
	width:129px;
	margin-top:15px;
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:0px 5px 15px #2E2E2E;
	position:relative;
}
.setup_step_text{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
	padding:0px 6px 0px 13px;
	line-height:24px;
}

#how_to_slide_singles{
	padding-top:50px;
	padding-bottom:30px;
	padding-left:5px;
}
.how_to_slide #dotted_line {
	position:absolute;
	top:-15px;
	left:56px;
}
.how_to_slide #dotted_line2 {
	position:absolute;
	top:98px;
	left:116px;
}

.guest_page.how_it_works .how_to_slide #dotted_line {
	top:-18px;
}
.guest_page.how_it_works .how_to_slide #dotted_line2 {
	top:48px;
}

.singles_step{
	display:inline-block;
	width:310px;
	height:290px;
	z-index:10;
	vertical-align:top;
	position:relative;
	margin-right:5px;
	white-space:normal;
}

.singles_step_text_column{
	display:block;
	position:absolute;
	width:170px;
	right:0px;
	bottom:10px;
}
.singles_step_title{
	display:block;
	width:100%;
	font-size:20px;
	margin-bottom:5px;
	color:#3B3B89;
}
.singles_step_text{
	display:block;
	font-size:13px;
	font-weight:normal;
	line-height:24px;
}
.singles_step_image{
	display:block;
	border-radius:50%;
	background:white;
	height:125px;
	width:125px;
	position:absolute;
	left:2px;
	top:2px;
}
.singles_step_image_border {
	display:block;
	border-radius:50%;
	background:white;
	height:129px;
	width:129px;
	box-shadow:0px 5px 15px #2E2E2E;
	position:absolute;
	left:-140px;
	top:0px;
}

#singles_step_2{
	margin-left:-10px;
	width:330px;
}
#singles_step_2 .singles_step_text_column{
	width:205px;
}

#singles_step_3{
	margin-left:-5px;
	width:320px;
	margin-right:0px;
}
#singles_step_3 .singles_step_text_column{
	width:180px;
}

.text_break{
	display:block;
	height:1px;
	text-align:center;
	#background:#CFCFD0;
	padding:0px 25px;
	margin-top:3px;
	margin-bottom:3px;
}

/* --------- FOOTER SECTION --------- */
.footer_section .center_container {
	padding-top:35px;
	font-size:16px;
	color:#858585;
	color:#82829B;
	padding-bottom:40px;
	font-family:helvetica,"helvetica neue",arial;
	letter-spacing:1px;
	text-align:center;
}
.footer_section .center_container .first_footer_line{
	display:inline-block;
}
.footer_section .center_container .company_text{
	font-size:16px;
	color:#595959;
	letter-spacing:2px;
}
.hidden_text{

	color:#141432;
}

#bottom_links a{
	font-size:14px;
	display:inline-block;
	margin-left:20px;
	font-weight:normal;
	color:#82829B;
}

/*  ----------- GUEST PAGES ------------ */

body#guest_page{
	background:white;
}

div.guest_header{
	height:58px;
	width:100%;
	position:fixed;
	top:0px;
	z-index:100;
	background-color:#000;
	background: -moz-linear-gradient(top, #000, #000 40%,#000032);
	background: -webkit-linear-gradient(top, #000, #000 40%,#000032);
	background: -0-linear-gradient(top, #000, #000 40%,#000032);
	background: linear-gradient(top, #000, #000 40%,#000032);
	border-bottom:1px solid black;
	padding-left:15px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	
}

.guest_header.authenticated{
	height:50px;
	background:#262626;
	background: -moz-linear-gradient(top, #454545, #262626);
	background: -webkit-linear-gradient(top, #454545, #262626);
	background: -0-linear-gradient(top, #454545, #262626);
	background: linear-gradient(top, #454545, #262626);
	box-shadow: 0 2px 0px #6e6e6e;
}

div.guest_header.authenticated .center_container{
	margin-left:auto;
	margin-right:auto;
}
.guest_header img{
	margin-top:5px;
	height:48px;
	margin-left:6px;
}
.guest_header.authenticated img {
	height:40px;
	margin-top:6px;
	margin-left:0px;
}

#top_links{
	float:right;
	margin-top:19px;
	margin-right:104px;
}

#top_links a{
	font-size:14px;
	display:inline-block;
	margin-left:30px;
	line-height:36px;
	vertical-algin:middle;
	text-align:center;
	padding:0px 12px;

}
#guest_home_page #top_links a{
		#color:#82829B;
		color:white;
}
#guest_home_page #top_links a:hover{
		color:#4A4AAB;
		transition-property:color;
		transition-duration:200ms;
}

.guest_page{
	background:white;
}

.guest_header #top_links{
	line-height:58px;
	padding-top:1px;
	vertical-align:middle;
	margin-top:0px;
}

.guest_header #top_links a {
	padding:0px 12px;
	margin-left:18px;
	line-height:24px;
	vertical-align:middle;
	text-align:center;
	border-radius:15px;
}

.guest_header #top_links a.active{
	background:#666685;
}

.guest_header #top_links a:hover{
	background:#47475D;
	transition-property:background;
	transition-duration:200ms;
}
.guest_header #top_links a.active:hover{
	background:#666685;
	cursor:default;
	}

.guest_header.authenticated #top_links{
	height:50px;
	line-height:50px;
}

.guest_header.authenticated.how_it_works #top_links{
	float:right;
}

.guest_page .center_container{
	padding-top:85px;
	background:white;
	width:880px;
}

/* HOW IT WORKS */

.guest_page.how_it_works .center_container{
	width:1000px!important;
	margin-top:55px;
}

.guest_header.how_it_works .center_container{
	width:1000px!important;
}

.header {
	height: 55px;
	background:#000000;
	background: -moz-linear-gradient(top, #2F2F2F, #181818);
	background: -webkit-linear-gradient(top, #2F2F2F, #181818);
	background: -0-linear-gradient(top, #2F2F2F, #181818);
	background: linear-gradient(top, #2F2F2F, #181818);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	color: white;
	width:100%;
  	position: fixed;
  	top: 0;
  	padding-top:3px;
  	padding-left:15px;
  	width: 100%;
  	z-index: 100;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header_container{
	width:1000px;
	margin-left: auto;
	margin-right:auto;
	#background-color:rgba(255,255,255,.5);
	z-index: 101;
	position:relative;

}

.guest_page.how_it_works .center_container .how_to_slide_container #how_to_slide_singles{
	padding-top:15px!important;
}
.guest_page.how_it_works .center_container .how_to_slide_container #how_to_slide_setup{
	padding-top:40px!important;
}


/* Contact Us */

div.subtitle{
	margin-bottom:30px;
	margin-top:-8px;
	color:#000033;
}
div.contact_box{
	display:block;
	width:250px;
	margin-bottom:35px;
}
.contact_box_title{
	font-weight:bold;
	font-size:18px;
	margin-bottom:8px;
}
div.contact_box a{
	color:#3366ff;
}

/* LEGAL DOCS (Privacy & Terms) */

div.legal{
	width:100%;
	display:inline-block;
	background:white;
	margin-top:10px;
	z-index:10;
}

.legal p{
	display:block;
	font-size:14px;
	margin-bottom:10px;
	line-height:26px;
	
}

.legal p.noteworthy{
	font-weight:bold;
}

.legal p.single_line{
	margin-bottom:3px;
}

.legal h1{
	display:block;
	font-size:22px;
	font-weight:bold;
	margin-bottom:15px;
	color:#000033;
}

.legal h2, .legal h3{
	display:block;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:20px;
}
.legal h3{
	font-size:16px;
}

.legal h2.noteworthy{
	font-style:italic;
	margin-bottom:10px;
}

.legal a{
	color:#0047B2;
}

.legal ul {
	margin-left:25px;
	margin-bottom:20px;
	margin-top:20px;
}
.legal ul li {
	margin-bottom:15px;
	font-size:14px;
}

/* HOW TO PAGE */
.guest_page .center_container #how_to_section .center_container {
	margin-left:-100px;
}

/* FAQ SECTION */
.help_dialog_content {

}
#faq_section .info_section_subtitle {
	margin-top:30px;
}
.qtip-blue {
	background-color:white!important;
}
.tooltip_subtitle {
	display:block;
	padding:4px 0px 4px 4px;
	color:#5E99BD;
	cursor:pointer;
}
.related_subsections{
	display:block;
	background:#DEF0F7;
	padding:4px 5px;
	color:#5E99BD;
	margin-bottom:6px;
	margin-top:12px;
	border-radius:3px;
}

.tooltip_subsection{
	display:block;
	padding:4px 0px 2px 0px;
}
.tooltip_content{
	line-height:16px;
	color:black;
}

.tooltip_relatedcontent{
	display:block;
	margin-left:5px;
	margin-top:2px;
	margin-bottom:15px;
	color:#474747;
	line-height:22px;
	padding-left:6px;
	padding-top:3px;
}

