{% extends "base.html" %}
{% block content %}

{% load fbdater_extras %}
<!-- Display the crush type navigation widget -->  
<HR>
<font color="gray">
{% if admirer_type = 0 %}
<b>Secret Admirers ({{admirer_relationships.count}})</b>&nbsp;&nbsp;<a href="/admirers_past">Past Admirers ({{past_admirers_count}})</a>
{% else %}
<a href="/admirers">Secret Admirers ({{progressing_admirers_count}})</a><b>&nbsp;&nbsp;Past Admirers ({{admirer_relationships.count}})</b>
{% endif %}
</font>
<BR><BR>
  
<! -- End of crush type navigation widget -->  

{% if admirer_relationships %}
	<ul>
		{% for admirer_rel in admirer_relationships %}
			<li> Secret Admirer #{{admirer_rel.admirer_display_id}} (added {{admirer_rel.date_added|datetime_since}} ago) ({{admirer_rel.source_person.first_name}} {{admirer_rel.source_person.last_name}} - <small>{{admirer_rel.source_person.facebook_username}})</small> 
			<BR><img src="http://graph.facebook.com/{{ admirer_rel|admirer_lineup_username:"0"}}/picture" height=40 width=40> <img src="http://graph.facebook.com/{{ admirer_rel|admirer_lineup_username:"1" }}/picture" height=40 width=40>
			{% for x in "xxxxxxxx" %}
				<img src = "http://a3.twimg.com/profile_images/1649076583/facebook-profile-picture-no-pic-avatar_reasonably_small.jpg" height =40 width = 40>
			{% endfor %}
			<BR>
			{% if admirer_rel.is_lineup_paid %}
				<a href="/lineup/{{admirer_rel.admirer_display_id}}/">Finish Lineup</a>
			{% else %}
				<a href="/lineup/{{admirer_rel.admirer_display_id}}/">Start Lineup</a>
			{% endif %}
			<BR><BR>
		{% endfor %}
		
	</ul>
{% else %}
	THERE ARE NO {% if admirer_type = 0 %} CURRENT {% else %} PAST {% endif %} SECRET ADMIRERS!
{% endif %}


{% endblock %}