{% extends "base.html" %}
{% block title %}Admirers{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
$(document).ready(function() 
{
    /** FUNCTION - HANDLE View Lineup Click
    *
    */
    var lineup_dialog = $("#lineup_modal").dialog({dialogClass:'lineup_modal_dialog',modal: true, show: 'fade',width:575,height:454,resizable:false,autoOpen: false,close:function(event,ui){window.handle_lineup_dialog_close();}});
    $('.lineup_block').on('click', '.view_lineup', function(e) {
		var display_id=$(this).attr('display_id');		
		window.wait_modal_open();
		load_url="/ajax_show_lineup_slider/" + display_id + "/";
	    e.preventDefault();
	    $("#lineup_modal").load(load_url,function(responseText,textStatus,XHR){
			if (textStatus!='success'){
				$(this).dialog("close");
				window.alert_modal("Lineup Problem", "{{generic_error_message}}" );
				return false;
				}
			lineup_dialog.dialog("open");
			window.startup_slider();
			$(':focus').blur();
			window.wait_modal_close();
		});   
	    
	});			
  
    /** AUTOMATIC FUNCTION - WAIT FOR INITIALIZATION BEFORE RENDERING LINEUP BLOCK
    *
    */
    $('.ajax_display_lineup_block').each(function(){

        var display_id=$(this).attr("display_id");
        var lineup_block_div = $(this).parent('.lineup_previews');
        lineup_block_div.html('<div id="loading"><span id="creating_lineup_text">creating your lineup... &nbsp;&nbsp;&nbsp;it could take us a few minutes</span></div>');
        var ajax_url = '/ajax_display_lineup_block/' + display_id + '/'; 
        var ajax_fail_url='/ajax_initialization_failed/' + display_id + '/';
        $.ajax(ajax_url, {
        
   				timeout: {{lineup_block_timeout}}, // 240 seconds (4 minutes) - purposely set high so the server can time out by itself
   				success: function (data) {
   					if (data == ""){
   						lineup_block_div.html("{{fof_fail_status}}");
   	   					$.get(ajax_fail_url);
   					}
   					else
   						lineup_block_div.html(data);
   				},
   				error: function(){
   					lineup_block_div.html("{{fof_fail_status}}");
   					$.get(ajax_fail_url);
   				} 
				});
    });
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 
	
	// auto expand the help section
	$('.show_more').trigger('click');

}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_admirers">
	<li class="title_bar_title">Admirers</li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_page_links">
		{% if admirer_type == 0  %}
			<span class="title_bar_page_link active_title_bar_page_link title_bar_page_first_link ">new<span class="title_bar_count"> {{admirer_relationships.count}}</span></span>
			<a class="title_bar_page_link inactive_title_bar_page_link" href="/admirers_past/">lineup finished<span class="title_bar_count"> {{past_admirers_count}}</span></a>
		{% else %}
			<a class = "title_bar_page_link inactive_title_bar_page_link title_bar_page_first_link" href="/admirers/">new<span class="title_bar_count"> {{progressing_admirers_count}}</span></a>
			<span class="title_bar_page_link active_title_bar_page_link"><span class="page_link_pointer_container"><span class="page_link_pointer page_link_second_pointer"></span></span>lineup finished<span class="title_bar_count"> {{admirer_relationships.count}}</span></span>
		{% endif %}
	</li>
</ul>
<! -- End of crush type navigation widget -->  

{% if show_help_popup == True %}
<div class="new_user_instructions">
	<span class="instructions_title">How Admirer Lineups Work</span>
	<div class="first_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text"><strong>You've got an admirer!</strong> To protect their identity (in case the attraction isn't mutual), we've inserted them into a randomly ordered lineup of potential admirers.</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">Select any potential admirer you're attracted to.</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">Your selections are completely private.  Not even your friends will know.</span></div>
		<a class="show_more">show more</a><a class="show_less">show less</a> 
	</div>
		<div class="second_instruction_section">
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">In turn, we provide each of your selections with a similar type of lineup - with you in it!</span></div>
		<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">We'll notify you if your selections like you back <i>or not</i>.  That's it - now get crackin!</span></div>
	</div>
<span class="help_icon" title="close help"></span>
</div>		<!-- close off lineup_block line for instructional content -->
{% endif %}

{% if admirer_relationships %}

{% for admirer_rel in admirer_relationships %}
	<div class="lineup_block admirer_lineup_block" display_id="{{admirer_rel.display_id}} ">
		<div class="lineup_block_line lineup_block_first_line">
			<div class="from_pic_div" >
				<img class="from_pic" src = "{{ STATIC_URL }}images/fb_unknown_user_pic.jpg">
				<span class="admirer_question"></span>
			</div>
			<div class="lineup_title">
				<span class="lineup_block_from">From:</span>
				<span class="lineup_block_source_name">Admirer #{{admirer_rel.display_id}}</span>
				{% if admirer_rel.friendship_type == 0 %} 
					<span class="lineup_subtitle">a friend of yours!</span> 
				{% elif admirer_rel.friendship_type == 1 %}
					<span class="lineup_subtitle">has mutual Facebook friend(s)</span>
				{% else %}
					<span class="lineup_subtitle">has no Facebook friends in common with you</span>
				{% endif %}
			</div><!-- close off lineup title -->
		</div><!-- close off lineup_block line -->

		<div class="lineup_block_line lineup_previews" display_id="{{admirer_rel.display_id}}">
			<span class="lineup_preview_label">Lineup Preview:</span>
			{% if admirer_rel.lineup_initialization_status == 1 %}
					{% with admirer_rel as relationship %}
					 	{% include "lineup_block.html" %}
					{% endwith %}
			{% else %}
			     <div class="ajax_display_lineup_block" display_id="{{admirer_rel.display_id}}"></div>		
			{% endif %}
		</div><!-- close off admirer_block line -->
		<div class="lineup_block_line lineup_block_footer">
		
		{% if relationship.date_lineup_finished != None %}
			lineup completed {{relationship.date_lineup_finished}}
		{% else %}
			added {{admirer_rel.date_added|datetime_since}} ago
		{% endif %}
		</div><!-- close off admirer_block line -->
	</div><!--  close off admirer block -->
{% endfor %}

{% else %}
	{% if admirer_type == 0 %}
		<span id="no_content">You have no <i>new</i> admirers.</span>
	{% else %}
		<span id="no_content">You have no admirers <i>with finished lineups</i>.</span>
	{% endif %}
{% endif %}

<div id="lineup_modal" title="Admirer Lineup&trade;"></div>
{% endblock %}