{% extends "base.html" %}
{% block title %}Admirers{% endblock %}
{% block content %}
{% load fbdater_extras %}

$(document).ready(function() 
{
    /** FUNCTION - HANDLE View Lineup Click
    *
    */
    var lineup_dialog = $("#lineup_modal").dialog({dialogClass:'lineup_modal_dialog',modal: true, height: '366',show: 'fade',width:575,resizable:false,autoOpen: false,close:function(event,ui){window.handle_lineup_dialog_close();}});
    $('.lineup_block').on('click', '.view_lineup', function(e) {
		var display_id=$(this).attr('display_id');		
		window.wait_modal_open();
		load_url="/ajax_show_lineup_slider/" + display_id + "/";
	    e.preventDefault();
	    {% if DEBUG!= True %}
	    ga('send', 'event', 'button', 'click', 'view_lineup_button');
	    {% endif %}
		$(".lineup_modal_dialog").children(".ui-dialog-titlebar").append("<span class='help_icon'>?</span>");


		$(".lineup_modal_dialog .ui-dialog-titlebar .help_icon").qtip({
			content:{
				text:$('#lineup_dialog_help_content'),
				title:'How do admirer lineups work?'
			},
			show:{
				delay:0,
			},
			hide:{
				delay:500,
				fixed:true,
			},
			style:{
				classes: 'qtip-blue qtip-rounded qtip-shadow',
				tip:{
					corner:true
				}
			}
		});	
	    $("#lineup_modal").load(load_url,function(responseText,textStatus,XHR){

			if (textStatus!='success'){
				$(this).dialog("close");
				window.alert_modal("Lineup Problem", "{{generic_error_message}}" );
				return false;
				}

			lineup_dialog.dialog("open");
			window.startup_slider();
			$(':focus').blur();
			window.wait_modal_close();
		}); 

	});			
  
    /** AUTOMATIC FUNCTION - WAIT FOR INITIALIZATION BEFORE RENDERING LINEUP BLOCK
    *
    */
    $('.ajax_display_lineup_block').each(function(){

        var display_id=$(this).attr("display_id");
        var lineup_block_div = $(this).parent('.lineup_previews');
        $(this).html('<div id="loading"><span id="creating_lineup_text">creating your lineup... &nbsp;&nbsp;&nbsp;it could take us a few minutes</span></div>');
        var ajax_url = '/ajax_display_lineup_block/' + display_id + '/'; 
        var ajax_fail_url='/ajax_initialization_failed/' + display_id + '/';
        
        $.ajax(ajax_url, {
        
   				timeout: {{lineup_block_timeout}}, // 240 seconds (4 minutes) - purposely set high so the server can time out by itself
   				success: function (data) {
   					if (data == ""){
   						lineup_block_div.html("<div class='lineup_error'>{{fof_fail_status}}</div>");
   	   					$.get(ajax_fail_url);
   					}
   					else{
   						lineup_block_div.html(data);
   					}
   				},
   				error: function(){
   					lineup_block_div.html("<div class='lineup_error'>{{fof_fail_status}}</div>");
   					$.get(ajax_fail_url);
   				} 
				});
				
    });
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 
	
	// auto expand the help section
	//$('.show_more').trigger('click');
	
	$(".admirer_lineup_block .help_icon").qtip({
		position: {
	        my: 'right top',  
	        at:'bottom left'
		},
		content:{
			text:$('#lineup_dialog_help_content'),
			title:'How do admirer lineups work?'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	

	{% if DEBUG != True %}
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46806664-1', 'crushmaven.com');
		  ga('send', 'pageview');
	{% endif %}
	
}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_new_admirers">

		<li class="title_bar_title">New Admirers <span class="title_bar_count">({{progressing_admirers_count}})</span></li>
		<li class="title_bar_page_links">
			<a class="title_bar_page_link" href="#title_bar_past_admirers/">view past admirers</a>
		</li>
	
		<li class="title_bar_option">
			sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
</ul>
<! -- End of crush type navigation widget -->  

{% if show_help_popup == True %}
<div class="new_user_instructions">
	<span class="instructions_title">You've Got An Admirer!  Now What?</span>
	<div class="first_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text"><strong>Find out if the attraction is mutual!</strong> To protect your admirer's identity (in case the attraction isn't mutual), we've inserted them into a randomly ordered lineup of potential admirers.</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">Select any potential admirer you're attracted to.</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">(Your selections are completely private.  Not even your friends will know.)</span></div>
		<a class="show_more">show last 2 steps</a><a class="show_less">show less</a> 
	</div>
		<div class="second_instruction_section">
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">In turn, we provide each of your selections with a similar type of lineup - with you in it!</span></div>
		<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">We'll notify you if your selections like you back <i>or not</i>.  That's it!</span></div>
	</div>
<span class="help_icon" title="close help"></span>
</div>		<!-- close off lineup_block line for instructional content -->
{% endif %}

{% if admirer_relationships %}

{% for admirer_rel in admirer_relationships %}
	<div class="lineup_block admirer_lineup_block" display_id="{{admirer_rel.display_id}} ">
		<span class="help_icon"></span>
		<div class="lineup_block_line lineup_block_first_line">
			<div class="lineup_title">
				<span class="lineup_block_source_name">Secret Admirer #{{admirer_rel.display_id}}:</span>
				{% if admirer_rel.friendship_type == 0 %} 
					<span class="lineup_subtitle">a friend of yours</span> 
				{% elif admirer_rel.friendship_type == 1 %}
					<span class="lineup_subtitle">has mutual Facebook friend(s)</span>
				{% else %}
					<span class="lineup_subtitle">has no Facebook friends in common with you</span>
				{% endif %}
			</div><!-- close off lineup title -->
		</div><!-- close off lineup_block line -->
		{% with admirer_rel.date_lineup_finished as date_lineup_finished %}
			{% include "lineup_block_background.html" %}
		{% endwith %}
		<div class="lineup_block_line lineup_previews" display_id="{{admirer_rel.display_id}}">
			
			{% if admirer_rel.lineup_initialization_status == 1 %}
					{% with admirer_rel as relationship %}
					 	{% include "lineup_block.html" %}
					{% endwith %}
			{% else %}
			     <div class="ajax_display_lineup_block" display_id="{{admirer_rel.display_id}}"></div>		
			{% endif %}
		</div><!-- close off admirer_block line -->
		<div class="lineup_block_line lineup_block_footer">
		{% if admirer_rel.lineup_initialization_status == 1 %}
			<span class="lineup_block_statistics">You've assessed <span class="lineup_block_statistic">{{admirer_rel|lineup_statistics}}</span> lineup members</span>
		{% endif %}
		{% if admirer_rel.date_lineup_finished != None %}
			lineup completed {{admirer_rel.date_lineup_finished}}
		{% else %}
			admirer added {{admirer_rel.date_added|datetime_since}} ago
		{% endif %}
		</div><!-- close off admirer_block line -->
	</div><!--  close off admirer block -->
{% endfor %}

{% else %}
		<span class="no_content">You have no <i>new</i> admirers.</span>
{% endif %}

<!-- Display the title widget -->  
<ul class="title_bar second_title_bar" id="title_bar_past_admirers">
	
		<li class="title_bar_title">Past Admirers <span class="title_bar_count">({{ past_admirers_count }})</span></li>	
		<li class="title_bar_page_links">
			<a class="title_bar_page_link" href="#title_bar_new_admirers">view new admirers</a>
		</li>
	
		<li class="title_bar_option">
			sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
</ul>
<! -- End of crush type navigation widget --> 

{% for admirer_rel in past_admirer_relationships %}
<div class="lineup_block admirer_lineup_block" display_id="{{admirer_rel.display_id}} ">
	<span class="help_icon"></span>
	<div class="lineup_block_line lineup_block_first_line">
		<div class="lineup_title">
			<span class="lineup_block_source_name">Secret Admirer #{{admirer_rel.display_id}}:</span>
			{% if admirer_rel.friendship_type == 0 %} 
				<span class="lineup_subtitle">a friend of yours</span> 
			{% elif admirer_rel.friendship_type == 1 %}
				<span class="lineup_subtitle">has mutual Facebook friend(s)</span>
			{% else %}
				<span class="lineup_subtitle">has no Facebook friends in common with you</span>
			{% endif %}
		</div><!-- close off lineup title -->
	</div><!-- close off lineup_block line -->
	{% with admirer_rel.date_lineup_finished as date_lineup_finished %}
		{% include "lineup_block_background.html" %}
	{% endwith %}
	<div class="lineup_block_line lineup_previews" display_id="{{admirer_rel.display_id}}">
		
		{% if admirer_rel.lineup_initialization_status == 1 %}
				{% with admirer_rel as relationship %}
				 	{% include "lineup_block.html" %}
				{% endwith %}
		{% else %}
		     <div class="ajax_display_lineup_block" display_id="{{admirer_rel.display_id}}"></div>		
		{% endif %}
	</div><!-- close off admirer_block line -->
	<div class="lineup_block_line lineup_block_footer">
	{% if admirer_rel.lineup_initialization_status == 1 %}
		<span class="lineup_block_statistics">You've assessed <span class="lineup_block_statistic">{{admirer_rel|lineup_statistics}}</span> lineup members</span>
	{% endif %}
	{% if admirer_rel.date_lineup_finished != None %}
		lineup completed {{admirer_rel.date_lineup_finished}}
	{% else %}
		admirer added {{admirer_rel.date_added|datetime_since}} ago
	{% endif %}
	</div><!-- close off admirer_block line -->
</div><!--  close off admirer block -->
{% endfor %}

{% if past_admirers_count == 0 %}
<span class="no_content">You have no <i>past</i> admirers.</span>
{% endif %}

<div id="lineup_modal" title="Admirer Lineup"></div>

<span class="help_dialog_content" id="lineup_dialog_help_content">
<span class="tooltip_content tooltip_maincontent">
We carefully chose up to nine potential admirers for you, placed them into a lineup, and then inserted your actual admirer into a random position.  
As you view each lineup member, select any that you're attracted to.  
We'll send your selections a similar lineup - with you randomly placed within it. 
After we determine if the attraction is mutual or not, we notify you.  That's it!

</span>
<span class="related_subsections">related q&a:</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	Who is my admirer?
</span>
<span class="tooltip_content tooltip_relatedcontent">
Someone on our site is attracted to you and wants to know if you feel the same.  They are one of the members in this lineup, but we're not saying who.
They've chosen to conceal their identity through this admirer lineup - to avoid potential awkwardness in case you don't feel the same.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	How were my members of my admirer lineup selected?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	When you signed in to CrushMaven, you agreed to give us access to your list of friends and descriptions about them.  
	If your secret admirer is your Facebook friend, then we use your friend list information to select other Facebook friends as lineup members (that you might also be attracted to).  
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	Who will see my choices?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Our aim is to prevent any awkwardness, so naturally we don't want anyone to know who you like or don't like.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	Can I have a secret admrier that is not a Facebook Friend?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Yes! Oftentimes our users aren't directly connected to their crushes, but they may know them in real life, or perhaps they their crush caught their attention in a Facebook pic.
	<i>note:</i> To properly conceal your actual admirer's identity, we only select lineup members who share similar degrees of separation from you.   
	So for instance, if your crush is not a Facebook friend, but shares a mutual friend, then all of your lineup members will be two degrees of separation from you.
</span>
</span>
<span class="tooltip_close">close</span>
</span>

{% endblock %}