<!-- Javascript to help the form validate via ajax without reloading entire page -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
$(document).ready(function() 
{
        var form=$("#app_invite_form");
        
        window.send_invite_later = function(){
            {% if no_track != True %}
        		ga('send', 'event', 'button', 'click', 'btn_click:app_invite_form_send_later');
        	{% endif %}
        	if ({{delayed_invite}}==true){
        		window.app_invite_modal.dialog('close');
        	}
        	else
            	window.launch_app_invite_dialog({{current_crush_number}},{{total_crushes_string}},false);
        };
        
        
        form.submit(function(e) {
        		{% if no_track != True %}
        			ga('send', 'event', 'button', 'click', 'btn_click:add_invite_form_send_invites');
        		{% endif %}
                $("#app_invite_form .site_dialog_button").attr('disabled','disabled');
                var old_send_btn = $("#sendbutton").attr('value');
                $("#sendbutton").attr('value','Wait');
                $("#sendwrapper").prepend('<span>Submitting form, please wait... </span>');
                $("#ajaxwrapper").load(
                    form.attr('action') + ' #ajaxwrapper',
                    form.serializeArray(),
                    function(responseText, responseStatus,XHR) {
                    	if (responseStatus!='success'){
           					window.alert_modal("Email Validation Problem","One of your emails isn't jiving with our email validation process.  If you copy/pasted an email from somewhere else, try typing in that email directly.  Sorry for the trouble!")
           					$("#app_invite_form .site_dialog_button").removeAttr('disabled')
           					$("#sendbutton").attr('value',old_send_btn)
                    	}
                    	else if (responseText=="_GOOD")
	                    		window.launch_app_invite_dialog({{current_crush_number}},{{total_crushes_string}});
                    	else { // some sort of error
         					$("#app_invite_form .site_dialog_button").removeAttr('disabled');
           					$("#sendbutton").attr('value',old_send_btn);
           					
           					{% comment %}
           					if ($('#app_invite_form .mf_generic_emails_fieldWrapper .errorlist').length)
                    			$('#show_secondary_options').trigger('click');
           					{% endcomment %}
           					if ($('#app_invite_form #mutual_friend_input_section .errorlist').length) {
                    			//$('#show_secondary_options').trigger('click');
                    			$('#app_invite_form #mutual_friend_input_section').show();
                    			section_offset=$('#mutual_friend_input_section').offset().top + 26; // this is the pixel top position of the first input
                    			offsetTop = $('#mutual_friend_input_section .errorlist').first().children('li').offset().top-section_offset;
                    			$('#mutual_friend_input_section').animate({
                    				scrollTop:offsetTop
                    			},0);
                    		}
                    		setup_qtips();
                    	}// close off else - some sort of error
                    });
                
               e.preventDefault();
               });// close off submit function

		window.app_invite_modal.dialog("option","position","center");

		
$('#app_invite_form').on('click','#mutual_friend_input_section_show', function(){
	 {% if no_track != True %}
	 	ga('send', 'event', 'button', 'click', 'btn_click:app_invite_form_show_mutual_friends');
	 {% endif %}
	input_section_element= $('#app_invite_form #mutual_friend_input_section');
	label_element = $('#app_invite_form #mutual_friend_input_section_show a');
	input_section_element.toggle();
	if (input_section_element.is(':visible')){
		//$('#app_invite_form #mutual_friend_help_section').css('border-top','1px solid #E2E2E2');
		$('#mutual_friend_help_section #mutual_friend_input_section_show  .help_icon').show();
		label_element.html("hide mutual friends ({{mf_friend_count}})")
	}
	else{
		//$('#app_invite_form #mutual_friend_help_section').css('border-top','0px');
		$('#mutual_friend_help_section #mutual_friend_input_section_show  .help_icon').hide();
		label_element.html("show mutual friends ({{mf_friend_count}})")

	}
	$(this).children('.arrow').toggle(); 
	//$(this).children('#down_arrow').toggle();
	
});

$('#app_invite_form').on('click','input#id_crush_emails', function(){
	$('.email_separator').css('display','block');
});

setup_qtips=function(){
$.getScript('{{ STATIC_URL }}qtip/jquery.qtip.min.js').done(function(script,scriptStatus){
	
	$(".app_invite_dialog .email_field_input .fieldWrapper.mf_generic_emails_fieldWrapper .help_icon, #mutual_friend_help_section #mutual_friend_input_section_show .help_icon").qtip({
		content:{
			text:$('#invite_dialog_twob_help_content'),
			title:"Why am I asked for the emails of my crush's friends?"
		},
		position: {
	        my: 'left bottom',  
	        at:'top left'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	

	$(".app_invite_dialog .ui-dialog-titlebar .help_icon").qtip({
		content:{
			text:$('#invite_dialog_two_help_content'),
			title:'Why do we send anonymous invites?'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	
	
}); // close of getscrxipt
};//close off setup_qtips();

setup_qtips();
/*  TOOLTIP SUPPORT */

$(".tooltip_close").click(function(){
	$('.qtip').hide();
});

$(".tooltip_subtitle").click(function(){
	var current_content = $(this).parent().children('.tooltip_content');
	$(this).parent().parent().find('.tooltip_relatedcontent').not(current_content).hide();
	if (current_content.css("display")=="none")
		current_content.css("display","block")
	else
		current_content.css("display","none")
})

}); // close off document ready function
</script>

<form id="app_invite_form" action="http://{{request.get_host}}{% url 'crush.views.app_invite_form_v2' crush_username %}" method="post">       
<div id="ajaxwrapper">
   <div class="modal_instructions">In order to get a response, provide at least one invite option below...</div>

   {% csrf_token %}


   <div class="email_field_input" id="attraction_email_input_section">
      <div class="email_input_error_section generic_email_errors" >{{ form.non_field_errors }}</div>
      <label for="id_crush_emails" class="invite_label"><span class="first_crush_email_name crush_email_name"><span class="invite_option_label">1</span>{{ crush_pronoun}} Email</span></label> 
      <div class="fieldWrapper crush_email_fieldWrapper"><span class="email_icon">&nbsp;</span>
         {{ form.crush_emails }}
         <span class="email_separator sub_label">separate multiple emails with commas</span>
         <div class="email_input_error_section">{{ form.crush_emails.errors }}</div>
      </div>
     {% comment %}<div id="show_secondary_options">show invite options 2 & 3<span id="down_arrow" class="arrow">&#x25BC;</span></div>{% endcomment %}
     <div class="secondary_options">
      <label for="id_phone" class="invite_label"><span class="crush_email_name"><span class="invite_option_label">2</span>{{ crush_pronoun }} Phone </span></label>
      <div class="fieldWrapper phone_fieldWrapper"><span class="phone_icon">&nbsp;</span>
	      {{ form.phone }}
	      <div class="email_input_error_section">{{ form.phone.errors }}</div>
	  </div>
      <label for="id_mf_generic_emails" class="mf_generic_emails_label"><span class="first_crush_email_name crush_email_name"><span class="invite_option_label">3</span>{{ crush_pronoun }} Friends'<span class="email_icon">&nbsp;</span></span></label> 
      <div class="fieldWrapper mf_generic_emails_fieldWrapper"><span class="email_icon">&nbsp;</span>
         {{ form.mf_generic_emails }}<span class="help_icon">?</span>
         <div class="email_input_error_section">{{ form.mf_generic_emails.errors }}</div>
      </div>
      </div><!-- close of secondary options -->
   </div><!-- close attraction_email_input -->
<div class="secondary_options">
<div id="mutual_friend_help_section">
	{% if mf_friend_count > 0 %}
	<div id="mutual_friend_input_section_show"><span class="help_icon">?</span><a>show mutual friends ({{mf_friend_count}})</a><span id="down_arrow" class="arrow">&#x25BC;</span><span id="up_arrow" class="arrow">&#x25B2;</span></div>
	<div id="mutual_friend_input_section">
	
		{% for field in form %}
		   		{% if field.label != "crush_field" %}
			   		<div class="email_field_input mf_email_field_input">	   			
			   					
								<label for="id_mutual_friend_email"><span class="mf_email_name">{{field.label}}</span>{% if field.label != "Other Friends:" and field.label != "Friends:" %}<img src="http://graph.facebook.com/{{field.help_text}}/picture?width=25&height=25">{% else %}<img class="other_contact_pic" src = "{{ STATIC_URL }}images/fb_unknown_user_pic.jpg"> {% endif %}</label>
								<div class="fieldWrapper">
									{{ field }}
									<div class="email_input_error_section">{{field.errors}}</div>
								</div><!-- close off field wrapper -->
		      	</div> <!--  close off email_field_input -->	   			
		   		{% endif %}
		   {% endfor %}
	{% endif %}	   
	</div> <!--  close off mutual_friend_input_section -->
</div><!-- close of mutual friend help section -->
</div><!-- close of secondary help options -->

  <div class="ui-dialog-buttonpane">
          <div class="ui-dialog-buttonset">
          	{% comment %}<button type='button' {% if no_track != True %}onclick="ga('send', 'event', 'button', 'click', 'preview_email_button');"{% endif %} class="site_dialog_button site_dialog_cancel_button preview_button" id="preview_invite_button"><span class="ui-button-text">Preview Invites<span class="arrow">&#x25B2;</span></span></button>{% endcomment %}
          	{% comment %}{% if total_crushes_int > 1 %}<span class="invite_count">invitation #{{ current_crush_number }} of {{ total_crushes_string }}</span>{% endif %}{% endcomment %}
          	<button type='button' onclick="window.send_invite_later();" class="site_dialog_button site_dialog_cancel_button invite_dialog_cancel_button" ><span class="ui-button-text">Invite Later</span></button> 
          	<button id="sendbutton" class="site_dialog_button" type="submit">Send Invite {% if total_crushes_int > 1 %}<span class="invite_dialog_btn_subtext">(crush {{ current_crush_number }} of {{ total_crushes_string }})</span>{% endif %}</button>
          </div><!-- close off buttonset -->
  </div><!-- close off buttonpane -->
	<input type="hidden" name="mutual_friend_json" value="{{mutual_friend_json}}">
	<input type="hidden" name="posted_form" value="">
	<input type="hidden" name="crush_fullname" value = "{{crush_fullname}}">
	<input type="hidden" name="current_crush_number" value="{{current_crush_number}}">
	<input type="hidden" name="total_crushes_string" value="{{total_crushes_string}}">
	<input type="hidden" name="delayed_invite" value="{{delayed_invite}}">
</div><!-- close off ajaxwrapper -->
</form>

<span class="help_dialog_content" id="invite_dialog_twob_help_content">
	<span class="tooltip_content tooltip_maincontent">
	If you know the email address of your crush's friends, we can send them our anonymous invite.  We'll let them know what's up and request that they forward the invite to your crush. 
	</span>
	<span class="tooltip_close">close</span>
</span>

<span class="help_dialog_content" id="invite_dialog_two_help_content">
	<span class="tooltip_content tooltip_maincontent">
		To determine if your crush feels the same, we must first get them signed into our app.
		We do this by sending them an anonymous email notifying them of their secret admirer.
	</span>
	<span class="related_subsections">related q&a:</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			What if I don't know my crush's email address?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		 If you don't know your crush's email, but you know the email address of your crush's friends, 
		 we can send them our anonymous invite and request that they forward it to your crush. 
		 You can also just wait and hope that your crush signs up on their own. We don't recommend that.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			How are email invites anonymous?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		Our email invites are sent from our crushmaven.com email address - not from yours.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			Why don't you just send an anonymous invite through Facebook?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		We could indirectly send a Facebook invite (with you as sender), but that would reveal your identity - fail.
		We could send a Facebook invite directly from us, but if your crush is not an existing CrushMaven user, then our Facebook invite will only appear in their 'other' inbox. Hardly anyone knows what or where that is - fail. 
		Email is the best way to go.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			Will you use my crush and mutual friend email addresses for anything else?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
			Absolutely not!
		</span>
	</span>
	<span class="tooltip_close">close</span>
</span>
	