
<div id="ajaxwrapper">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
{% if crush_email_success_array %}
	<b>Anonymous invitations will be sent to the following email addresses:</b><BR><BR>
	
	{% for email in crush_email_success_array %}
		{% if forloop.counter0  %},&nbsp;{% endif %}{{email}}
	{% endfor %}
	<BR><BR>
{% endif%}

{% if friend_email_success_array %}
	<b>Invitation emails (for forwarding) will be sent to the following mutual friend email addresses:</b><BR><BR>
	
	{% for email in friend_email_success_array %}
		{% if forloop.counter0  %},&nbsp;{% endif %}{{email}}
	{% endfor %}
		<BR><BR>
{% endif%}
{% if crush_email_fail_array %}
	<b>We had problems sending an anonymous invitation to the following email addresses:</b><BR><BR>
	
	{% for email in crush_email_fail_array %}
		{% if forloop.counter0 %},&nbsp;{% endif %}{{email}}
	{% endfor %}
		<BR><BR>
{% endif%}
{% if friend_email_fail_array %}
	<b>We had problems sending an invitation (for forwarding) to the following mutual friend email addresses:</b><BR><BR>
	
	{% for email in friend_email_fail_array %}
		{% if forloop.counter0 %},&nbsp;{% endif %}{{email}}
	{% endfor %}
	<BR><BR>
{% endif%}

<input type='button' onclick="window.location='/your_crushes';" value="Ok">
</div