<!-- Javascript to help the form validate via ajax without reloading entire page -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
$(document).ready(function() 
{

	{% if mf_friend_count > 0 %}
		$('#mutual_friend_help_section').css('min-height','40px');
	{% endif %}
	
        var form=$("#app_invite_form");
        
        form.submit(function(e) {
                $("#app_invite_form .site_dialog_button").attr('disabled','disabled');
                $("#sendbutton").attr('value','Wait');
                $("#sendwrapper").prepend('<span>Submitting form, please wait... </span>');
                $("#ajaxwrapper").load(
                    form.attr('action') + ' #ajaxwrapper',
                    form.serializeArray(),
                    function(responseText, responseStatus,XHR) {
                    	if (responseStatus!='success'){
           					window.alert_modal("Email Validation Problem","One of your emails isn't jiving with our email validation process.  If you copy/pasted an email from somewhere else, try typing in that email directly.  Sorry for the trouble!")
           					$("#app_invite_form .site_dialog_button").removeAttr('disabled')
           					$("#sendbutton").attr('value','Send')
                    	}
                    	else if (responseText=="_GOOD"){
                    		if (window.invite_interstitial_modal && window.invite_interstitial_modal.dialog("isOpen"))
                    			window.update_invite_interstitial("{{crush_username}}");
                			else
                				location.href='/your_crushes';
                		}
                    	else { // some sort of error
         					$("#app_invite_form .site_dialog_button").removeAttr('disabled');
           					$("#sendbutton").attr('value','Send');
                    		if ($('#app_invite_form #mutual_friend_input_section .errorlist').length) {
  
                    			$('#app_invite_form #mutual_friend_input_section').show();
                    			section_offset=$('#mutual_friend_input_section').offset().top + 26; // this is the pixel top position of the first input
                    			offsetTop = $('#mutual_friend_input_section .errorlist').first().children('li').offset().top-section_offset;
                    			$('#mutual_friend_input_section').animate({
                    				scrollTop:offsetTop
                    			},0);
                    		}
                    		setup_qtips();
         					
                    	}
                    	});
                
               e.preventDefault();
               });// close off submit function

		window.app_invite_modal.dialog("option","position","center");

// calculate height of the preview section container

		
$('#app_invite_form').on('click','#mutual_friend_input_section_show', function(){
	input_section_element= $('#app_invite_form #mutual_friend_input_section');
	label_element = $('#app_invite_form #mutual_friend_input_section_show a');
	input_section_element.toggle();
	if (input_section_element.is(':visible')){
		//$('#app_invite_form #mutual_friend_help_section').css('border-top','1px solid #E2E2E2');
		$('#mutual_friend_help_section #mutual_friend_input_section_show  .help_icon').show();
		label_element.html("hide mutual friends who can help ({{mf_friend_count}})")
	}
	else{
		//$('#app_invite_form #mutual_friend_help_section').css('border-top','0px');
		$('#mutual_friend_help_section #mutual_friend_input_section_show  .help_icon').hide();
		label_element.html("show mutual friends who can help ({{mf_friend_count}})")

	}
	$(this).children('.arrow').toggle(); 
	//$(this).children('#down_arrow').toggle();
	
});

		
/* ---------------- PREVIEW INVITE HANDLING ---------------- */

$('#app_invite_form').on('click','#preview_invite_button',function(){
	var preview_element = $('#preview_section');
	if ( preview_element.is(':visible') ){
			
			$(this).children('.ui-button-text').html('Preview Invites<span class="arrow">&#x25B2;</span>');
			preview_element.slideToggle(250);
			$(this).removeClass('preview_close');
			$('.sent_from_us').fadeTo(0,0).css('left',450);
			$('#app_invite_form #sendbutton').removeAttr('disabled');
	}
	else {
		$('.sent_from_us').css('left',450);
		var form_height = $('#app_invite_form').height();
		var buttonpane_height = $('#app_invite_form .ui-dialog-buttonpane').height();
		preview_element.css('bottom',buttonpane_height + 24 + 'px');
		preview_element.height(form_height - buttonpane_height -20);
		$(this).addClass('preview_close');
		$(this).children('.ui-button-text').html('Close Preview<span class="arrow">&#x25BC;</span>');
		$('.email_preview_content').height(form_height - buttonpane_height - 75);
		$('.email_content_body').height(form_height - buttonpane_height - 165);
		preview_element.slideToggle(750);
		$('.sent_from_us').delay(1000).animate({opacity:1,left:"-=320"},1000);
		$('#app_invite_form #sendbutton').attr('disabled','true');
	}
});// close off #preview_invite_button

$('#app_invite_form').on('click', '.inactive_tab',function(){
$('.sent_from_us').css('opacity',0);

	$('#preview_section .active_tab').removeClass('active_tab').addClass('inactive_tab');
	$(this).removeClass('inactive_tab').addClass('active_tab')
	
	if ($(this).attr('id') == 'preview_attraction_tab'){
		$('#mf_email_preview_content').fadeOut(250)
		$('#attraction_email_preview_content').delay(250).fadeIn(500);
	}
	else{
		
		$('#attraction_email_preview_content').fadeOut(250)
		$('#mf_email_preview_content').delay(250).fadeIn(500);
	}

	$('.sent_from_us').animate({opacity:1},1);
	
});
setup_qtips=function(){
$.getScript('{{ STATIC_URL }}qtip/jquery.qtip.min.js').done(function(script,scriptStatus){


	$(".app_invite_dialog .fb_invite_checkbox_label .help_icon").qtip({
		content:{
			text:$('#invite_dialog_fb_invite_help_content'),
			title:"What is a credit and why am I being charged for a Facebook Invite?"
		},
		position: {
	        my: 'left top',  
	        at:'top left'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});		
	
	$(".app_invite_dialog .email_field_input .fieldWrapper.mf_generic_emails_fieldWrapper .help_icon, #mutual_friend_help_section #mutual_friend_input_section_show .help_icon").qtip({
		content:{
			text:$('#invite_dialog_twob_help_content'),
			title:"Why am I asked for the emails of my crush's friends?"
		},
		position: {
	        my: 'left bottom',  
	        at:'top left'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	
	$(".app_invite_dialog .email_field_input .fieldWrapper.twitter_fieldWrapper .help_icon").qtip({
		content:{
			text:$('#invite_dialog_twoc_help_content'),
			title:"How do you use my crush's twitter name?"
		},
		position: {
	        my: 'left bottom',  
	        at:'top left'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	

	$(".app_invite_dialog .ui-dialog-titlebar .help_icon").qtip({
		content:{
			text:$('#invite_dialog_two_help_content'),
			title:'Why do we send anonymous invites?'
		},
		show:{
			delay:0,
		},
		hide:{
			delay:500,
			fixed:true,
		},
		style:{
			classes: 'qtip-blue qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	
	
}); // close of getscrxipt
};//close off setup_qtips();

setup_qtips();
/*  TOOLTIP SUPPORT */

$(".tooltip_close").click(function(){
	$('.qtip').hide();
});

$(".tooltip_subtitle").click(function(){
	var current_content = $(this).parent().children('.tooltip_content');
	$(this).parent().parent().find('.tooltip_relatedcontent').not(current_content).hide();
	if (current_content.css("display")=="none")
		current_content.css("display","block")
	else
		current_content.css("display","none")
})

}); // close off document ready function
</script>

<form id="app_invite_form" action="http://{{request.get_host}}{% url 'crush.views.app_invite_form_v2' crush_username %}" method="post">       
<div id="ajaxwrapper">
   <div class="modal_instructions">All invitations are sent <strong><i>anonymously</i></strong> from notifications@crushmaven.com</div>

   {% csrf_token %}


   <div class="email_field_input" id="attraction_email_input_section">
      <div class="email_input_error_section generic_email_errors" >{{ form.non_field_errors }}</div>

      <label for="id_facebook_invite" class="facebook_invite_label"><span class="crush_email_name"><span class="invite_option_label">1</span>via Facebook</span>{% if send_facebook_invite != True %}<span class="reliable_option_label">(most reliable option)</span>{% endif %}</label> 
      {% if send_facebook_invite != True %}
	      <div class="fieldWrapper">
	         {{ form.facebook_invite }}<span class="fb_invite_checkbox_label">I agree to be charged 1 credit for this option<span class="help_icon">?</span></span>
	      </div>
      {% else %}
	      <div class="fieldWrapper">
	      	<div class="fb_invite_sent_label">(already processed)</div>
	      </div>
      {% endif %}
      
      <label for="id_crush_emails"><span class="first_crush_email_name crush_email_name"><span class="invite_option_label">2</span>{{ crush_pronoun }} Emails</span></label> 
      <div class="fieldWrapper"><span class="email_icon">&nbsp;</span>
         {{ form.crush_emails }}
         <div class="email_input_error_section">{{ form.crush_emails.errors }}</div>
      		<span class="email_separator sub_label">separate multiple emails with commas</span>
      </div>
      <label for="id_twitter_username"><span class="crush_email_name"><span class="invite_option_label">3</span>{{ crush_pronoun }} Twitter </span></label> 
      <div class="fieldWrapper twitter_fieldWrapper"><span class="twitter_icon">&nbsp;</span>
	      {{ form.twitter_username }}<span class="help_icon">?</span>
	      <div class="email_input_error_section">{{ form.twitter_username.errors }}</div>
      </div>
      <label for="id_mf_generic_emails" class="mf_generic_emails_label"><span class="first_crush_email_name crush_email_name"><span class="invite_option_label">4</span>{{ crush_pronoun }} Friends'<span class="email_icon">&nbsp;</span></span></label> 
      <div class="fieldWrapper mf_generic_emails_fieldWrapper"><span class="email_icon">&nbsp;</span>
         {{ form.mf_generic_emails }}<span class="help_icon">?</span>
         <div class="email_input_error_section">{{ form.mf_generic_emails.errors }}</div>
      </div>
   </div><!-- close attraction_email_input -->

<div id="mutual_friend_help_section">
	{% if mf_friend_count > 0 %}
	<div id="mutual_friend_input_section_show"><span class="help_icon">?</span><a>show mutual friends who can help ({{mf_friend_count}})</a><span id="down_arrow" class="arrow">&#x25BC;</span><span id="up_arrow" class="arrow">&#x25B2;</span></div>
	<div id="mutual_friend_input_section">
	
		{% for field in form %}
		   		{% if field.label != "crush_field" %}
			   		<div class="email_field_input mf_email_field_input">	   			
			   					
								<label for="id_mutual_friend_email"><span class="mf_email_name">{{field.label}}</span>{% if field.label != "Other Friends:" and field.label != "Friends:" %}<img src="http://graph.facebook.com/{{field.help_text}}/picture?width=25&height=25">{% else %}<img class="other_contact_pic" src = "{{ STATIC_URL }}images/fb_unknown_user_pic.jpg"> {% endif %}</label>
								<div class="fieldWrapper">
									{{ field }}
									<div class="email_input_error_section">{{field.errors}}</div>
								</div><!-- close off field wrapper -->
		      	</div> <!--  close off email_field_input -->	   			
		   		{% endif %}
		   {% endfor %}
	{% endif %}	   
	</div> <!--  close off mutual_friend_input_section -->
</div><!-- close of mutual friend help section -->


<div id="preview_section">
	<span class="preview_tab active_tab" id="preview_attraction_tab">Email Invite Preview</span><span class="preview_tab inactive_tab" id="preview_mf_tab">Mutual Friend's Invite Preview</span>
	<div class="preview_body">
         <div id="attraction_email_preview_content" class="email_preview_content">
           <div class="email_header">
	           <div class="email_content_header_labels">
	                   From:<BR>
	                   To:<BR>
	                   Subject:
	           </div>
	           <div class="email_content_header_content">
	                   <span class="anonymous_email_callout"><span class="sent_from_us"><span class="sent_from_us_pointer"></span>sent from us!</span>CrushMaven.com</span><BR>
	                   <span class="email_address_holder">{{crush_firstname}}'s email address</span><BR>
	                   <span class="subject_text">You have an admirer!</span>
	           </div>
           </div>
           <div class="email_content_body">
				<p>
					One of our users, someone who knows you, is attracted to you and wants to know if you feel the same.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 
				</p>
				<p>
					<b>What is CrushMaven?</b> It's a new matchmaking service that finds out if someone you like feels the same - anonymously and without any social awkwardness. Learn more at CrushMaven.com.
				</p>				
           </div><!-- close off email content body -->
        </div>  <!-- close off attraction_email_preview_content -->
    <div id="mf_email_preview_content" class="email_preview_content">
        <div class="email_header">
	        <div class="email_content_header_labels">
	                From:<BR>
	                To:<BR>
	                Subject:<BR><BR>
	        </div>
	        <div class="email_content_header_content">
	                <span class="anonymous_email_callout"><span class="sent_from_us"><span class="sent_from_us_pointer"></span>sent from us!</span>CrushMaven.com</span><BR>
	                <span class="email_address_holder">mutual's friend email address</span><BR>
	                <span class="subject_text">Your friend has an admirer!</span>
	        </div>
        </div> <!--  close off .email_header -->
        <div class="email_content_body">
        		<p>Someone at CrushMaven.com (http://www.crushmaven.com) is attracted to your friend, {{crush_firstname}}, and would like your help to determine if they feel the same.  Unfortunately, we can't tell you more than that.  {{crush_firstname}}'s admirer wishes to remain anonymous.
        		</p>
        		<p>
        		Would you please take a second to forward this message to {{crush_firstname}}?     
        		</p>
        		<p>
        		<b>What is CrushMaven?</b>  It's a new matchmaking service that finds out if someone you like feels the same - anonymously and without any social awkwardness. Learn more at CrushMaven.com.
        		</p>
        		<p>And in case you're wondering: {{ crush_firstname}}'s admirer provided us with your email address.  We won't share it with anyone else, and we'll delete it once they sign up.
        		</p>
        </div>
		</div>  <!-- close off mf_email_preview_content -->
	</div> <!--  close off preview_body_mf -->
</div> <!--  close off #preview_section -->

  <div class="ui-dialog-buttonpane">
          <div class="ui-dialog-buttonset">
          	<button type='button' class="site_dialog_button site_dialog_cancel_button preview_button" id="preview_invite_button"><span class="ui-button-text">Preview Invites<span class="arrow">&#x25B2;</span></span></button>
          	<button type='button' onclick="window.app_invite_modal.dialog('close');" class="site_dialog_button site_dialog_cancel_button" ><span class="ui-button-text">Cancel</span></button> 
          	<input id="sendbutton" class="site_dialog_button" type="submit" value="Send"/>
          </div><!-- close off buttonset -->
  </div><!-- close off buttonpane -->
	<input type="hidden" name="mutual_friend_json" value="{{mutual_friend_json}}">
	<input type="hidden" name="posted_form" value="">
	<input type="hidden" name="crush_fullname" value = "{{crush_fullname}}">
</div><!-- close off ajaxwrapper -->
</form>

<span class="help_dialog_content" id="invite_dialog_twob_help_content">
	<span class="tooltip_content tooltip_maincontent">
	If you know the email address of your crush's friends, we can send them our anonymous invite.  We'll let them know what's up and request that they forward the invite to your crush. 
	</span>
	<span class="tooltip_close">close</span>
</span>

<span class="help_dialog_content" id="invite_dialog_two_help_content">
	<span class="tooltip_content tooltip_maincontent">
		To determine if your crush feels the same, we must first get them signed into our app.
		We do this by sending them an anonymous email notifying them of their secret admirer.
	</span>
	<span class="related_subsections">related q&a:</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			What if I don't know my crush's email address?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		 If you don't know your crush's email, but you know the email address of your crush's friends, 
		 we can send them our anonymous invite and request that they forward it to your crush. 
		 You can also just wait and hope that your crush signs up on their own. We don't recommend that.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			How are email invites anonymous?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		Our email invites are sent from our crushmaven.com email address - not from yours.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			Why don't you just send an anonymous invite through Facebook?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		We could indirectly send a Facebook invite (with you as sender), but that would reveal your identity - fail.
		We could send a Facebook invite directly from us, but if your crush is not an existing CrushMaven user, then our Facebook invite will only appear in their 'other' inbox. Hardly anyone knows what or where that is - fail. 
		Email is the best way to go.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			Will you use my crush and mutual friend email addresses for anything else?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
			Absolutely not!
		</span>
	</span>
	<span class="tooltip_close">close</span>
</span>
	
<span class="help_dialog_content" id="invite_dialog_twoc_help_content">
	<span class="tooltip_content tooltip_maincontent">
	If you know the twitter username of your crush, we can send them an anonymous tweet from our CrushMaven twitter account.  We'll let them know what's up and ask them to sign in. 
	</span>
	<span class="tooltip_close">close</span>
</span>
	
<span class="help_dialog_content" id="invite_dialog_fb_invite_help_content">
	<span class="tooltip_content tooltip_maincontent">
	Credits are 'virtual currency' that you can spend on certain features of the site.  
	We charge a credit for this option only because Facebook charges us to send messages (from our account) to someone not directly connected to us.
	</span>
	<span class="related_subsections">related q&a:</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			How many credits do I have?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		 You currently have {{ request.user.site_credits}} {% if request.user.site_credits == 1 %}credit{% else %} credits{% endif %}.  You can always check your available credits under the settings menu (in the top right hand corner of the site).
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			Why do we charge credits for certain features?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
			Charging credits is the primary way that we make money from this service and put food on our tables.  
			We will only charge you when we have performed a valuable service on your behalf, for example if we determine if your crush feels the same or not.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			What if I run out of credits?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
		You can always purchase more credits from within the settings menu (in the top right hand corner of the site).  We accept payment via Paypal and most major credit cards (also via our Paypal service).
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			How much do credits cost?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
			Each credit currently costs $1 USD.  However, we provide volume purchase discounts - the more you purchase at one time, the greater the discount you will receive.
		</span>
	</span>
	<span class ="tooltip_subsection">
		<span class="tooltip_subtitle">
			What if I don't have a Paypal account or credit card to purchase more credits?
		</span>
		<span class="tooltip_content tooltip_relatedcontent">
			We are considering developing a feature that will allow you to transfer credits from another user.  
			Please provide us with your feedback to let us know if you think this is useful.  
			Our feedback tab is located on the bottom right hand corner of the site.
		</span>
	</span>
	<span class="tooltip_close">close</span>
</span>
