<html>
    <head>
		<style type="text/css">
		.navbar .active {
    	font-weight: bold;
		font-color: red;
    	}
    	</style>
		<title>CrushDiscovery | Anonymous discovery and connect with crushes and secret admirers</title>
    </head>
    <body>
        <h1><font color=red>crush</font><font><i>discovery</i></font></h1>
		{% include "navigation.html" %}
		<h2><img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture">
		{{ user.first_name }} {{user.last_name}},<BR><BR>Here is your Facebook information:</h2>

    	<pre>{{ facebook_profile|pprint }}</pre>
		<BR><BR>
		<a href="/admin/">Admin</a>