<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
	    <meta name="description" content="More than just friends?  Discover anonymously if the person you're attracted to feels the same at crushmaven.com." />
	    <meta name="robots" content="all,index" />
	    <meta name="Revisit-After" content="30 Days" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
		<title>CrushMaven - {% block title %}{% endblock %}</title>    	
	    {% block extrahead %}{% endblock %}
	    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela+Round">
	    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/cm_favicon1.gif" />
	    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images/cm_favicon1.gif" /> 

	    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	    {% if no_track != True %}
	    <script>
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    	  ga('create', 'UA-46806664-1', 'crushmaven.com');
	    	  ga('send', 'pageview');
	    	  
	    	  {% if 'signin' in request.GET %}
		    	  <!-- Facebook Conversion Code for Signup -->
		    	  var fb_param = {};
		    	  fb_param.pixel_id = '6011693977194';
		    	  fb_param.value = '0.01';
		    	  fb_param.currency = 'USD';
		    	  (function(){
		    	  var fpw = document.createElement('script');
		    	  fpw.async = true;
		    	  fpw.src = '//connect.facebook.net/en_US/fp.js';
		    	  var ref = document.getElementsByTagName('script')[0];
		    	  ref.parentNode.insertBefore(fpw, ref);
		    	  })();
	    	  {% endif %}
	    	  	    	  
	    </script>
	    {% endif %}
		<link type="text/css" href="/static/fbdater_v1.css?version=1" rel="stylesheet"  />    
	    
	    <link type="text/css" href="{{ STATIC_URL }}friend-selector/friend_selector_v1.css" rel="stylesheet" />
	
	    <link rel="stylesheet" href="{{ STATIC_URL }}contactable/contactable_v1.css" type="text/css" />
	    <link rel="stylesheet" href="{{ STATIC_URL }}qtip/jquery.qtip.css" type="text/css" />
    </head>
<body>
{% if 'signin' in request.GET %}
<div id="intro_overlay"> </div>
{% endif %}
<script> 
jQuery(document).ready(function($) {

	{% if 'signin' in request.GET %}

		$('#intro_overlay').fadeOut(2000);
	{% endif %}

	
	function toTitleCase(str)
	{
	    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
	}
	
	<!-- AJAX CALL INITIALIZATION -->
	// default to 60 seconds for all ajax calls: (lineup initialization will require longer wait time)
	$.ajaxSetup({timeout: '60000'});
 
	<!-- INITIALIZE FB JS INTEGRATION -->
	window.fbAsyncInit = function() {
	  FB.init({ 
	  	appId:  {{facebook_app_id}}, 
	  	status: true, 
	  	cookie: true,
	  	xfbml: true,
	  	//oauth: true,
	  });
  	  	// Additional init code here
	}; // close window.fbAsyncINit
	// Load the SDK Asynchronously
  // Load the SDK asynchronously
  (function(d){
	   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   ref.parentNode.insertBefore(js, ref);
	  }(document));

	function login(connect_callback) {
	    FB.login(function(response) {
	        if (response.authResponse) {
	        		if (connect_callback)
	        			connect_callback();
	            // connected
	        } else {
	            // cancelled
	
	        }
	    });
	}// close function login

	/* -------  HANDLERS for Friend Selector and Contactable Form -------- */
	  $.getScript('{{ STATIC_URL }}friend-selector/friend_selector_v1.js').done(function(script,scriptStatus){
		  $(".bt-fs-dialog").fSelector({ // call the .fSelector function and send it a massive dictionary of option values
			  accessToken: "{{request.user.access_token}}",
			  facebookID: "{{request.user.username}}",
			  malePref:{% if request.user.gender_pref = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
		    maleGender: {% if request.user.gender = 'F' %} false {% elif request.user.gender_pref = 'M' %} true {% else %} null{% endif %},
		    minimum_samegender_friends:"0",//"{{minimum_samegender_friends}}",
		    minimum_crushgender_friends:"0",//"{{minimum_crushgender_friends}}",
		    max:15,
			 excludeIds: "{% for crush_rel in request.user.crush_crushrelationship_set_from_source.all %}{{crush_rel.target_person.username}}{% if not forloop.last %},{% endif %}{% endfor %}",
		    closeOverlayClick: false,
		    overlayOpacity: "0.5",
		    overlayColor: '#000',
		    closeOnSubmit: true,
		    showSelectedCount: true,
		    color: "default",
		    showRandom:false,
		    lang: {
		      title: "Add Crushes",
		      searchText: "Enter a friend's name",
		      fbConnectError: "You must be logged in to Facebook in order to use this feature.",
		      selectedCountResult: "You have choosen {0} people.",
		      selectedLimitResult: "Limit is {0} people.",
		      ajaxError:"{{ajax_error}}",
		    },
		    onSubmit: function(response){
					add_friends_to_db(response);
		    },
		    onError: function(error_message){
		    	var display_message="{{generic_error_message}}";
		    	if (error_message!== 'undefined')
		    		display_message=error_message;
		    		
		    	window.alert_modal("Friend Selector Problem", display_message, $('#fs-dialog-box-wrap') );
		    },
		    onClose: function(){
		    	$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' });
		    },
		    onStart: function(){
		    	 //$("body").css({ overflow: 'hidden' });
		    	 //$("#fs-dialog-box-wrap").draggable({handle:"#fs-dialog-title",containment:$("#fs-overlay")});
		    	//window.scrollTo(0,0); // hack to allow dialog to show - cause it always loads relative to fixed elements
		    	 //$('body').css('overflow-y','hidden !important');
		    },
		    }); // close off .bt-fs-dialog.fSelector
		   }); // close off getScript.done

	  /* -----------    Handler For Contactable Form ---------- */
	  $.getScript('{{ STATIC_URL }}contactable/contactable_v1.js').done(function(script,scriptStatus){
			  $(function(){$('#contactable').contactable({csrf_token: '{{csrf_token}}'});});
		}); // close off $.getScript for Friend Selector Dialogs

	  
	  /* ---------------------------------------------
	 	
		CREDIT PURCHASE DIALOG HANDLING
	
	   * -------------------------------------------- */
	  
	$("#credit_check_modal").dialog({dialogClass:"credit_check_dialog",modal: true, draggable:false,resizable:false, autoOpen: false,width:410,open: function(event, ui) {$("body").css({ overflow: 'hidden' }) },beforeClose: function(event, ui) {$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' })}});
	
	
	window.purchase_feature = function(data){
		load_url="/credit_checker/";
		window.purchase_dialog_div = $("#credit_check_modal");
		window.purchase_dialog_div.attr("feature_id",data.feature_id)
		$(".credit_check_dialog").children(".ui-dialog-titlebar").append("<span class='help_icon'>?</span>");
		window.wait_modal_open();
		window.purchase_dialog_div.load(load_url,data,function(responseTxt,statusTxt,xhr){
			window.wait_modal_close();
			if (statusTxt!="success"){
					$(this).html(data.ajax_error);
			  }
			window.purchase_dialog_div.dialog("open");
			$(':focus').blur();
			window.purchase_dialog_div.dialog("moveToTop");
		}); 
		return false;
	};
	
	window.purchase_conversation = function(csrf_token,attraction_id,purchase_callback_name) {
		purchase_callback_name = typeof purchase_callback_name !== 'undefined' ? purchase_callback_name : "";
		data = {};
		data['csrfmiddlewaretoken']=csrf_token;
		data['success_path'] = '/messages/converse/' + attraction_id;	
		data['cancel_url'] =  '{{request.get_full_path}}';
		var unique_id = attraction_id;
		data['unique_id'] = unique_id;
		data['feature_id'] = '4';
		if (purchase_callback_name=='')
			data['purchase_callback_name'] = 'window.redirect_to_conversation(' + attraction_id + ')';
		else
			data['purchase_callback_name'] = purchase_callback_name;
		data['ajax_error']='{{ajax_error}}';
		purchase_feature(data);
	}; 
			   
		window.redirect_to_conversation=function(attraction_id){
		  	location.href="/messages/converse/" + attraction_id;
		};		  
	  
	  /* ---------------------------------------------
	 	
	 		APP INVITE MODAL
	 	
	 * -------------------------------------------- */
	window.app_invite_modal=null;
	window.app_referral_modal=null;
	
	$(".app_invite_link").on("click", ".app_invite", function(e) {
		e.preventDefault();
	    {% if no_track != True %}
	    ga('send', 'event', 'button', 'click', 'btn_click:crush_block_send_invite');
	    {% endif %}
		var crush_username=$(this).attr('crush_username');	
		var crush_fullname=$(this).attr('crush_fullname');
		crush_dict={};
		crush_dict[crush_username]=crush_fullname;
		window.attraction_json={};
		window.attraction_json[0]=crush_dict;
		window.launch_app_invite_dialog(0,1,true);
	});// close .app_invite_link & #inite_interstitial_modal on click app_invite function

	{% comment %}
	$("#app_referral_modal").on("click","#referral_cancel_btn", function(e){	
        {% if no_track != True %}
    		ga('send', 'event', 'button', 'click', 'invite_fb_friends_NO');
    	{% endif %}
		window.app_referral_modal.dialog('close');
		location.href='/your_crushes/';
	});
	{% endcomment %}
	
	$("#app_referral_modal").on("click",".referral_send_btn", function(e){
		btn_id = $(this).attr('id');
		var invite_list = window.app_invite_list;
		if (btn_id=="referral_custom_send_btn"){
			invite_list="";
			{% if no_track != True %}
        		ga('send', 'event', 'button', 'click', 'btn_click:invite_custom_fb_friends');
        	{% endif %}	
		}
		else {
			{% if no_track != True %}
        		ga('send', 'event', 'button', 'click', 'btn_click:invite_preselected_fb_friends');
        	{% endif %}
		}

        
		// disable all buttons
		$("#app_referral_modal").html('<div id="site-loading"></div>');
		// get excluded ids (of existing crushes)
				// call facebook requests dialog with excluded ids
		        FB.ui({method: 'apprequests',
		            message: "Check Out CrushMaven, the Intelligent & Anonymous Secret Admirer App",
		            to:invite_list,
		            title:'Increase your odds of getting a response!'

		        }, function(response){
		        	if (response.to != undefined){
			        	var num_invites = response['to'].length;
			            {% if no_track != True %}
			            	ga('send', 'event', 'button', 'click', 'stat:fb_friends_invited_via_crush_addition:' + num_invites.toString());
			            {% endif %}
		        	}
		        	else {
			            {% if no_track != True %}
		            		ga('send', 'event', 'button', 'click', 'stat:fb_friends_invited_via_crush_addition:0');
		            	{% endif %}
		        	}
			        window.app_referral_modal.dialog('close');
		        	// track how many invites were sent out through google events
			        location.href="/your_crushes/";
		        });
	});
	
	window.launch_app_invite_dialog = function(current_crush_number,total_crushes,delayed_invite){
		if (delayed_invite != true)
			delayed_invite = false;
		var crush_dict=window.attraction_json[current_crush_number];
		if (crush_dict==undefined){
			// close the dialog
			window.app_invite_modal.dialog('close');
			// launch another dialog that asks if they would like to invite their friends to use CrushMaven - the more people aware of CrushMaven, the greater the chance that your crush will respond.
			 if (!delayed_invite){
				window.wait_modal_open();

				$.get( "/ajax_get_invite_crush_array/", function( data ) { 
					window.wait_modal_close();

					if (data != ""){
						if (!window.app_referral_modal)
							window.app_referral_modal = $("#app_referral_modal").dialog({dialogClass:"app_referral_dialog blacktop", draggable:false,resizable:false, width:510, modal: true, autoOpen: false,open: function(event, ui) {$("body").css({ overflow: 'hidden' }) },beforeClose: function(event, ui) {$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' })}});
						window.app_referral_modal.dialog('open');
						window.app_invite_list = data;
						$(':focus').blur();
					}
					else 
						location.href="/your_crushes/";
				})
			}
			return;
		}
		var crush_username='';
		var crush_fullname='';
		for (var username in crush_dict) {
			crush_username=username;
			crush_fullname=crush_dict[username]
		}
	        
		var crush_firstname = crush_fullname;
		var space_index = crush_fullname.indexOf(' ');
		if (space_index > 0){
			crush_firstname=crush_firstname.substr(0,space_index) ;
			crush_firstname= crush_firstname.charAt(0).toUpperCase() + crush_firstname.slice(1);
		}
		// only initialize jquery modal dialog once per page load

		if (!window.app_invite_modal)
			window.app_invite_modal = $("#app_invite_modal").dialog({dialogClass:"app_invite_dialog", draggable:false,resizable:false, modal: true, autoOpen: false,open: function(event, ui) {$("body").css({ overflow: 'hidden' }) },beforeClose: function(event, ui) {$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' })}});
		window.app_invite_modal.html('<div id="site-loading"></div>');
		$(".app_invite_dialog").children(".ui-dialog-titlebar").append("<span class='help_icon'>?</span>");
		window.wait_modal_open();
		var load_url="/app_invite_form_v2/" + crush_username + "/";
		window.app_invite_modal.load(load_url,{'crush_fullname':crush_fullname, 'current_crush_number':current_crush_number,'total_crushes_string':total_crushes,'delayed_invite':delayed_invite,'csrfmiddlewaretoken':'{{csrf_token}}' },function(responseText,textStatus,XHR){
			window.wait_modal_close();
			if (textStatus!="success"){
				if (!window.access_token_error(responseText))
					$(this).html("{{ajax_error}}");
			}
			else{
				var current_crush_number_display=current_crush_number + 1;
				var title_extension = '';
				if (total_crushes > 1)
					title_extension = " <span class='invite_subtitle'>(crush " + current_crush_number_display  + " of " + total_crushes + ")</span>";
				window.app_invite_modal.dialog("option","title", "<img style='display:inline-block;margin-right:7px;margin-bottom:-4px;' src='http://graph.facebook.com/" + crush_username + "/picture?width=20&height=20'>Anonymously Invite " + crush_firstname + title_extension);
				window.app_invite_modal.dialog('open');
				$(':focus').blur();
			}
		});	
	};	
	
	
	//-------------  App Invite Interstitial ------------------
	// launch interstitial
	//
	//		inputs:
	//			json of attractions: attraction_username = attraction_full_name
	//			redirect page (where to go after dialog closes) 
	//		functionality:
	//			dynamically build dialog html elements based off of the inputted array
	
	window.invite_interstitial_modal=null;
	window.invite_interstitial_modal_redirect_url="";

	// this function provides ability to launch one or a sequence app invite dialogs - depending on the number of added crushes 
	// given crush_number corresponds to the particular crush number to launch - if the number is greater than the provided number of crushes, then we are done
	window.launch_invite_interstitial = function(attraction_json) {
		window.attraction_json={};
		var counter=0;
		for (var username in attraction_json) {
			var crush_dict={};
			crush_dict[username]=attraction_json[username];
			window.attraction_json[counter]=crush_dict;
			counter++;
		}
		window.launch_app_invite_dialog(0,counter);

	};
	
  function add_friends_to_db(response)
  //response is a json object of username:fullname with username having extra character at end representing friendship type
  {           
                window.wait_modal_open();
                var result_dictionary = {};
                var attraction_invites_json={};
                result_dictionary["csrfmiddlewaretoken"]="{{csrf_token}}";
                for (attraction in response){
                        result_dictionary[attraction.slice(0,-1)]=attraction.slice(-1);
                        attraction_invites_json[attraction.slice(0,-1)]=response[attraction];
                };
        $.post('/ajax_add_crush_targets/',result_dictionary, function(){
                // on success redirect to the crush page
                window.wait_modal_close();
                window.launch_invite_interstitial(attraction_invites_json,'/your_crushes/'); 
                //document.location.href='/your_crushes/'; // reload page
        }).fail(function(error){
                window.alert_modal("Add Crushes - Problem", error.responseText,$('#fs-dialog-box-wrap') );
  });
  }
	// -------------  CSS additions ------------------

	$.maxZIndex = $.fn.maxZIndex = function(opt) {
	    /// <summary>
	    /// Returns the max zOrder in the document (no parameter)
	    /// Sets max zOrder by passing a non-zero number
	    /// which gets added to the highest zOrder.
	    /// </summary>    
	    /// <param name="opt" type="object">
	    /// inc: increment value, 
	    /// group: selector for zIndex elements to find max for
	    /// </param>
	    /// <returns type="jQuery" />
	    var def = { inc: 10, group: "*" };
	    $.extend(def, opt);    
	    var zmax = 0;
	    $(def.group).each(function() {
	        var cur = parseInt($(this).css('z-index'));
	        zmax = cur > zmax ? cur : zmax;
	    });
	    if (!this.jquery)
	        return zmax;
	
	    return this.each(function() {
	        zmax += def.inc;
	        $(this).css("z-index", zmax);
	    });
	}
	$("#alert_modal").dialog({dialogClass:'alert_modal_dialog blacktop', draggable:false,resizable:false, modal: true, autoOpen: false,open: function(event, ui) {$("body").css({ overflow: 'hidden' }) },beforeClose: function(event, ui) {$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' })},buttons: {"Ok": function() {$(this).dialog("close");}}});
	$("#wait_modal").dialog({dialogClass:'wait_modal_dialog', draggable:false,resizable:false, height:80,width:300,modal: true, autoOpen: false,open: function(event, ui) {$("body").css({ overflow: 'hidden' }) },beforeClose: function(event, ui) {$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' })}}); 
 
	window.wait_modal_open=function(custom_message,calling_jquery_element){
		var message="please wait...";
		if (custom_message !== 'undefined' && custom_message !== "")
			message=custom_message;
		
		if (!$("#wait_modal").dialog("isOpen")){
				$("#wait_modal").html(message);
				$('#wait_modal').dialog("open");
		}
		
		if (typeof calling_jquery_element !== 'undefined')	{
			var top_z_index=parseFloat($(calling_jquery_element).css('z-index'));
			var dialog_index = top_z_index + 2;
			var overlay_index = top_z_index + 1;
			var old_dialog_z = $(".wait_modal_dialog").css('z-index');
			$(".wait_modal_dialog").css('z-index',dialog_index.toString());
			var old_overlay_z = $(".ui-widget-overlay").css('z-index'); // set back to this z-index when close pressed
			$('.ui-widget-overlay').css('z-index',overlay_index.toString()).addClass('wait_mode');
			$('#wait_modal').dialog("option",{beforeClose:function(){$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' });$('.wait_modal_dialog').css('z-index',old_dialog_z);$('.ui-widget-overlay').css('z-index',old_overlay_z).removeClass('wait_mode')}});
		}
		$(".ui-widget-overlay").fadeTo(0,.1);
		
	};  

	window.wait_modal_close=function(){
		if (!$("#wait_modal").dialog("isOpen"))
			return;
		$(".ui-widget-overlay").fadeTo(0,.6);//put it back where it used to be
	 		$('#wait_modal').dialog("close");
	 };  
  
	 window.alert_modal=function(title, message,calling_jquery_element,callback_code){
	   $("#alert_modal").html(message);
	   $("#alert_modal").dialog({dialogClass:'alert_modal_dialog blacktop', draggable:false,title:title,show:'fade',close:function(){ if (callback_code != undefined) eval(callback_code);},beforeClose:function(){$("body").css({ 'overflow-x':'auto','overflow-y': 'scroll' });$(".ui-widget-overlay").css('z-index',old_overlay_z);window.wait_modal_close()}});
		$('#alert_modal').dialog("open");
		
		if (typeof calling_jquery_element === 'undefined'){
				var top_z_index = parseInt($.maxZIndex());
		}
		else {
			var top_z_index=parseFloat($(calling_jquery_element).css('z-index'));
		}
		var dialog_index = top_z_index + 2;
		var overlay_index = top_z_index + 1;
		$(".alert_modal_dialog").css('z-index',dialog_index.toString());
		var old_overlay_z = $(".ui-widget-overlay").css('z-index'); // set back to this z-index when close pressed
		$(".ui-widget-overlay").css('z-index',overlay_index.toString());
		$(':focus').blur();
  };  
  
  window.access_token_error=function(responseText){
		if (responseText.indexOf("HTTPError") != -1){
		  reauthorize_user();
			return true;
		}
		else 
			return false;
	};

	var reauthorize_user=function(){
		window.alert_modal('User Authentication', "For your security, we must periodically re-confirm your Facebook identity.  Our apologies for the inconvenience.",$('#fs-dialog-box-wrap'));
		setTimeout(function(){location.href="/facebook/login"},1000);
	};
	
	var send_fb_invite = function(recipient_id,crush_short_name,crush_first_name,crush_last_name, crush_gender){
		var share_link = 'http://{{ request.META.HTTP_HOST }}' + '/admirer_for/' + crush_first_name + '/' + crush_last_name[0] + '/';
		var crush_gender_pronoun_object = 'her';
		var admirer_gender_pronoun_subject = 'he';
		if (crush_gender == 'M'){
			crush_gender_pronoun_object = 'him';
			admirer_gender_pronoun_subject = 'she';
		}
		var share_description = crush_first_name + "'s friend secretly likes " + crush_gender_pronoun_object + ". But " + admirer_gender_pronoun_subject + "'s not sure whether to make a move or not and using CrushMaven to find out if the attraction is mutual.  Visit www.crushmaven.com to learn more."
		window.wait_modal_open();
		FB.api('/?id='+ share_link + '&scrape=true','POST',{scrape : 'true'},function(response){ // trigger facebook scraper to examine this page
			if (!response || response.error){
				window.wait_modal_close();
				window.alert_modal("Facebook Messaging Problem","Sorry, but we're having difficulty cooking up a message through Facebook.  Please try again later");
			}
			else {
		  	FB.ui({method: 'send',
		  				name: crush_short_name + " friend added " + crush_gender_pronoun_object + "!",
		  				to: recipient_id,
		  				link: share_link,
		  				description:share_description,
		      },
		      function(response){
		      		window.wait_modal_close();
		         // regardless of whether user cancels or sends message, reload the appropriate attraction page
		      		console.log(response);
		         if (response != null && response['error_code'] == null){	
						  	$(".inactive_crushed_friends").load('/ajax_friends_with_admirers_content/' + recipient_id,function(responseText,textStatus,xhr){
								if (xhr.status==405)
									reauthorize_user();
				  			});
		  				} //close off if (response != null) 
		      }      
		    );// close off fb.ui
		   }}); // close off FB.api
  }; // close off send_fb_invite
   
  $(".inactive_crushed_friends").on('click', '#send_fb_invite', function(){
           var crush_id = $(this).attr('crush_username');
           var crush_name = $(this).attr('crush_name');
           var crush_first_name = $(this).attr('crush_first_name');
           var crush_last_name = $(this).attr('crush_last_name');
           var crush_gender = $(this).attr('crush_gender');
           {% if no_track != True %}
           ga('send', 'event', 'button', 'click', 'btn_click:right_column_invite_inactive_friend');
           {% endif %}
           send_fb_invite(crush_id,crush_name,crush_first_name, crush_last_name,crush_gender);
  });
  
// QUERY INACTIVE FRIENDS WITH ADMIRERS
$(".process_friends_with_admirers_section").parent('ul').load('/ajax_friends_with_admirers_content/',function(responseText,textStatus,xhr){
	if (xhr.status==405)
  			reauthorize_user();
  }); 
 
// HANDLE SETTINGS MENU CLICK
function openSubMenu() {
	var show_me = $(this).find('ul');
	$(this).find('a').css('color','white');
			show_me.show(0);
}; 
function closeSubMenu() {
	var hide_me = $(this).find('ul');
			$(this).find('a').css('color','');
			$(hide_me).hide(0);
};
$('.drop_down_menu_link > li.submenu').hover(openSubMenu,closeSubMenu);

$('#center_header_menu #get_started_link').hover(function(){$(this).css('color','#09ABE8')},function(){$(this).css('color','white')});

//HANDLE clicking of drop down menu links
$('.header_container .drop_down_menu_link li.submenu').click(function(e){
	e.stopPropagation();
	var menu_element = $(this).find('ul');
	var menu_element_id=menu_element.attr('id');

	if ($(menu_element).is(":visible")){
		$(menu_element).hide(0);
	}
	else{
		$(menu_element).show(0);
	}
		$('.popup:not(#' + menu_element_id + ')').hide();
});

// HANDLE TITLE BAR OPTIONS SUBMENU CLICK
$('.title_bar_option a').bind('click',function(){
	$(this).parent().children('ul').toggle();
});
	
// auto close any popups when clicking elsewhere
$('body').bind('click',function(){
	$('.popup').hide();
});
$('body').on('click',".popup_link",function(e){
  e.stopPropagation();
});

window.handle_window_resize=function(){
	$('.ui-dialog-content:visible').each(function(){
		var dialog = $(this).data("dialog");
		dialog.option("position","center");
		});
};
var timeoutPointer;
$(window).resize(function(){
	
	if ( $('body').css('overflow')=='hidden')
	{ // don't reposition window on mobile devices
		clearTimeout(timeoutPointer);
		timeoutPointer = setTimeout(window.handle_window_resize,100);
	}
});


/*  TOOLTIP SUPPORT */
$(".help_icon").html("?");

$(".tooltip_close").click(function(){
	$('.qtip').hide();
});

$(".tooltip_subtitle").click(function(){
	var current_content = $(this).parent().children('.tooltip_content');
	$(".tooltip_subtitle").not(this).css('font-weight','normal').css('font-size','11px');
	$(this).css('font-weight','bold').css('font-size','12px');
	$(this).parent().parent().find('.tooltip_relatedcontent').not(current_content).hide();
	if (current_content.css("display")=="none")
		current_content.css("display","block")
	else
		current_content.css("display","none")
})

/* ---------------------------------------------
	
	NEW USER INSTRUCTION - SHOW MORE LINK HANDLER

* -------------------------------------------- */
$('.import_contacts_yahoo').click(function(){
    {% if no_track != True %}
		ga('send', 'event', 'button', 'click', 'btn_click:import_emails_into_yahoo');
	{% endif %}
});
$('.import_contacts_hotmail').click(function(){
    {% if no_track != True %}
		ga('send', 'event', 'button', 'click', 'btn_click:import_emails_into_hotmail');
	{% endif %}
});
$('.import_contacts_other').click(function(){
    {% if no_track != True %}
		ga('send', 'event', 'button', 'click', 'btn_click:import_emails_into_other');
	{% endif %}
});

$('.show_more').click(function(){
	$(this).hide();
	$('.second_instruction_section').show(200);
	$('.first_instruction_section .show_less').show();
    {% if no_track != True  %}
    ga('send', 'event', 'button', 'click', 'btn_click:new_user_help_show_more');
    {% endif %}
	setTimeout(function(){$('.new_user_instructions').addClass('expanded');},100);
	
});
$('.show_less').click(function(){
	$(this).hide();
	$('.show_more').show();
	$('.second_instruction_section').hide(200);
	setTimeout(function(){$('.new_user_instructions').removeClass('expanded');},100);
});

$('.bt-fs-dialog').click(function(){
    {% if no_track != True %}
		ga('send', 'event', 'button', 'click', 'btn_click:add_crushes_from_all_places');
    {% endif %}
})

{% if request.user.email == '' or not request.user.is_email_verified %}
	setTimeout(function(){$('.footer').animate({height:'+=38'},500);},1500);
	$('.resend_verify_email').click(function(){
		$(this).replaceWith('&nbsp;(resent)');
		$.get('/ajax_resend_verification_email');
	})
{% else %}
	{% if 'verified_email' in request.GET  %}

		window.alert_modal('Email Verification','Your email, {{ request.user.email }}, has been verified.  Thank you!');
	{% endif %}
{% endif %}

}); // close of jQuery(document).ready

</script>
<div id="fb-root"></div> 
<div class="header">
	<div class="header_container">{% include "navigation_top.html" %}</div>
</div><!-- close off header divs -->

<div class="main_container">
	<div class="left_sidebar">
			<div class="left_sidebar_container">{% include "navigation_left_singles.html" %}</div>
	</div> <!-- close off left_sidebar -->
	<div class="center_panel">
		<div class="center_panel_container">
			{% block content %}
			{% endblock %}
		</div> <!-- close off center_content_container -->
	</div> <!-- close off center_panel -->
	<div class="right_sidebar">
	<div class="right_sidebar_container">{% include "navigation_right.html" %}</div>
</div> <!-- close off right_sidebar -->
</div> <!-- close off main_container -->


{% if request.user.email == "" %}
	{% if 'settings_preferences' not in request.path %}
		<div class="footer {% if num_total_crushes > 0 %}footer_priority{% endif %}">
		<div class="outer_footer_container">
		<div class="inner_footer_container">
		Please provide us with your email address <a href="/settings_preferences" class="footer_btn">Update Email Settings</a>
		<div class="footer_subtext">We use it to send notifications when your crushes respond. </div>
		</div>
		</div>
		</div><!-- close off footer div -->
	{% endif %}

{% elif not request.user.is_email_verified %}
	<div class="footer {% if num_total_crushes > 0 %}footer_priority{% endif %}">
	<div class="outer_footer_container" >
	<div class="inner_footer_container">
	Please verify your address: {{request.user.email}} - click the link in our verification email<a class="footer_btn resend_verify_email">resend</a>
	<div class="footer_subtext">We'll notify you when your crushes respond at this address. Please ensure you verification email is not in your junk/spam folder.</div>
	</div>
	</div>
	</div><!-- close off footer div -->
{% endif %}
<div id="alert_modal" title="Something's Not Right"></div>
<div id="wait_modal">please wait...</div>
<div id="app_invite_modal" title="Anonymously Invite"></div>
<div id="app_referral_modal" title="One Last Thing: Help Us Help You!">
<div class="dialog_container">
<span class="dialog_container_subtitle">If your friends are using CrushMaven, they can help get your crush signed in. </span>
Send a Facebook invite to the following users we've picked to improve your chances.
</div>
<div class="ui-dialog-buttonpane">
      <div class="ui-dialog-buttonset">
      	{% comment %}<button id="referral_cancel_btn" type='button' class="site_dialog_button site_dialog_cancel_button invite_dialog_cancel_button"><span class="ui-button-text">No Thanks</span></button>{% endcomment %} 
      	<button id="referral_preselect_send_btn" class="referral_send_btn site_dialog_button"><span class="ui-button-text">Invite preselected friends</span></button>
      	<button id="referral_custom_send_btn" class="referral_send_btn site_dialog_button"><span class="ui-button-text">Invite my own selection of friends</span></button>
      	{% comment %}<button id="referral_send_btn" class="site_dialog_button"><span class="ui-button-text">Let's do it!</span></button>{% endcomment %}
     </div><!-- close off buttonset -->
 </div><!-- close off buttonpane -->
</div>
<div id="credit_check_modal" title="Feature Purchase"></div>
<div id="mobile_warning_modal" title="Mobile Site Warning"></div>
<div id="contactable"></div><!-- contactable html placeholder -->
<div id="fb-root"></div>
<script>

//twitter tweet button
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

</script>
</body>

</html>
