{% extends "base.html" %}
{% block content %}

{% load fbdater_extras %}

<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>

<div id="dialog" title="Remove Crush">Are you sure you want to remove this person from your crush list?</div>

<script type="text/javascript">

$(document).ready(function() 
{
        $("#dialog").dialog({modal: true, autoOpen: false});

        $("a.delete").click(function(e) {
        	var name=$(this).attr('name');	
            var username=$(this).attr('username');
            e.preventDefault();
            $("#dialog").text("Are you sure you want to remove " + name + " from your crush list?");
            $("#dialog").dialog('option', 'buttons', {
       			"Delete": function() {window.location = "/crushes_in_progress" + '?delete=' + username;},
        		"Cancel": function() {$(this).dialog("close");
        		}
    		});
            $("#dialog").dialog("open");
            return false;
        });
        
        $("a.modal_ajax_test").click(function(e) {
        	var content="yo";
            e.preventDefault();
            // Ajax
			$.get('/modal_delete_crush', function(data){
   	 		
            	$("#dialog").text(data);
            	$("#dialog").dialog('option', 'buttons', {
       				"OK": function() {window.location = "/crushes_in_progress"},
        			"Cancel": function() {$(this).dialog("close");
        			}
    			});
            	$("#dialog").dialog("open");
            	return false;
        	});
        });
});
</script>

<!-- Test of an ajax modal dialog 
<a href="#" class="modal_ajax_test">Ajax Modal Test</a><br>
 End Test -->

{% if userlist %}
<h3>The following users were added to your secret crushlist:</h3>
<ul>
	{% for user in userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

{% if duplicate_userlist %}
<h3>The following users are already on your crush list::</h3>
<ul>
	{% for user in duplicate_userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

<!-- ALWAYS display resonded crush relationships on top of page, if they exist -->

{% if responded_relationships %}
	<font color="red"><b>You have responses!</b></font>
	{% for crush in responded_relationships %}
		<div>
		<HR>	
		<!-- start: crush first and last name -->
		<b><i>{{crush.target_person.first_name}} {{crush.target_person.last_name}}</i></b>
		&nbsp;&nbsp;&nbsp;
		<!-- end: crush first and last name -->

		<!-- start: crush status graphic -->	
		<font color="dark red">signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;</font><font color="red">finished crush line-up</font>
		<!--  end: crush status graphic -->
		<BR>		
		<!-- start: crush pic -->
		<img src="{{crush.target_person.get_profile.get_facebook_picture }}" height=80 width=80>
		<!-- end: crush pic -->
		<BR>
		
		<!--  start: bullet points -->
		* responded to your crush<br>
		<!--  end: bullet points -->
		
		<!-- start: response button -->
			&nbsp;&nbsp;&nbsp;<B>[View Response]</B>
		<!-- end: response button -->
		
		<!-- start: secondary data -->
		<br>
		<i>Secondary Data:</i>&nbsp; date added: {{crush.date_added}}&nbsp;|&nbsp;
		<a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank">view facebook page</a>
		&nbsp;|&nbsp;
		
		<b title= "Sorry, you can no longer remove this person since they have already responded to your crush.">remove as crush</b>
		<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="delete" href="#" >temporary admin: remove as crush</a>		
		<!-- end: secondary data -->
	</div>
	{% endfor %} 
{% endif %} 

<!-- Display the crush type navigation widget -->  
<HR>
<font color="gray">
{% if crush_type = 0 %}
<b>Crushes in Progress ({{crushes_in_progress_count}})</b>&nbsp;&nbsp;<a href="/crushes_matched">Successful Crushes ({{crushes_matched_count}})</a>&nbsp;&nbsp;<a href="/crushes_not_matched">Unsuccessful Crushes ({{crushes_not_matched_count}}))</a>
{% elif crush_type = 1 %}
<a href="/crushes_in_progress">Crushes in Progress ({{crushes_in_progress_count}})</a><b>&nbsp;&nbsp;Successful Crushes ({{crushes_matched_count}})</b>&nbsp;&nbsp;<a href="/crushes_not_matched">Unsuccessful Crushes ({{crushes_not_matched_count}}))</a>
{% else %}
<a href="/crushes_in_progress">Crushes in Progress ({{crushes_in_progress_count}})</a><a href="/crushes_matched">&nbsp;&nbsp;Successful Crushes ({{crushes_matched_count}})</a>&nbsp;&nbsp;<b>Unsuccessful Crushes ({{crushes_not_matched_count}}))</b>
{% endif %}
</font>
  
<! -- End of crush type navigation widget -->  

{% if crush_relationships %}

	{% for crush in crush_relationships %}
	
	<div>
		<HR>
<!-- Display NEW or UPDATED if relevant -->  
		{% if crush.updated_flag == 1 %}
			{% if crush.date_added|datetime_since == '1 minute' %}
				(New)
				{% else %}
					(Updated)
			{% endif %}
			{{ crush.resetUpdatedFlag }}
		{% endif %}
		
<!-- start: crush first and last name -->
		<b><i>{{crush.target_person.first_name}} {{crush.target_person.last_name}}</i></b> 
		{% if crush_type = 1 %} <b>(YES)</b> {% elif crush_type = 2 %} <b>(NO)</b>{% endif %}
		&nbsp;&nbsp;&nbsp;
<!-- end: crush first and last name -->

<!-- start: crush status graphic -->	
		{% if crush.target_status < 2 %}
			<font color="gray">signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;finished crush line-up</font>
			{% elif crush.target_status == 2 %}
				<font color="red">signed up&nbsp;&nbsp;</font><font color="gray">started crush line-up&nbsp;&nbsp;finished crush line-up</font>
				{% elif crush.target_status == 3 %}
					<font color="dark red">signed up&nbsp;&nbsp;</font><font color="red">started crush line-up&nbsp;&nbsp;</font><font color = gray>finished crush line-up</font>
					{% else %}	
						<font color="dark red">signed up&nbsp;&nbsp;started crush line-up&nbsp;&nbsp;</font><font color="red">finished crush line-up</font>
		{% endif %}
		<!--  end: crush status graphic -->
		<BR>		
		<!-- start: crush pic -->
		<img src="{{crush.target_person.get_profile.get_facebook_picture }}" height=80 width=80>
		<!-- end: crush pic -->

		<BR>
		
		<!--  start: bullet points -->
		{% if crush.target_status == 0 %}
		* needs an email invitation from you to sign up and consider your relationship
		{% elif crush.target_status == 1 %}
		* not a member<br>
		* app invite(s) sent {{crush.date_invite_last_sent|date_since}} ago [send more invites]
		{% elif crush.target_status == 2 %}
		{% if crush.date_target_signed_up %}
		* signed up {{crush.date_target_signed_up|datetime_since }} ago<BR>
		{% else %}
		* is an existing member<BR>
		{% endif %}
		* must start your crush line-up to assess your relationship
		{% elif crush.target_status == 3 %}
		* started crush line-up<br>
		* response expected soon
		{% elif crush.target_status == 4 %}
		* is <i>mutually attracted</i> to you! (as of {{crush.date_target_responded}})<br>
		* [send a message]
		{% else %}
		* is <i>not mutually attracted</i> to you (as of {{crush.date_target_responded}})		
		{% endif %}
		<!--  end: bullet points -->
		
		<!-- start: conditional button: send invite -->
		{% if crush.target_status == 0 %}
			&nbsp;&nbsp;&nbsp;<B>[Send App Invite]</B>
		{% endif %}
		<!-- end: conditional button: send invite -->
		
			
		
		<!-- start: secondary data -->
		<br>
		
		<i>Secondary Data:</i>&nbsp; date added: {{crush.date_added}}&nbsp;|&nbsp; timesince: {{ crush.date_added|datetime_since }} &nbsp;|&nbsp;
		<a href="https://www.facebook.com/{{crush.target_person.username}}" target="_blank">view facebook page</a>
		&nbsp;|&nbsp;
		
		<!-- Conditional Delete Functionality -->
			
		<!-- If relationship status > 2 then prevent deletion and inform user that crush already started line-up -->
		{% if crush.target_status > 2 %}
			<b title= "Sorry, you can no longer remove this person since they have already started your crush line-up.">remove as crush</b>	

		<!-- If timesince crush added < 7 days then prevent deletion and inform user that they must wait (in order to prevent system gaming) -->
			{% elif crush.date_added|days_since < 7 %}
				<b title= "Sorry, you can not remove this person yet.  To prevent system gaming, you must wait at least 7 days after adding your crush.">remove as crush</b>	
			
		<!-- If previous two conditions met, then allow deletion but confirm it first -->
			{% else %}
				<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="delete" href="#" >remove as crush</a>	
		{% endif %}
		<a username="{{crush.target_person.username}}" name= "{{crush.target_person.first_name}} 
				{{crush.target_person.last_name}}" class="delete" href="#" >temporary admin: remove as crush</a>	
		<!-- end: secondary data -->
	</div>
	{% endfor %}

	
{% elif responded_relationships.count == 0 %}
	<HR>You have no crushes.  <a href="javascript:{}" class="bt-fs-dialog">Click here</a> to find a friend of interest.
{% endif %}
{% endblock %}

