{% extends "base.html" %}
{% block title %}Your Crushes{% endblock %}
{% block content %}
{% load fbdater_extras %}

<script type="text/javascript">
$(document).ready(function() 
{
	
	/* ---------------------------------------------
 	
	Help Popup Animation

	* -------------------------------------------- */
	
	//handle help icon show and hide
	$('.new_user_instructions').each(function(){window.scrollTo(0,0);$(this).delay(500).show(1000)});
	
	/* ----------------------------------------------------------------------
	*		FUNCTION - LAUNCH_CREDIT_CHECK
	*  ---------------------------------------------------------------------- */    
 	
  $("a.check_credit").click(function(e) {
		data = {};
		data['csrfmiddlewaretoken']="{{csrf_token}}";
		data['success_path'] = $(this).attr('success_path');	
		data['cancel_url'] =  $(this).attr('cancel_url');
		var unique_id = $(this).attr('unique_id');
		data['unique_id'] = unique_id;
		data['feature_id'] = $(this).attr('feature_id');
		data['purchase_callback_name'] = 'window.display_response_modal(' + unique_id + ')';
		data['ajax_error']='{{ajax_error}}';
		window.purchase_feature(data);
		
   }); 

 /* ---------------------------------------------
 	
 		RESPONSE MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */
  
  $("#response_modal").on('click', '#response_send_message', function(e){
  	e.preventDefault();
  	{% if no_track != True  %}
    ga('send', 'event', 'button', 'click', 'btn_click:view_crush_response');
    {% endif %}
	   var crush_id = $(this).attr('crush_id');
	   //$(this).parent().dialog("close"); 	 
	   // ok to always purchase conversation cause if you're coming from the response dialog then you haven't paid yet
	   window.purchase_conversation("{{csrf_token}}",crush_id);
  });
  
  $("#response_modal").dialog({dialogClass:'response_modal_dialog',modal: true,resizable:false, autoOpen: false,width:350,close:function(event,ui){location.href="/your_crushes/";}});
  
  	window.display_response_modal = function(crush_id) {
   	load_url="/ajax_load_response_dialog_content/" + crush_id + "/";
    
    $("#response_modal").html('<span id="site-loading-fill"><div id="site-loading"></div></span>');
	$("#response_modal").dialog('option', 'buttons', {
		"Ok": function() {$(this).dialog("close");redirect_after_response_viewed();}
	});
	
	 $("#response_modal").load(load_url,function(responseText,textStatus,XHR){
		if (textStatus!='success'){
			$(this).html("{{ajax_error}}");
			return false;
		}
	});
    $("#response_modal").dialog("open");
    return false;
   };
   
   
   $(".response_view_rating a").click(function(){
   		unique_id=$(this).attr('unique_id');
   		{% if no_track != True  %}
	    ga('send', 'event', 'button', 'click', 'btn_click:view_platonic_rating_from_response_block');
	    {% endif %}
	   	purchase_rating(unique_id);
   });
   
   $("#response_modal").on('click','.response_view_rating a',function(){
	   {% if no_track != True  %}
	    ga('send', 'event', 'button', 'click', 'btn_click:view_platonic_rating_from_modal');
	    {% endif %}
		unique_id=$(this).attr('unique_id');
		purchase_rating(unique_id);
   });

	var purchase_rating = function(unique_id){
   		data = {};
			data['csrfmiddlewaretoken']="{{csrf_token}}";
			data['success_path'] = '/your_crushes/' +  '/' + unique_id + '/';
			data['cancel_url'] = 'http://{{request.get_host}}/your_crushes/' +  '/' + unique_id + '/';
			data['unique_id'] = unique_id;
			data['feature_id'] = '3';
			data['purchase_callback_name'] = 'window.rating_purchased(' + unique_id + ')';
			data['ajax_error']='{{ajax_error}}';
			purchase_feature(data); // purchase_feature is a function in external js file
	};

 	window.rating_purchased = function(unique_id){
			var rating,html;
			$.get('/ajax_get_platonic_rating/' + unique_id, function(rating){
					rating_element = $('.response_view_rating');
					rating_element.html(rating);
				}).fail(function(){
					window.alert_modal('Response Problem', "{{generic_error_message}}");
					return;
					});
		}; 
   
 	// auto call previously defined display_response_modal if there is a server value 
 	{% if reveal_crush_id %}
 		display_response_modal('{{reveal_crush_id}}');
 	{% endif %}
 	// auto launch invite dialog if there is a corresponding template argument
 	{% if invite_crush_id %}
		$('.app_invite[crush_username="{{invite_crush_id}}"]').trigger('click');
	{% endif %}

 /* ---------------------------------------------
 	
 		ADMIN DELETE DIALOG AND HANDLER
 	
 * -------------------------------------------- */

 
  	window.remove_crush_dialog = $("#remove_crush_dialog").dialog({dialogClass: 'delete_crush_dialog blacktop',modal: true, autoOpen: false});
  	// call ajax function to see if deletion if possible, if not then raise alert
  	//   if possible to delete, then confirm action with user before making second ajax call to actually perform the delete
   
    $("a.delete_crush").click(function(e) {
		$(this).parents('ul').css('display','none');
  		var name=$(this).attr('name');	
  		var username=$(this).attr('username');
  		{% if no_track != True  %}
  			ga('send', 'event', 'button', 'click', 'btn_click:remove_crush_attempt');
	    {% endif %}
  		$.get('/ajax_can_crush_target_be_platonic_friend/' + username + '/', function(){
    		// deletion is possible, so open up the confirmation dialog
    		window.remove_crush_dialog.dialog("open");
    	      $(':focus').blur();
    	}).fail(function(response){
 				window.alert_modal('Removing Your Crush', response.responseText );
 				return false;
		});  
    
      e.preventDefault();
      window.remove_crush_dialog.text("Are you sure you want to remove " + name + " as a crush?  Maybe you should give it a bit more time?");
      window.remove_crush_dialog.dialog('option', 'buttons', {
    		"Cancel": function() {
    			$("#remove_crush_dialog").dialog("close");
      		},
      		"Delete": function() {
      			{% if no_track != True  %}
      		    ga('send', 'event', 'button', 'click', 'btn_click:remove_crush_confirmation');
      		    {% endif %}
 				$.get('/ajax_make_crush_target_platonic_friend/' + username + '/',function(){
 					document.location.href='/your_crushes/'; // reload page
 				}).fail(function(response){
 				 	window.remove_crush_dialog.dialog("close");
 				 	window.alert_modal('Removing Your Crush', "{{generic_error_message}}" );
 				});
 			}
  		});
      $('.delete_crush_dialog .ui-button').addClass('site_dialog_button');
      $(".delete_crush_dialog .ui-button:nth-child(1)").addClass("site_dialog_cancel_button");
      return false;
  });

 /* ---------------------------------------------
 	
 		CRUSH NAME LINK HANDLER
 	
 * -------------------------------------------- */

$('.crush_name_link').click(function(){
	{% if no_track != True  %}
    ga('send', 'event', 'button', 'click', 'btn_click:crush_block_name_link');
    {% endif %}
	menu_element = $(this).parent('.crush_block_name_center').children('ul');
	var original_state = $(menu_element).css('display');
	$('.popup').hide(); // hide all other popups
	if (original_state != 'block')
		$(menu_element).toggle();
});
  
 /* ---------------------------------------------
 	
 		FACEBOOK PRIVACY SETTINGS CHECK MODAL DIALOG AND HANDLER
 	
 * -------------------------------------------- */
  
  $("#privacy_check_modal").dialog({modal: true,resizable:false, autoOpen: false});
  $("#privacy_check").click(function(e) {
    e.preventDefault();
    $("#privacy_check_modal").html("Your Facebook privacy setting for this app's visibility is currently NOT set to <i>Only Me</i>. <BR><BR>In order to conceal your identity from your crushes, we strongly urge you to change your settings immediately. <BR><BR> <a href='/help_fb_privacy_setting/' target='_blank'>Learn how here.</a> <BR><BR>");
		$('#privacy_check_modal').dialog("open");
  	return false;
  });
  
  {% if check_fb_privacy_setting %}
  //check for privacy setting value
	var query_string= 'SELECT name,value FROM privacy_setting WHERE name="default_stream_privacy"';
	url = 'https://graph.facebook.com/fql?q=' + query_string + '&access_token={{request.user.access_token}}&callback=?';
  privacy_fetch = $.getJSON(url);
  privacy_fetch.done(function(response){
  	if(response.data[0]['value'] != 'SELF')
     $("#privacy_check").trigger('click');
   });
  {% endif %}  	

//$('.crush_block .progress_bar_canal .progress_bar').animate({width:$(this).attr('width')},3500);
$.each($('.crush_block .progress_bar_canal .progress_bar'),function(){
	var attr_width = $(this).attr('width');
	var animate_property = {width:attr_width+'px'};
	var ease_function;
	if (attr_width == '505')
		ease_function = "easeOutQuart";
	else
		ease_function = "easeOutBack"; 
	
	var duration;
	if (attr_width>500)
		duration = 1000;
	else
		duration = 2000*(attr_width/505);//Math.floor((Math.random()*1500)+1000);
	 
	$(this).delay(1000).animate(animate_property,duration,ease_function,function(){
		var status_bar = $(this).parent().parent().find('.attraction_status_bar');
		status_bar.children('li.active_status').addClass('active_status_animated');
		status_bar.children('li.past_status').addClass('past_status_animated');
		});
	});      

 // QTIP HANDLING
$(".response_view_rating .help_icon").qtip({
	content:{
		text:$('#feedback_help_content').clone(),
		title:'What is this?'
	},
	show:{
		delay:0,
	},
	hide:{
		delay:500,
		fixed:true,
	},
	style:{
		classes: 'qtip-blue qtip-rounded qtip-shadow',
		tip:{
			corner:true
		}
	}
});	

});
</script>

<!-- ALWAYS display responded crush relationships on top of page, if they exist -->

{% if responded_relationships %}

<div id ="responses">
	<span id="title_new_responses">You have new responses!</span>
	{% for crush in responded_relationships %}
			{% with crush as crush %}
				 	{% include "crush_block.html" %}
				{% endwith %}
	{% endfor %} 
</div>
{% endif %} 
{% if show_help_popup == True %}
<div class="new_user_instructions crush_instructions">
	<span class="instructions_title">It's Simple Getting Started!</span>
	<div class="first_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Add a Facebook friend - or anyone on Facebook - as a crush</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">your selections are completely private - not even your friends will know</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">Send your crush an <i>anonymous</i> invite to sign into CrushMaven</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">this is essential to receiving a response (oftentimes within hours)</span></div>
		<a class="show_more">what happens next</a><a class="show_less">show less</a> 
		 
	</div>
	<div class="second_instruction_section">
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">Once signed in, your crush receives a lineup of potential admirers - selected by our <a target="_blank" href="/help_how_it_works/#faq_section">Crushology&#153; algorithm</a> - with you in it.  They pick out the ones they're attracted to.</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">your admirer identity is protected since the lineup is randomly ordered</span></div>
		<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">We let you know if they picked you or not.</span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">your crush may not even realize that you liked them first!</span></div>

	</div>

	<div class="instruction_block_button_line">
		<a href="javascript:{}" {% if no_track != True  %}onclick="ga('send', 'event', 'button', 'click', 'btn_click:add_crushes_from_new_user_help');"{% endif %} class="bt-fs-dialog instruction_block_button" title="Add Crush">Add a Crush Now</a>
	</div>

	</div>		<!-- close off instructional content -->

{% endif %} 
{% if show_invite_help_popup == True %}
<div class="new_user_instructions invite_instructions">
	<span class="instructions_title">You're Not Finished!</span>
	<span class="instructions_subtitle1">Get Your Crushes' Emails <span class="instructions_subtitle1_subtext">& Anonymously Invite Them</span></span>
	<span class="instructions_subtitle2">We need to get your crushes signed in so they can respond.  Email invites are the best option.
	<B>Don't know their email?</b> Don't worry - fetch 'em from Facebook:</span>
	<a class="show_more">Get Emails From Facebook</a> 
	<div class="second_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Sign into <a target="_blank" href="http://mail.yahoo.com">Yahoo</a> or <a target="_blank" href="http://www.hotmail.com">Hotmail</a> or <a target="_blank" href="http://mail.yahoo.com">(create a new account)</a></span></div>
		<div class="instruction_sub_step"><span class="instruction_step_text">Sorry Gmail users, you must create a Yahoo or Hotmail account</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">Go to the corresponding import contacts page:
			<ul>
				<li>Yahoo:  <a target="_blank" href="http://address.yahoo.com/?VPC=contact_import_landing">http://address.yahoo.com/?VPC=contact_import_landing</a></li>
				<li>Hotmail: <a target="_blank" href="http://people.live.com">http://people.live.com</a></li>
			</ul>
			</span></div>
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">Click on the Facebook icon to import your Facebook emails</span></div>
		<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">Sign back into CrushMaven, click on the 'Send Invite' button for each of your crushes (below), and enter their email address</span></div>

	</div>

</div>		<!-- close off email_help instructional content -->
{% endif %} 

{% if crush_relationships %}

<!-- Display the crush type navigation widget -->

<ul class="title_bar" id="title_bar_new_crushes">

		<li class="title_bar_title">New Crushes<span class="title_bar_count">({{crush_relationships.count}})</span></li>
		<li class="title_bar_page_links">
			<a class="title_bar_page_link" href="#title_bar_responded_crushes">view responded crushes</a>
		</li>
	
		<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
</ul>
<! -- End of crush type navigation widget --> 



{% if crush_relationships %}
	{% for crush in crush_relationships %}
		{% with crush as crush %}
				 	{% include "crush_block.html" %}
				{% endwith %}
	{% endfor %}

{% else %}

<span class="no_content">

		You have no <i>new</i> crushes.<span class="no_content_action"><a href="javascript:{}" class="bt-fs-dialog">Add one</a> to get started.</span>
	</span>
{% endif %}
{% endif %}

{% if completed_crush_relationships %}

<ul class="title_bar second_title_bar" id="title_bar_responded_crushes" {% if not crush_relationships %}style="margin-top:0px;" {% endif %}>

	<li class="title_bar_title">Responded Crushes<span class="title_bar_count">({{completed_crushes_count}})</span></li>
	<li class="title_bar_page_links">
		<a class="title_bar_page_link" href="#title_bar_new_crushes">view new crushes</a>
	</li>

	<li class="title_bar_option">
	sort:
	<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
</ul>

{% if completed_crush_relationships %}
	{% for crush in completed_crush_relationships %}
		{% with crush as crush %}
				 	{% include "crush_block.html" %}
				{% endwith %}
	{% endfor %}

{% else %}
	<span class="no_content">
	You have no crushes that have responded
	</span>
{% endif %}
{% endif %}

<! -- End of crush type navigation widget --> 

<div id="remove_crush_dialog" title="Remove From Your Crushes"></div>
<div id="privacy_check_modal" title="Facebook Privacy Setting Warning"></div>
<div id="privacy_check"></div>
<div id="response_modal" title = "Your Crush's Response"></div>

<span class="help_dialog_content" id="feedback_help_content">
<span class="tooltip_content tooltip_maincontent">
When your crush told us that they weren't interested in you, we asked them why.
</span>
</span>
<script type="text/javascript" src="{{ STATIC_URL }}qtip/jquery.qtip.min.js"></script>
{% comment %}
	<!-- Bing Code For Signup Conversion Page -->
	<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/8584f04c-0e0b-4612-9968-ab2ab721e37d/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2809881",type:"1",actionid:"209971"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/8584f04c-0e0b-4612-9968-ab2ab721e37d/analytics.html?dedup=1&domainId=2809881&type=1&actionid=209971" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>
	<!-- Google Code for Signup Conversion Page -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 975240435;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "sytPCO2_pQcQ8_mD0QM";
		var google_conversion_value = 0;
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/975240435/?value=0&amp;label=sytPCO2_pQcQ8_mD0QM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
{% endcomment %}

{% endblock %}

