<script>
$(document).ready(function() 
{

	$('.ui-dialog-title').html('{{ feature_name }}');
	
	$('#invite_stranger_btn').click(function(){
		window.purchase_dialog_div.dialog('destroy');
		window.wait_modal_open();
		$.get("/ajax_get_random_inactive_crush/",function(data){
			var crush_first_name=data['crush_first_name'];
			var crush_last_name=data['crush_last_name'];
			var crush_gender=data['crush_gender'];
			var recipient_id=data['recipient_id'];
			var crush_short_name=data['crush_short_name'];
			
				var share_link = 'https://apps.facebook.com/crushmaven/admirer_for/' + crush_first_name + '/' + crush_last_name[0] + '/';
				var crush_gender_pronoun_object = 'her';
				var admirer_gender_pronoun_subject = 'he';
				if (crush_gender == 'M'){
					crush_gender_pronoun_object = 'him';
					admirer_gender_pronoun_subject = 'she';
				}
				
				FB.api('/?id='+ share_link + '&scrape=true','POST',{scrape : 'true'},function(response){ // trigger facebook scraper to examine this page
					if (!response || response.error){
						window.wait_modal_close();
						window.alert_modal("Facebook Messaging Problem","Sorry, but we're having difficulty cooking up a message through Facebook.  Please try again later");
					}
					else {
				  	FB.ui({method: 'send',
				  				name: crush_short_name + "'s friend added " + crush_gender_pronoun_object + "!",
				  				to: recipient_id,
				  				link: share_link,
				      },
				      function(response){
				    	  window.wait_modal_close();
				    	  if (response == null){
				        		window.alert_modal("Credit Offer Problem","Invite our selected user to receive a free credit. (You invited no one)",undefined, "location.href='';");
				        		return;
				        	}
	
				    	  if (response['success']==true)	
				        	{			            
				    		  	{% if no_track != True %}
				    		  		ga('send', 'event', 'button', 'click', 'stat:fb_stranger_invited_via_credit_offer');
				            	{% endif %}
				        		$.get( "/ajax_add_one_free_credit/", function( data ) {
				        			window.alert_modal("Thank You","One credit has been added to your account!");
				        		});
				        	}
				      }      
				    );// close off fb.ui
				   }}); // close off FB.api
		}).fail(function(error){
			window.wait_modal_close();
			window.alert_modal("Free Credit Offer Problem",'Sorry, we are having problems finding a suitable person for you to invite.  Please try another option');
		});
	});
	
	$('#obtain_free_credit_btn').click(function(){
		window.purchase_dialog_div.dialog('destroy');
		// get excluded ids (of existing crushes)
		window.wait_modal_open();
		$.get( "/ajax_get_noinvite_crush_array/", function( data ) {
				
				// call facebook requests dialog with excluded ids
		        FB.ui({method: 'apprequests',
		            message: "Check out CrushMaven, the intelligent (and anonymous) secret admirer app!",
		            filters: ['all','app_non_users'],
		            exclude_ids:data['data'],
		            title:'Invite ten friends or more to earn free credit'
		        }, function(response){
		        	window.wait_modal_close();
			    	  if (response == null){
			        		window.alert_modal("Credit Offer Problem","Invite at least 10 friends to receive a free credit. (You invited no one)",undefined, "location.href='';");
			        		return;
			        	}
		        	if (response.to == undefined){
		        		window.alert_modal("Credit Offer Problem","Invite at least 10 friends to receive a free credit. (You invited no one)",undefined, "location.href='';");
			            {% if no_track != True %}
		            		ga('send', 'event', 'button', 'click', 'stat:fb_friends_invited_via_credit_offer:0');
		            	{% endif %}
		        		return;
		        	}
		        	var num_invites = response['to'].length;
		            {% if no_track != True %}
		            	ga('send', 'event', 'button', 'click', 'stat:fb_friends_invited_via_credit_offer:' + num_invites.toString());
		            {% endif %}
		        	if (num_invites < 10)	
		        		window.alert_modal("Credit Offer Problem","Invite at least 10 friends to receive a free credit. (You invited " + num_invites.toString() +")",undefined, "location.href='';");
		        	else 
		        		$.get( "/ajax_add_one_free_credit/", function( data ) {
		        			window.alert_modal("Thank You","One credit has been added to your account!");
		        		});
		        });
			}).fail(function(){
				window.wait_modal_close();
				window.alert_modal("Free Credit Offer Problem",'Sorry, we are having problems finding friends of yours to invite.  Please try another option');
			});
	});

	$.getScript('{{ STATIC_URL }}qtip/jquery.qtip.min.js').done(function(script,scriptStatus){
		$(".credit_check_dialog #purchase_title .help_icon").qtip({
			content:{
				text:$('#credits_help_content'),
				title:'What are credits?'
			},
			show:{
				delay:0,
			},
			hide:{
				delay:500,
				fixed:true,
			},
			style:{
				classes: 'qtip-blue qtip-rounded qtip-shadow',
				tip:{
					corner:true
				}
			}
		});	
	});//close off getScript
	/*  TOOLTIP SUPPORT */

	$(".tooltip_close").click(function(){
		$('.qtip').hide();
	});

	$(".tooltip_subtitle").click(function(){
		var current_content = $(this).parent().children('.tooltip_content');
		$(this).parent().parent().find('.tooltip_relatedcontent').not(current_content).hide();
		if (current_content.css("display")=="none")
			current_content.css("display","block")
		else
			current_content.css("display","none")
	})
});
</script>

<div id="credit_check_container" class= "credit_insufficient_container">
	<div id="feature_description" class="feature_description_insufficient">
		This is a premium feature which requires {{ feature_cost }} credit. You currently have none.	
	</div>
	<div id="purchase_description_container">
	</div><!--  close off purchase_description_container -->
	<div class="purchase_container">
		<h3 id="purchase_title">Obtain More Credit:<span class='help_icon'>?</span></h3>
		<div class="purchase_option purchase_option_margin" >
			<span class="purchase_option_label">Option 1</span>
			<div class="purchase_option_description">
					Invite someone else's crush & earn one free credit
			</div>
			<div class="purchase_option_button" id="invite_stranger_btn">Invite a Stranger</div>
		</div>
		<div class="purchase_option purchase_option_margin">
			<span class="purchase_option_label">Option 2</span>
			<div class="purchase_option_description">
				Invite at least ten friends & earn one free credit
			</div>
			<div class="purchase_option_button" id="obtain_free_credit_btn">Invite Your Friends</div>
		</div>
		<div class="purchase_option">
			<span class="purchase_option_label">Option 3</span>
			<div class="purchase_option_description">
				Purchase more credit using your credit card or PayPal
			</div>
			<div class="purchase_option_button" onclick="location.href='/settings_credits/';">Purchase Credit</div>
		</div>
	</div><!-- close off purchase container -->
	{% comment %}
	<div class="ui-dialog-buttonpane">
		<!-- <span id="purchase_button_description">You will be directed to PayPal</span> -->
		<div class="ui-dialog-buttonset paypal_redirect_buttonset">
		<input type='image' id="credit_deduct_ok" onclick="window.morph_dialog();" alt="Make payments with PayPal - it's fast, free and secure!" src="{{STATIC_URL}}images/paypal_buy_now_button.gif"</input> 
		<button type='button' onclick="window.purchase_dialog_div.dialog('close');window.offer_free_credit();" class="ui-button site_dialog_button site_dialog_cancel_button invite_dialog_cancel_button" ><span class="ui-button-text">{% if request.user.site_credits == 0 %}or earn free credit{% else %}cancel{% endif %}</span></button> 
		</div>
	</div><!-- close off button_bar -->
	{% endcomment %}
</div> <!-- close off credit_check_container -->

<span class="help_dialog_content" id="credits_help_content">
<span class="tooltip_content tooltip_maincontent">
Credits are 'virtual currency' that you can spend on certain features of the site.  
For example, if we get your crush to respond, you will need to spend credits to see their response.  
</span>
<span class="related_subsections">related q&a:</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	How many credits do I have?
</span>
<span class="tooltip_content tooltip_relatedcontent">
 You currently have {{ request.user.site_credits}} {% if request.user.site_credits == 1 %}credit{% else %} credits{% endif %}.  You can always check your available credits under the settings menu (in the top right hand corner of the site).
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	Why do we charge credits for certain features?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Charging credits is the primary way that we make money from this service and put food on our tables.  
	We will only charge you when we have performed a valuable service on your behalf, for example if we determine if your crush feels the same or not.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	What if I run out of credits?
</span>
<span class="tooltip_content tooltip_relatedcontent">
You can always purchase more credits from within the settings menu (in the top right hand corner of the site).  We accept payment via Paypal and most major credit cards (also via our Paypal service).
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	How much do credits cost?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Each credit currently costs $1 USD.  However, we provide volume purchase discounts - the more you purchase at one time, the greater the discount you will receive.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	What if I don't have a Paypal account or credit card to purchase more credits?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	We are considering developing a feature that will allow you to transfer credits from another user.  
	Please provide us with your feedback to let us know if you think this is useful.  
	Our feedback tab is located on the bottom right hand corner of the site.
</span>
</span>
<span class="tooltip_close">close</span>
</span>
{% comment %}
<div id="survey_modal_div" title="Your Feedback Is Important!">
	<div class="modal_container">Would you like to earn a free credit to use on any feature?  Simply complete our feedback form, and we'll instantly update your account.
	</div><!-- close off buttonpane -->	
	<div class="ui-dialog-buttonpane">
	<div class="ui-dialog-buttonset">
		<button type='button' onclick="$('#survey_modal_div').dialog('close');" class="site_dialog_button site_dialog_cancel_button" ><span class="ui-button-text">No Thanks</span></button> 
		<button type='button' onclick="$('#survey_modal_div').dialog('close');location.href='/feedback_form';" class="site_dialog_button" ><span class="ui-button-text">Let's Do It!</span></button> 
	</div><!-- close off buttonset -->
	</div><!-- close off buttonpane -->
</div>
{% endcomment %}