<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	</head>
	<body style="font-family:helvetica">
		<table align="center" style="border:1px solid #DBDBDB;padding:15px 25px 30px 25px" width="600px">
		<tbody><tr><td>
		
			<table width="100%" style="font-size:16px;color:#2B2B2B">
				<tr style="background-color:#F5F5F5" width="100%" valign="middle" height="60px">
					<td width="100%" style="padding-left:25px;padding-top:3px">
						<img height="35px" src="http://www.crushmaven.com/static/images/cm_logo_sm.png">
					</td>
				</tr>
				<tr  width="100%" height="100px">
					<td width="100%" style="padding-left:25px;padding-top:25px">
						<img height="100px" src="http://graph.facebook.com/{{recipient_fb_username}}/picture?type=large&height=100">
					</td>
				</tr>
				<tr>
					<td width="500px" style="padding:15px 25px 10px 25px;line-height:30px;">
						Dear {{source_first_name}},
					</td>
				</tr>
				<tr>
					<td width="500px" style="padding:0px 25px 10px 25px;line-height:30px;font-size:16px">
					We noticed that you never sent an email invite to your crush.  Without performing this step, there's almost no chance that they'll sign into CrushMaven and respond.
					</td>
				</tr>
				<tr>
					<td width="500px" style="padding:5px 25px 5px 25px;line-height:30px;font-size:16px">
					Did you know there's an easy way to retrieve all of your Facebook friends' emails using your Hotmail mail account:
					<OL style="font-weight:bold;margin-top:20px;">
					<LI>Go to your <a style="white-space:nowrap" target="_blank" href="http://people.live.com">Hotmail contacts page</a></LI>
					<LI>Click on the Facebook icon (to connect your Hotmail and Facebook accounts)</LI>
					<LI>Wait a few moments, then refresh the contacts page and re-click the Facebook icon (to import all of your Facebook friends' contact information)</LI>
					</OL>
					</td>
				<tr>
					<td width="500px" style="padding:0px 25px 15px 25px;line-height:30px;font-size:16px">
						That's it!  Once you have your crush's email address, sign back into <a style="cursor:pointer;" target="_blank" href="http://www.crushmaven.com/">CrushMaven.com</a>, click on the 'Send Invite' button for your crushes, and enter their email address.
					</td>
				</tr>
				<tr width="100%"height="40px">
				<td align="center" style="padding-top:25px;padding-bottom:45px;">
					<a target="_blank" href="http://www.crushmaven.com" style="margin-top:15px;border-radius:6px;background-color:#2952CC;color:white;text-align:center;cursor:pointer;padding:9px 25px 7px 25px;letter-spacing:1px;text-decoration:none;font-size:18px"><b>Sign In Now</b></a>
				</td>
				</tr>
				</tr>
					<td width="500px" style="padding:15px 28px 15px 28px;line-height:30px;background-color:#F5F5F5;color:#595959;font-size:15px">
						In case you still can't retrive your crush's email, there are other options (also available via the 'Send Invite' button):	
						<ul>
							<li>You can provide us with their phone number.  We'll send an SMS invite.</li> 
							<li>You can let us know the email addresses of any friends of your crush.  We'll send them an anonymous message to let them know what's up, and ask them to forward our invite to your crush.</li> 
						</ul>
					</td>
				</tr>	
			</table>
		</td></tr></tbody>	
		</table>
	</body>
</html>
