Someone at Flirtally.com (http://www.flirtally.com) is attracted to {{ full_name }} and would like your help to determine if {{ pronoun_subject }} feels the same.  Unfortunately, we can't tell you more than that.  {{ first_name }}'s admirer wishes to remain anonymous.
\r\n\r\n
Would you please take a second to forward this message to {{ first_name }}?
\r\n\r\n\r\n
What is Flirtally?  It's a new matchmaking service for people who already have someone in mind, either for themselves or friends of theirs.  Match your friends up, or find out if someone you know and like feels the same at Flirtally.com.
\r\n\r\n
And in case you're wondering: {{ first_name }}'s admirer provided us with your email address.  We won't share it with anyone else, and we'll delete it once {{ first_name }} signs up.