Hi {{source_first_name}},

We noticed that you did not send any email invites to your crush. Without performing this step, there is almost no chance that they'll sign in to CrushMaven and respond.

Did you know there's an easy way to retrieve the email addresses for all of your Facebook friends?

	1) Sign into your Yahoo or Hotmail account (Create an account if you don't have one)
	2) Go to the corresponding import contacts page:
			Yahoo:  http://address.yahoo.com/?VPC=contact_import_landing
			Hotmail: http://people.live.com 
	3) Click on the Facebook icon to import your Facebook Friend's contact information.  

That's it!  Once you have your crush's email address, sign back into CrushMaven, click on the 'Send Invite' button for your crush, and enter their email address.

Please let us know if you have any questions or comments.  Good Luck!

---
Chris, Founder
www.crushmaven.com
---
P.S.

In case you still can't retrive your crush's email, there are other options (also available via the 'Send Invite' button):	
- You can let us know the email addresses of any friends of your crush.  We'll send them an anonymous message to let them know what's up, and ask them to forward our invite to your crush. 
- You can provide us with your crush's twitter username, and we'll tweet them a message from our twitter account. (We're experimenting with this last invite option)
