Hi {{source_first_name}},

I'm Chris, the founder of CrushMaven.com.

You recently used CrushMaven.com to find out if your someone you're attracted to feels the same.  I'd like to help you find out as quickly as possible, but I need your help.  

I noticed you didn't send any invites to your crush(s).  Without performing this step, there is very little chance that they'll sign in to CrushMaven and respond.

I would really appreciate it if you let me know why you didn't send any invites - so I can potentially make improvements to the site.  In case you just forgot or weren't sure how to do so, you can sign back in to CrushMaven and click on any of the 'send invite' buttons. Or you can let me know of your contact's information, and I'll have the invites sent out through our back-end system.

Here's a bit of information on how invites work:

The most effective way for us to send an anonymous invite to your crush is by sending them a direct email invite (from our CrushMaven email account).  This requires that you provide us with their email address.  If you don't know your crush's email, then you can also let us know the email addresses of any friends of your crush.  We'll send them an anonymous message to let them know what's up, and ask them to forward our invite to your crush.  Lastly, you can provide us with your crush's twitter username, and we'll tweet them a message from our twitter account. (We're experimenting with this last invite option)

		
Thanks for using CrushMaven, and I look forward to receiving your feedback!

Chris
CrushMaven Support
support@crushmaven.com