Dear {{full_name}},
\r\n\r\n
{% if friendship_type == 0 %}
	One of your Facebook friends is attracted to you.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 
{% elif friendship_type == 1 %}
	One of our users is attracted to you.  You share a mutual Facebook friend.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 			
{% else %}
	One of our users is attracted to you.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 				
{% endif %}
\r\n\r\n
What is CrushMaven? It's a new matchmaking service for people who already have someone in mind - either for themselves or friends of theirs.  Match your friends up, or find out if someone you know and like feels the same at CrushMaven.com.
