Dear {{full_name}},

{% if friendship_type == 0 %}
	One of our users is attracted to you and wants to know if you feel the same.  (You are actually friends on Facebook.) Sign in to CrushMaven.com (http://www.crushmaven.com) to learn more & find out whom. 
{% elif friendship_type == 1 %}
	One of our users is attracted to you and wants to know if you feel the same.  (You share a mutual Facebook friend.)  Sign in to CrushMaven.com (http://www.crushmaven.com) to learn more & find out whom. 			
{% else %}
	One of our users is attracted to you and wants to know if you feel the same.  (They know you, but you're not Facebook friends.)  Sign in to CrushMaven.com (http://www.crushmaven.com) to learn more & find out whom. 				
{% endif %}

What is CrushMaven? It's a new matchmaking service that finds out if someone you like feels the same - anonymously and without any social awkwardness. Learn more at CrushMaven.com.