<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	</head>
	<body style="font-family:helvetica">
		<table align="center" style="border:1px solid #DBDBDB;padding:15px 25px 30px 25px" width="600px">
		<tbody><tr><td>
		
			<table width="100%" style="font-size:16px;color:#2B2B2B">
				<tr style="background-color:#F5F5F5" width="100%" valign="middle" height="60px">
					<td width="100%" style="padding-left:25px;padding-top:3px">
						<img height="35px" src="http://www.crushmaven.com/static/images/cm_logo_sm.png">
					</td>
				</tr>
				<tr  width="100%" height="100px">
					<td width="100%" style="padding-left:25px;padding-top:25px">
						<img height="100px" src="http://graph.facebook.com/{{recipient_fb_username}}/picture?type=large&height=100">
					</td>
				</tr>
				<tr>
					<td width="500px" style="padding:15px 25px 10px 25px;line-height:30px;">
						Dear {{first_name}},
					</td>
				</tr>
				<tr>
					<td width="500px" style="padding:0px 25px 10px 25px;font-weight:bold;line-height:30px;font-size:16px">
					{% if friendship_type == 0 %}
						One of our users, a Facebook friend of yours
					{% elif friendship_type == 1 %}
						One of our users, someone who knows you and shares a mutual Facebook friend				
					{% else %}
						One of our users, someone who knows you				
					{% endif %}
						, asked us to invite you to CrushMaven. Why?  Because they're attracted to you and want to know if you feel the same. 
					</td>
				<tr>
					<td width="500px" style="padding:0px 25px 15px 25px;line-height:30px;font-size:16px">
						Please sign in to <a style="cursor:pointer;" href="http://www.crushmaven.com/">CrushMaven.com</a> to find out whom.
					</td>
				</tr>
				</tr>
				</tr>
					<td width="500px" style="padding:15px 28px 15px 28px;line-height:30px;background-color:#F5F5F5;color:#595959;font-size:15px">
						<B>What is CrushMaven?</B>&nbsp;It's a new matchmaking service that finds out if someone you like feels the same - anonymously and without any social awkwardness. Learn more at CrushMaven.com.
					</td>
				</tr>
				<tr width="100%"height="40px">
					<td align="center" style="padding-top:35px">
						<a href="http://www.crushmaven.com" style="margin-top:15px;border-radius:6px;background-color:#2952CC;color:white;text-align:center;cursor:pointer;padding:9px 25px 7px 25px;letter-spacing:1px;text-decoration:none;font-size:18px"><b>Go There Now</b></a>
					</td>
				</tr>	
			</table>
		</td></tr></tbody>	
		</table>
	</body>
</html>
