Dear {{full_name}},
\r\n\r\n
{% if friendship_type == 0 %}
	One of your Facebook friends is attracted to you and wants to know if you feel the same.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 
{% elif friendship_type == 1 %}
	One of our users is attracted to you and wants to know if you feel the same.  You share a mutual Facebook friend.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 			
{% else %}
	One of our users, someone who knows you, is attracted to you and wants to know if you feel the same.  Sign in to CrushMaven.com (http://www.crushmaven.com) to find out whom. 				
{% endif %}
\r\n\r\n
What is CrushMaven? It's a new matchmaking service that finds out if someone you like feels the same - anonymously and without any social awkwardness. Learn more at CrushMaven.com.