We need your help!\r\n\r\n
To obtain a response from your crushes, we first need to send them an invitation to sign into CrushMaven.
\r\n\r\n
Please log back in and provide us with email addresses for the following people, so we can send them our anonymous invite:
\r\n\r\n
{% for crush_full_name in crush_list %}
* {{ crush_full_name }}\r\n
{% endfor %}
{% if more_crushes_count %}
	and {{ more_crushes_count }} more..
{% endif %}
\r\n\r\n\r\n
Log in to crushmaven.com (http://www.crushmaven.com) and get crack-a-lackin!
\r\n\r\n\r\n
Change your notifications in account settings (http://www.crushmaven.com/settings_preferences).

