Someone at Flirtally.com (http://www.flirtally.com) is attracted to {{ full_name }} and would like your help to determine if {{ pronoun_subject }} feels the same.  Unfortunately, we can't tell you more than that.  {{ first_name }}'s admirer wishes to remain anonymous.
\r\n\r\n
Would you please take a second to forward this message to {{ first_name }}?
\r\n\r\n\r\n
What is Flirtally?  It's a new matchmaking service for people who already have someone in mind – either for themselves or friends of theirs.  Match your friends up, or find out if someone you know and like feels the same at Flirtally.com.
