<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta property="fb:app_id" content="165610330293338" /> 
  <meta property="og:type"  content="website" /> 
  <meta property="og:description" content="{% if change_description %}{{ change_description }}{% else %}Flirtally is a new matchmaking service for people who already have someone in mind - either for themselves or for friends of theirs.  Anonymously find out if someone you like feels the same. Or ask friends to help set you up. |  Already in a relationship?  Play matchmaker - it's easy and fun!.{% endif %}" />
  <meta property="og:title" content="{% if change_title%}{{ change_title }}{% else %}Flirtally | Matchmaking Through Friends{% endif %}" />
  <meta property="og:image" content="{{ STATIC_URL }}images/flirtally_fb_logo2.png"/>
  <meta property="og:image:width" content="259" />
	<meta property="og:image:height" content="230" />
  <meta property="og:site_name" content="Flirtally Matchmaking"/>
  <meta property="og:url" content="{% if change_url %}{{ change_url }}{% else %}http://www.flirtally.com{% endif %}" />
  <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
  <meta name="description" content="{% if change_description %}{{ change_description }}{% else %}Flirtally is a new matchmaking service for people who already have someone in mind - either for themselves or for friends of theirs.  Anonymously find out if someone you like feels the same. Or ask friends to help set you up. |  Already in a relationship?  Play matchmaker - it's easy and fun!{% endif %}" />
  <meta name="robots" content="all,index" />
  <meta name="Revisit-After" content="30 Days" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
  <link type="text/css" href="{{ STATIC_URL }}fbdater_guest_v1.css" rel="stylesheet"/>
	<title>{% if change_title%}{{ change_title }}{% else %}Flirtally | Matchmaking Through Friends{% endif %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon_v2.png" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon_v2.png" /> 
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/how_it_works.js?t={% now "U" %}"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function($) {
	/*-- ------ HANDLE FACEBOOK LOGIN BUTTON CLICK  -------- */
	$('#facebookbtn').click(function(e){
		$(this).hide();
		$('#authentication_wait').show();
		window.location.href="/facebook/login{{request.GET.next}}";
		clearInterval(window.slider_control);// stop the automatic sliding of tagline slides
		setInterval(function(){shift_dot();},200); // animate the elipses
	});
	
	var shift_dot = function(){
		var dot_element = $('#authentication_dot');
		var dot_x = dot_element.css('right');
		var new_dot_x = '45px';
		if (dot_x == '45px')
			new_dot_x = '35px';
		else if (dot_x == '35px')
			new_dot_x = '25px'
		dot_element.css('right',new_dot_x);
	}
	
	/* --------- HANDLE SLIDER BUTTON CLICKS ----------------- */
	
	$('.slide_button').on('click',function(event){
		if ($(this).hasClass('slide_button_active'))
			return;
		var inactive_toggle_delay=400;
		var inactive_toggle_duration=4000;		
		var active_toggle_duration=1000;
		var active_slide=$('.active_tagline_slide');
		var inactive_slide=$('.inactive_tagline_slide');
		// stop the automatic timer if user clicked one of the slider buttons
		if (event.originalEvent!==undefined){
			
			// stop and fast forward any ongoing animations
			active_slide.finish();
			
			// make toggles quick!
			inactive_toggle_duration=500;
			active_toggle_duration=250;
			if (window.slider_control!=null){
				clearInterval(window.slider_control);
				window.slider_control=null;
			}
		}
		else{ // in case of automated slide - only allow two automatic changes
			window.number_automatic_slides+=1;

			if (window.number_automatic_slides ==1 ){
				clearInterval(window.slider_control);
				window.slider_control = setInterval(function(){
					$('.slide_button_inactive').trigger('click');
				},7000);
			}
		}
			

		var active_button=$('.slide_button_active');
		var active_core=active_button.children('span');
		var inactive_button=$(this);
		var inactive_core=$(this).children('span');
		
		inactive_button.removeClass('slide_button_inactive').addClass('slide_button_active');
		
		inactive_core.removeClass('slide_button_core_inactive').addClass('slide_button_core_active');
		
		active_button.removeClass('slide_button_active').addClass('slide_button_inactive');
		
		active_core.removeClass('slide_button_core_active').addClass('slide_button_core_inactive');
		

	
		//active_slide.animate({left:'-985px'},1000,function(){active_slide.css('left','925px');});//slide left out of view
		//inactive_slide.animate({left:'0px'},1000);// slide left into view (from left 925 px)
		//active_slide.fadeToggle('2000');
		active_slide.fadeToggle(active_toggle_duration);
		inactive_slide.delay(inactive_toggle_delay).fadeToggle(inactive_toggle_duration);
		active_slide.removeClass('active_tagline_slide').addClass('inactive_tagline_slide');
		inactive_slide.removeClass('inactive_tagline_slide').addClass('active_tagline_slide');
		// put the slide slid out of view back into the right position:
		
	}); // close of $('.slide_button').click
	
	/* ----------  AUTOMATED SLIDE FLOW --------- */
	// automatically slide in and out the tagline slides until a button is pressed
	window.number_automatic_slides=0;	
	window.slider_control = setInterval(function(){
			$('.slide_button_inactive').trigger('click');
		},4000);
	// auto show the slide marked active (since it is default to display:none
	$('.active_tagline_slide').fadeToggle(2000);
	
}); // close of jQuery(document).ready


</script>


<body id="guest_home_page">
<div id="logo_section">	
	<div id="logo_section_background"></div>
	<div class="center_container">
		<img id="guest_logo" src="{{ STATIC_URL }}images/flirtally_logo_white_v3.png">
		<span class="beta">beta</span>
		<span id="top_links"><a href="/contact">Contact</a></span>
		
		<div class="tagline_slide_container">
			<div class="tagline_slide active_tagline_slide" id="tagline_slide1">
				<h2 id="tagline1">Attracted to someone you know<br> but not sure they feel the same?</h2>
				<h2 id="tagline2">Discover your relationship potential <span id="safe_text">easily and anonymously.</span></h3>
			</div>
			<div class="tagline_slide inactive_tagline_slide" id="tagline_slide2">
				<h2 id="tagline1">Interested in being set up by friends<br>but not if it's troublesome...</h2>
				<h2 id="tagline2">Make it easy for friends to set you up <span id="safe_text">without the hassle of introductions.</span></h3>
			</div>
		</div> <!-- close off div class=tagline_slide_container -->
		<a id ="facebookbtn"></a>
		<div id="authentication_wait">authenticating<span id="authentication_dot">.</span></div>
		<div id="slide_buttons">
			<span class="slide_button slide_button_active" id="slide_button1"></span>
			<span class="slide_button slide_button_inactive" id="slide_button2"></span>
		</div>
	</div> <!--  close off center_container div -->
</div> <!-- close off logo_section div -->

{% include "how_to_section.html" %}

<div class="footer_section">
	<div class="center_container">
		<span class="first_footer_line">Flirtally © 2013</span><span id="bottom_links"><a href="/terms">Terms</a> <a href="/privacy">Privacy</a><a href="/contact/">Contact</a></span>
	</div>
</div>
</body>
</html>


