<html>
    <head>
		<style type="text/css">
		.navbar .active {
    	font-weight: bold;
		font-color: red;
    	}
    	</style>
		<title>Crush Discovery | Anonymous discovery and connect with crushes and secret admirers</title>
 
    </head>
    

        <body>
        <h1><font color=blue>crush</font><i>discovery</i></h1>
			<a href="/facebook/login"> <img src="https://s3.amazonaws.com/static.turntable.fm/images/indexlogin/facebook_btn.png"></a>

<!-- onclick="return popitup('/facebook/login)" -->

