<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
	    <meta name="description" content="When you already have someone in mind, but not sure they feel the same... Discover your relationship potential - safely and anonymously." />
	    <meta name="robots" content="all,index" />
	    <meta name="Revisit-After" content="30 Days" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
		<title>Flirtally - How it Works</title>    	

	    <link type="text/css" href="{{ STATIC_URL }}fbdater_guest.css?t={% now "U" %}" rel="stylesheet" />  
	    <link rel="shortcut icon" type="image/x-icon" href="/favicon_v1.png" />
	    <link rel="icon" type="image/x-icon" href="/favicon_v1.png" /> 
	</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/how_it_works.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<body id="guest_page">
<div class="guest_header how_it_works authenticated">
	<div class="center_container">
		<a class="logo" href="/home"><img src={% if request.user.is_authenticated %}"{{ STATIC_URL }}images/flirtally_logo_white_v3.png"{% else %}"{{ STATIC_URL }}images/flirtally_logo_pink_semi_circle.png"{% endif %}></a>
			<span id="top_links"><a href="/how_it_works" class="active">How it Works</a></span>
	</div>
</div>

<div class="guest_page how_it_works">

{% with help_type as help_type %}
	{% include "how_to_section.html" %}
{% endwith %}
</div><!-- close off div guest page
</body>
