{% extends "guest_base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="legal">
<h1>Contact Us</h1>
<div class="subtitle">Drop us a line - we'd love to hear from you!</div>
<div class="contact_box">
	<div class="contact_box_title">
		Help
	</div>
	<div>
		<a href="mailto:help@crushmaven.com">help@crushmaven.com</a>
	</div>
	</div>
	<div class="contact_box">
	<div class="contact_box_title">
		Press Inquiries
	</div>
	<div>
	<a href="mailto:press@crushmaven.com">press@crushmaven.com</a>
	</div>
	</div>
	<div class="contact_box">
	<div class="contact_box_title">
		Suggestions & Feedback
	</div>
	<div>
	<a href="mailto:feedback@crushmaven.com">feedback@crushmaven.com</a>
	</div>
	</div>
</div>
</div>
{% endblock %}