<div id="how_to_section">	
	<div class="center_container">
		<div class="title_section">
			<h2 id="howto_title" class="section_title">How it Works</h2>
			<a href="javascript:;" class="how_to_link {% if help_type and help_type == 'matchmakers' %}how_to_link_inactive{% else %}how_to_link_active{% endif %} for_singles" id="for_singles">for singles</a>
			<a href="javascript:;" class="how_to_link {% if help_type and help_type == 'matchmakers' %}how_to_link_active{% else %}how_to_link_inactive{% endif %} for_setup" id="for_matchmakers">for matchmakers</a>
		</div>
		<div class="how_to_slide_container">
			<div class="how_to_slide {% if help_type and help_type == 'matchmakers' %}inactive_how_to_slide{% else %}active_how_to_slide{% endif %}" id="how_to_slide_singles">
				<div id="singles_step_1" class="singles_step">
					<span class="singles_step_text_column">
					<img class="singles_step_image" src="{{ STATIC_URL }}/images/singles_step_image1.png">
						<span class="singles_step_title">Friend Selection</span>
						<span class="singles_step_text">
							Select a Facebook friend - or any Facebook user - that you're attracted to. We'll send out an anonymous invite to get them signed in.</span>
						</span>
					</span>
					</div>
				<div id="singles_step_2" class="singles_step">
					<span class="singles_step_text_column">
					<img class="singles_step_image" src="{{ STATIC_URL }}/images/singles_step_image2.png">
						<span class="singles_step_title">Admirer Lineup</span>
						<span class="singles_step_text">
							Once your 'attraction' is signed in, we present them with a carefully constructed lineup of potential admirers - you and nine other friends of theirs inserted in random order.  Your friend identifies anyone they're attracted to. Similar to a police lineup, they won't know who their actual admirer is. 				</span>
						</span>
					</span>
				</div>
				<div id="singles_step_3" class="singles_step">
					<span class="singles_step_text_column">
						<img class="singles_step_image" src="{{ STATIC_URL }}/images/singles_step_image3.png">
						<span class="singles_step_title">Match Notification</span>
						<span class="singles_step_text">
							If you're picked from the lineup, we notify both parties about the match.   Your attraction might actually think they chose you first.  If you're not picked, your identity remains protected.			
						</span>
					</span>
				</div>
			</div>
			<div class="how_to_slide {% if help_type and help_type == 'matchmakers' %}active_how_to_slide{% else %}inactive_how_to_slide{% endif %}" id="how_to_slide_setup">
				<div id="setup_step_1" class="setup_step">
				<img class="setup_step_image" src="{{ STATIC_URL }}/images/setup_step_image1.png">
				<span class="setup_step_title">1 Friend Selection</span>
	
					<span class="setup_step_text">
						Select any Facebook friend that you wish to set up i.e. 'your setup friend'.  Select up to ten more friends that you think will make a good match.  We'll pass your recommendations on to your setup friend.  <i><strong>Note:</strong> Your friends can also request setups from you.</i>
					</span>
				</div>
				<div id="setup_step_2" class="setup_step">
				<img class="setup_step_image" src="{{ STATIC_URL }}/images/setup_step_image2.png">
				<span class="setup_step_title">2 Setup Selection</span>
	
					<span class="setup_step_text">
						Your setup friend will view the facebook profiles of your recommendations and select the ones they're attracted to.  We'll then invite the chosen recommendations to sign in, so we can determine if the attraction is mutual.
					</span>
				</div>
				<div id="setup_step_3" class="setup_step">
				<img class="setup_step_image" src="{{ STATIC_URL }}/images/setup_step_image3.png">
				<span class="setup_step_title">3 Match Assessment</span>
	
					<span class="setup_step_text">
						Once a recommended user is signed in, we present them with a carefully constructed lineup of potential admirers  -  your setup friend and nine others inserted in random order.  Similar to a police lineup, the recommended user selects anyone they're attracted to. 
					</span>
				</div>
				<div id="setup_step_4" class="setup_step">
				<img class="setup_step_image" src="{{ STATIC_URL }}/images/setup_step_image4.png">
				<span class="setup_step_title">4 Notifications</span>
	
					<span class="setup_step_text">
					If your setup friend is selected, both parties are notified.   If not, your setup friend's identify is protected.<span class="text_break"></span><strong>As a matchmaker, you get visibility into the entire process.</strong>  After all is said and done, you'll know exactly who liked whom.
					</span>
				</div>
			</div> <!-- close off <div id="how_to_slide_setup"-->
		</div> <!-- close off how_to_slide_container -->
	</div> <!--  close off center_container div -->
</div> <!-- close off howto_section div -->