<div id="how_to_section">	
	<div class="center_container">
		<div class="title_section">
			<h2 id="howto_title" class="section_title">How it Works</h2>
			<a href="javascript:;" class="how_to_link {% if help_type and help_type == 'matchmakers' %}how_to_link_inactive{% else %}how_to_link_active{% endif %} for_singles" id="for_singles">for singles</a>
			<a href="javascript:;" class="how_to_link {% if help_type and help_type == 'matchmakers' %}how_to_link_active{% else %}how_to_link_inactive{% endif %} for_setup" id="for_matchmakers">for matchmakers</a>
		</div>
		<div class="how_to_slide_container">
			<div class="how_to_slide {% if help_type and help_type == 'matchmakers' %}inactive_how_to_slide{% else %}active_how_to_slide{% endif %}" id="how_to_slide_singles">
				<img src="{{ STATIC_URL }}images/dotted_line.png" id="dotted_line">
				<div id="singles_step_1" class="singles_step">
					<span class="singles_step_text_column">
					<span class="singles_step_image_border"><img class="singles_step_image" src="{{ STATIC_URL }}images/singles_step_image1.png"></span>
						<span class="singles_step_title">Friend Selection</span>
						<span class="singles_step_text">
							Select a Facebook friend - or any Facebook user - that you're attracted to. We'll send out an anonymous invite to get them signed in.</span>
						</span>
					</span>
					</div>
				<div id="singles_step_2" class="singles_step">
					<span class="singles_step_text_column">
					<span class="singles_step_image_border"><img class="singles_step_image" src="{{ STATIC_URL }}images/singles_step_image2.png"></span>
						<span class="singles_step_title">Admirer Lineup</span>
						<span class="singles_step_text">
							Once your 'attraction' is signed in, we present them with a carefully constructed lineup of potential admirers - you and nine other friends of theirs inserted in random order.  Your friend identifies anyone they're attracted to. Similar to a police lineup, they won't know who their actual admirer is. 				</span>
						</span>
					</span>
				</div>
				<div id="singles_step_3" class="singles_step">
					<span class="singles_step_text_column">
					<span class="singles_step_image_border"><img class="singles_step_image" src="{{ STATIC_URL }}images/singles_step_image3.png"></span>
						<span class="singles_step_title">Match Notification</span>
						<span class="singles_step_text">
							If you're picked from the lineup, we notify both parties about the match.   Your attraction might actually think they chose you first.  If you're not picked, your identity remains protected.			
						</span>
					</span>
				</div>
			</div>
			<div class="how_to_slide {% if help_type and help_type == 'matchmakers' %}active_how_to_slide{% else %}inactive_how_to_slide{% endif %}" id="how_to_slide_setup">
				<img src="{{ STATIC_URL }}images/dotted_line2.png" id="dotted_line2">
				<div id="setup_step_1" class="setup_step">
				<span class="setup_step_image_border"><img class="setup_step_image" src="{{ STATIC_URL }}images/setup_step_image1.png"></span>
				<span class="setup_step_title">1 Friend Selection</span>
	
					<span class="setup_step_text">
						Choose a friend to play matchmaker for, and select up to 10 potential matches for them.  <i>Your friends can ask you to be their matchmaker as well.</i>
					</span>
				</div>
				<div id="setup_step_2" class="setup_step">
				<span class="setup_step_image_border"><img class="setup_step_image" src="{{ STATIC_URL }}images/setup_step_image2.png"></span>
				<span class="setup_step_title">2 Friend Filtering</span>
	
					<span class="setup_step_text">
						Your friend will pick the potential matches they're attracted to.  With your help, we'll try to get those picks signed in.
					</span>
				</div>
				<div id="setup_step_3" class="setup_step">
				<span class="setup_step_image_border"><img class="setup_step_image" src="{{ STATIC_URL }}images/setup_step_image3.png"></span>
				<span class="setup_step_title">3 Match Assessment</span>
	
					<span class="setup_step_text">
						Once signed in, each pick is presented with a carefully constructed lineup of potential admirers - including your friend.  We ask them to select any they find attractive. It's like a police lineup!
					</span>
				</div>
				<div id="setup_step_4" class="setup_step">
				<span class="setup_step_image_border"><img class="setup_step_image" src="{{ STATIC_URL }}images/setup_step_image4.png"></span>
				<span class="setup_step_title">4 Match Notification</span>
	
					<span class="setup_step_text">
					If your friend is picked, we notify both parties of the match.   If not, your friend's identify is protected.<span class="text_break"></span><strong>As matchmaker, you get to see exactly who liked whom!</strong> 
					</span>
				</div>
			</div> <!-- close off <div id="how_to_slide_setup"-->
		</div> <!-- close off how_to_slide_container -->
	</div> <!--  close off center_container div -->
</div> <!-- close off howto_section div -->