{% extends "base.html" %}
{% block content %}

<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>

<div id="dialog" title="Remove Platonic Friend">Are you sure you want to remove this person from your 'Just Friends' list?</div>

<script type="text/javascript">

$(document).ready(function() 
{
        $("#dialog").dialog({modal: true, autoOpen: false});

        $("a.delete").click(function(e) {
        	var name=$(this).attr('name');	
            var username=$(this).attr('username');
            e.preventDefault();
            $("#dialog").text("Are you sure you want to remove " + name + " from your 'just friends' list?");
            $("#dialog").dialog('option', 'buttons', {
       			"Delete": function() {window.location = "/crushes_in_progress" + '?delete=' + username;},
        		"Cancel": function() {$(this).dialog("close");
        		}
    		});
            $("#dialog").dialog("open");
            return false;
        });
        
});

</script>

<!-- Display the Page Title -->  
<H3>Just Friends</h3> (testing: <a href="#" class="bt-fs-dialog">add platonic friend</a>)<BR><BR>
<! -- End title -->  

{% if platonic_relationships %}

	{% for friendship in platonic_relationships %}
	
	<div>
		<HR>
<!-- Display NEW or UPDATED if relevant -->  
		{% if friendship.updated_flag == 1 %}
			(New)
			{{friendship.resetUpdatedFlag}}
		{% endif %}
		
		
		<img src="{{friendship.target_person.get_profile.get_facebook_picture }}" height=40 width=40>
		&nbsp;&nbsp;&nbsp;
		<b><i>{{friendship.target_person.first_name}} {{friendship.target_person.last_name}}</i></b> 
		&nbsp;&nbsp;&nbsp;
		added {{friendship.date_target_responded}}
		&nbsp;&nbsp;&nbsp;
		<a username="{{friendship.target_person.username}}" name= "{{friendship.target_person.first_name}} 
				{{friendship.target_person.last_name}}" class="delete" href="#" >remove</a>	
		
		<!-- start: secondary data -->
		<br>
		<a href="https://www.facebook.com/{{friendship.target_person.username}}" target="_blank">view facebook page</a>	
	{% endfor %}

	
{% else %}
	You currently do not have anyone in your 'Just Friends' list. <br><BR>You will have the option to add people to this list once you activate the line-up of your first secret admirer.
{% endif %}
{% endblock %}

