{% load fbdater_extras %}
    		<!-- Include the plugin *after* the jQuery library -->
<!--<script src="{{ STATIC_URL }}basic-slider/bjqs-1.3.js"></script>-->
<!-- Include the basic styles -->
<!--<link type="text/css" rel="Stylesheet" href="{{ STATIC_URL }}basic-slider/bjqs.css" />-->



<div id="dialog_member_add" title="Lineup Confirmation">Are you sure about this person?</div>
<div id="credit_check_modal" title="Premium Feature Purchase"></div>

<!--  
<h2>Lineup for secret admirer id: {{admirer_rel.admirer_display_id}} ({{admirer_rel.source_person.first_name}} {{admirer_rel.source_person.last_name}})</h2>
 -->
<div id="lineup_container">
<div id="lineup-header">
One of these line-up members is your secret admirer!  Add any as a crush, and we'll let you know if the feeling is mutual.  All added crushes are
kept anonymous. They receive a lineup - with you in it!
</div>
 <div id="bx-pager">
 
{% for membership in membership_set %}

	{% if membership.decision != None or forloop.counter0 == 0 %}
		<a data-slide-index="{{forloop.counter0}}" href=""><img src="http://graph.facebook.com/{{membership.lineup_member.username}}/picture?type=large" width="50px" height="50px" /></a>
	{% else %}
			<img lineup_position={{forloop.counter0}} title="you cannot jump ahead in the lineup" src="http://a3.twimg.com/profile_images/1649076583/facebook-profile-picture-no-pic-avatar_reasonably_small.jpg" width="50px" height="50px" />
	{% endif %}
{% endfor %}
</div>  <!--  close off bx-pager div -->
<!-- Just a shell for the slideshow container -->

<ul class="bxslider">
{% for member in membership_set %}
	{% if member.decision != None %}
		
	<li id="preload" lineup_position = {{member.position}} style="height:230px">
	
	 <div id="name">{{member.lineup_member.first_name}} {{member.lineup_member.last_name}}</div>
   <div id="mugshot" style="width:80px;height:80px"><img src="{{member.lineup_member.get_facebook_picture}}" height="80" width="10"/></div>
   <div id="position_info"><span>member {{forloop.counter}} out of {{membership_set.count}}<span></div>
   <div id="facebook_link"><a href="http://www.facebook.com/{{member.lineup_member.username}}" target="_blank">view facebook profile</a></div>
   <div id="decision" username="{{member.lineup_member.username}}">
		{% if member.decision == 0 %}

       <div id="choice" class="crush">You added {{member.lineup_member.first_name}} {{member.lineup_member.last_name}} as a crush!</div>
		{% else %}
       <div id="choice">You added {{member.lineup_member.first_name}} {{member.lineup_member.last_name}} as a platonic friend.</div>
    {% endif %}
    </div> <!--   close off decision tag -->
	{% else %}	
	<li id="lineup" lineup_position="{{member.position}}" style="height:230px">
	{% endif %}
</li>


{% endfor %}
</ul>
</div>  <!--  close off lineup_container -->

<div id="lineup-footer">
<div id="footer-msg"></div>
<button id="finish-btn" type="button" disabled>Finish</button>
</div>

<script type="text/javascript">
$(document).ready(function() // handling for the slider
{ 

	/** PROCEDURAL CODE - CREATE IS_LINEUP_PAID GLOBAL
	* create global bool variable for lineup's is_lineup_paid setting
	*/
	window.is_lineup_paid = '{{admirer_rel.is_lineup_paid}}';
	if (window.is_lineup_paid == 'True')
		window.is_lineup_paid=true;
	else
		window.is_lineup_paid=false;
		
			
	/** FUNCTION - PROCESS COMPLETED LINEUP
  * enable finish button and add footer summary message
	*/
	var process_completed_lineup = function(){
		footer_element=$('#lineup_modal #lineup-footer');
		footer_element.children('#finish-btn').removeAttr('disabled');
	  footer_msg_element = footer_element.children('#footer-msg');
	  footer_msg_element_html='<b>Your Crush Lineup evaluation is complete!</b>'
	 	crush_li_elements = $('.bxslider li#preload').has('#decision #choice.crush');
	 	total_crushes=crush_li_elements.length;
	 	if (total_crushes > 0){ 
	 		footer_msg_element_html += '<BR> <b>Added to crush list (' + total_crushes + '):</b>';
		  crush_li_elements.each(function(index,item){
				footer_msg_element_html += ' ' +$(item).children('#name').html();
				if (index < (total_crushes - 1))
					footer_msg_element_html += ',';	
		  });
		}
		footer_msg_element.html(footer_msg_element_html);
	};
	
	/** FUNCTION - UPDATE FOOTER MESSAGE
  * called everytime a slide load is completed
	*/
		var updateFooterMsg = function(){
		footer_msg_element=$('#lineup_modal #lineup-footer #footer-msg');
		// number of evaluated members
		var decided_li_elements = $('.bxslider li#preload #decision #choice');	
	 	var total_decisions=decided_li_elements.length;
		// total members
		var total_members="{{membership_set.count}}";
	  footer_msg_element.html('<div id="progressing">evaluated ' + total_decisions + ' of ' + total_members + ' members</div>');
	};
		
	/** FUNCTION - LAUNCH SLIDER
	*Launch the slider at a parameterized position
	*/
	var launch_slider_at = function(last_loaded_slide){
		window.slider_control = $('.bxslider').bxSlider({
			pagerCustom: '#bx-pager',
			infiniteLoop: false,
			hideControlOnEnd: false,
			speed:800,
			adaptiveHeight:true,
			startSlide: 0,
			slideSelector:'li#preload',
			onLastSlideNext: window.handleLastSlideNext
			});
		setTimeout(function(){window.slider_control.goToSlide(last_loaded_slide)},500);
		updateFooterMsg();
	};	
		
	/** FUNCTION - AJAX LOAD NEXT SLIDE
	* Ajax load the next slide into the DOM
	*/	
	var load_next_slide = function(next_position, callback){
		$('.bxslider li[lineup_position=' + next_position + ']').load('/ajax_get_lineup_slide/{{admirer_rel.admirer_display_id}}/' + next_position + '/', function(response, status, xhr) {
			// load the next thumbnail as well
			var next_username =$(this).find('#decision').attr("username");
			var new_src = 'http://graph.facebook.com/' + next_username + '/picture?type=large';
			var img_element = $('#bx-pager img[lineup_position=' + next_position + ']')

			img_element.attr('src', new_src).attr('width','50').attr('height','50');	
			img_element.wrap('<a data-slide-index="' + next_position + '" href="">');
			callback(next_position);
				// add the fake next button if we're not at the last slide
			}).attr("id", "preload"); // close off ajax load of next slide
	}; // close off of helper function: load_next_slide
	
	/** FUNCTION - RESET SLIDER
	* reset the slider (if # slides changed) and advance it to last slide 
	*/
	var resetAndAdvanceSlider = function(just_loaded_slide){
		window.slider_control.reInitialize();						
		setTimeout(function(){
			window.slider_control.goToSlide(just_loaded_slide);
		},1000);
	}; // close off resetAndAdvanceSlider
	
	/** FUNCTION - HANDLE ADD MEMBER CLICK
	* handle click to 'add member' as crush or platonic friend
	*/
	$("#dialog_member_add").dialog({modal: true, autoOpen: false});
  $('#lineup_container li').on('click','a.member_add',function(e) {
		var parent = $(this).parent();				//# decision div
	  var url;
	  var text= "Are you sure you want to add " + $(this).attr('name') + " as a ";
	  var bIsCrush=true;
	  // obtain position of the next slide in deck for future loading
		var current_position = parent.parent().attr('lineup_position'); // e.g. 3 
		var next_position = parseInt(current_position) + 1;
		next_position=next_position.toString();
		if ($(this).attr('add_type') == "crush")    {
			url="/ajax_add_lineup_member/crush/{{admirer_rel.admirer_display_id}}/" +  $(this).attr('username') + "/"; 
	  	text = text + "crush?";
		}
	  else {
			url="/ajax_add_lineup_member/platonic/{{admirer_rel.admirer_display_id}}/" + $(this).attr('username') + "/"; 
	  	text = text + "platonic_friend?";
	  	bIsCrush=false;
	  }
	  e.preventDefault();
	  $("#dialog_member_add").text(text);
	  $("#dialog_member_add").dialog('option', 'buttons', {
			"Add": function() { 
				parent.load(url, function(){
			       				// call an ajax function on the elements which display number of crushes or platonics
					updateFooterMsg();
					if (bIsCrush) 
						$("#num_crushes_in_progress").load("/ajax_update_num_crushes_in_progress/");
					else 
						$("#num_platonic_friends").load("/ajax_update_num_platonic_friends/");   				
					// if the slide that was just decided on was the second one and is_lineup_paid=false, then auto launch the check dialog 
					if (current_position == 1 && !window.is_lineup_paid){
							setTimeout(window.launch_credit_check,1000);
					}
					else {
						// if we are not at last side then load the next lineup slide
						if (next_position < {{membership_set.count}})	
							load_next_slide(next_position, resetAndAdvanceSlider);	
						else // enable finish button
							process_completed_lineup();
						} // close off else if not at second slide
					}); // close off parent.load (making the decision and showing the html results		
					$(this).dialog("close");
				},   // end of add handler
				"Cancel": function() {$(this).dialog("close");
				} // end of cancel handler
			}); // end of .dialog handler
    $("#dialog_member_add").dialog("open");
    return false;
	}); // end of click handler: $('#lineup_container li').on('click','a.member_add',function(e)
	
	/** FUNCTION - HANDLE SLIDER LAST NEXT CLICK
	* callback handler for slider called when last next button is clicked
	*   checks to see if check-payment dialog should be launched (on second slide if lineup_paid is false)
	*/
	window.handleLastSlideNext = function(activeSlideElement,activeIndex){
		// if active slide is last slide (which is 1) and no decision has been made yet, then launch credit check
		if (activeIndex == 1 && activeSlideElement.has('#choice').length && !window.is_lineup_paid){
			window.launch_credit_check();
		}
		else {		
			if (activeIndex+1 < {{membership_set.count}}){ 
				var member_name = activeSlideElement.children('#name').html();
				alert("Sorry, you can not jump ahead without making a decision on " + member_name);
			}
		}
	};
	
	/** PROCEDURAL CODE
	* Preload any slides that already have a decision
	*/

	var last_loaded_slide = $('.bxslider li#preload').length - 1;
	//var last_loaded_slide=-1;
	//$('.bxslider li#preload').each(function(index){
	//		$(this).load('/ajax_get_lineup_slide/{{admirer_rel.admirer_display_id}}/' + index + '/');	
	//		last_loaded_slide = index;
	//});

	/** PROCEDURAL CODE
	* possibly load the next upcoming slide if we are at first position or if lineup is already paid
	* then call the slider launching function
	*/
	var next_loaded_slide=last_loaded_slide;
	if (last_loaded_slide<1 || window.is_lineup_paid) {		
			var next_loaded_slide = last_loaded_slide + 1;
			if (next_loaded_slide < {{membership_set.count}})
				load_next_slide(next_loaded_slide,launch_slider_at);
			else {// don't load slide after last, just open slider at first position
				launch_slider_at(0);
				process_completed_lineup();
			}				
	} // lineup isn't paid so just open slider with whatever was already decided
	else
		launch_slider_at(next_loaded_slide);
		

	/** FUNCTION - LAUNCH CREDIT CHECK DIALOG
	* 
	*/
 	$("#credit_check_modal").dialog({modal: true, autoOpen: false});    
	
	window.launch_credit_check = function() {
		var success_path='/admirers/{{admirer_rel.admirer_display_id}}/';
		var cancel_url='http://{{request.get_host}}/admirers/{{admirer_rel.admirer_display_id}}';
		var feature_id = '1';
  	// return from paypal adds an extra trailing slash to cancel_url, so make sure it doesn't already have one
  	if(cancel_url.substr(-1) == '/') 
   		cancel_url = cancel_url.substr(0, cancel_url.length - 1);
   	load_url="/credit_checker/" + feature_id + "/{{admirer_rel.admirer_display_id}}/?success_path=" + success_path + "&cancel_url=" + cancel_url;
		$("#credit_check_modal").load(load_url);   	
   	$("#credit_check_modal").dialog("open");
   	$(".ui-widget-overlay").css("background","black").css("opacity",".5");
  	return false;         
   }; // close off window.launch_credit_check function
	
	/** FUNCTION - HANDLE CREDICT CHECK OK-TO-DEDUCT CLICK
	* click handler for credit checker dialog - when ok-to-deduct is clicked
	*   calls ajax_deduct_credit so that server deducts credit and re-adjusts is_lineup_paid
	*   after successful return from ajax call, updates global is_lineup_paid and advances lineup
	*/
	 $('#credit_check_modal').on('click','#credit_deduct_ok',function(e) {
		// call ajax post function to deduct credit and change lineup_is_paid to true 
		var get_url = '/ajax_deduct_credit/1/{{admirer_rel.admirer_display_id}}/1/' // feature is type 2, 1: user is target
		$.get(get_url,function(data) {
			// if successful then load next slide and thumbnail and auto go to that slide
			next_position=parseInt(window.slider_control.getCurrentSlide()) + 1;
			load_next_slide(next_position,resetAndAdvanceSlider);
			window.is_lineup_paid=true;
			// adjust the credits number on the main site
			$("#num_credits").load("/ajax_update_num_credits/");
			}) // if fail (credit was suddenly not available or network problem), then do nothing
			.error(function(data){alert(data);}); // end of $.get(get_url...)
		}); // close off credit_check handler - $('#credit_check_modal').on('click','#credit_deduct_ok',function(e)

	/** FUNCTION - HANDLE FINISH BTN CLICK
  *
	*/
	// need to also handle a.ui-dialog-titlebar-close"
	var handle_lineup_dialog_close = function(){
		var current_href=document.location.href;
		$('#lineup_modal').dialog("close");
		if (current_href.contains("/admirers/")) {
			// if there are other incomplete lineups then stay on admirer page, otherwise go right to crush page
			var decided_li_elements = $('.bxslider li#preload #decision #choice');	
	 		var total_decisions=decided_li_elements.length;
	 		if (total_decisions < {{membership_set.count}})
	 				return; // do nothing
			{% if request.user.get_all_incomplete_admirer_relations.count > 1  %}
				document.location.href='/admirers/'; // reload page
			{% else %}
			// redirect user to crushes in progress is we are currently at the admirers page		
				document.location.href='/crushes_in_progress/';
		{% endif %}
		}
	};
	
	
	$('.ui-dialog').on('click','a.ui-dialog-titlebar-close',function(e) {
		handle_lineup_dialog_close();
	});
	
	$('#lineup_modal').on('click','#finish-btn',function(e) {
		handle_lineup_dialog_close();
	});

}); // close off jquery document ready

</script>


