{% extends "base.html" %}

{% block content %}

{% load fbdater_extras %}

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>


<div id="dialog_crush" title="Add As Crush">Are you sure you want to remove this person from your crush list?</div>
<div id="dialog_friend" title="Add As Platonic Friend">Are you sure you want to remove this person from your crush list?</div>
<script type="text/javascript">
$(document).ready(function() 
{
        $("#dialog_crush").dialog({modal: true, autoOpen: false});

        $("a.crush_add").click(function(e) {

     		var parent = $(this).parent();				
        	var name=$(this).attr('name');	
            var username=$(this).attr('username');    
            var url="/ajax_add_as_crush/" + username + " #choice"; 
            e.preventDefault();
 
            $("#dialog_crush").text("Are you sure you want to add " + name + " as a crush?");
            $("#dialog_crush").dialog('option', 'buttons', {
       			"Add": function() { 
       				parent.load(url);
					$(this).dialog("close");
				},
       
        		"Cancel": function() {$(this).dialog("close");
        		}
    		});
            $("#dialog_crush").dialog("open");
            return false;
        });
        

});

</script>


<h2>Lineup for secret admirer id: {{admirer_rel.admirer_display_id}} ({{admirer_rel.source_person.first_name}} {{admirer_rel.source_person.last_name}})</h2>

{% for member in lineup_set %}
	<div id="lineup{{member.position}}">
		{{member.position}}: {{member.LineupUser.username}} <img src="http://graph.facebook.com/{{member.LineupUser.username}}/picture?type=large" width=60 height=60>
		<div id="choice" name="hi">
			<a href="#" class="crush_add" username="{{member.LineupUser.username}}" name="{{member.LineupUser.first_name}} {{member.LineupUser.last_name}}">Add as crush</a> 
			<a href="#" class="platonic_add" username="{{member.LineupUser.username}}" name="{{member.LineupUser.first_name}} {{member.LineupUser.last_name}}">Add as platonic friend</a>
		</div>
	</div>
{% endfor %}


{% endblock %}
