{% load fbdater_extras %}
<link href="{{ STATIC_URL }}bxSlider/jquery.bxslider.css" rel="stylesheet" />

<script type="text/javascript">
$(document).ready(function() // handling for the slider
{ 

	/** PROCEDURAL CODE - CREATE IS_LINEUP_PAID GLOBAL
	* create global bool variable for lineup's is_lineup_paid setting
	*/
	window.is_lineup_paid = {% if admirer_rel.is_lineup_paid %}true{% else %}false{% endif %};
		
			
	/* ----------------------------------------------------------------------
	*		FUNCTION - PROCESS COMPLETED LINEUP
  *		enable finish button and add footer summary message
	*  ---------------------------------------------------------------------- */
	var process_completed_lineup = function(){
		$('#lineup_container #site-loading').hide();
		$('#lineup_container #slide_overlay').hide();
		footer_element=$('.lineup-footer');
		footer_element.find('#finish-btn').html('close');
		footer_msg_element = footer_element.children('#footer-msg');
		footer_msg_element_html='Your lineup evaluation is complete!'
	 	crush_li_elements = $('.lineup_decision').has('.crush');
	 	total_crushes=crush_li_elements.length;
	 	if (total_crushes > 0){ 
	 		footer_msg_element_html += '<span id="added_attractions_info">Added to your Crushes (' + total_crushes + '):';
		  crush_li_elements.each(function(index,item){
				footer_msg_element_html += ' ' +$(item).parent().children('.lineup_name').html();
				if (index < (total_crushes - 1))
					footer_msg_element_html += ',';	
		  })
		  footer_msg_element_html += '</span>';
		}
		footer_msg_element.html(footer_msg_element_html);
	};
	
	/* ----------------------------------------------------------------------
	*		FUNCTION - UPDATE FOOTER MESSAGE
  *		called everytime a slide load is completed
	*  ---------------------------------------------------------------------- */
		var updateFooterMsg = function(){
		footer_msg_element=$('.lineup-footer #footer-msg');
		// number of evaluated members
		var decided_li_elements = $('.bxslider_element li.preload .lineup_decision .choice');	
	 	var total_decisions=decided_li_elements.length;
		// total members
		var total_members="{{member_set.count}}";
	  footer_msg_element.html('<div id="progressing">evaluated ' + total_decisions + ' of ' + total_members + ' members</div>');
	};

	/* ----------------------------------------------------------------------
	*		FUNCTION - LAUNCH SLIDER
  *		Launch the slider at a parameterized position
	*  ---------------------------------------------------------------------- */		

	var launch_slider_at = function(last_loaded_slide){
		$.getScript('{{ STATIC_URL }}bxSlider/jquery.bxslider.js').done(function(script,scriptStatus){
			window.slider_control = $('.bxslider_element').bxSlider({
				pagerCustom: '#bx-pager',
				infiniteLoop: false,
				hideControlOnEnd: false,
				speed:800,
				touchEnabled:false,
				//adaptiveHeight:false,
				startSlide: 0,
				slideSelector:'li.preload',
				onLastSlideNext: window.handleLastSlideNext,
				onSlideBefore:window.handleLineupMemberPointer,
			});
			
			$('.bxslider_element').show();		
			if (last_loaded_slide>0){
				setTimeout(function(){window.slider_control.goToSlide(last_loaded_slide)},500);
				setTimeout(function(){$('#lineup_container #site-loading').hide();$('#lineup_container #slide_overlay').hide();},750);

			}
			else{
				handleLineupMemberPointer();
				$('#lineup_container #site-loading').hide();$('#lineup_container #slide_overlay').hide();
			}
			updateFooterMsg();

		}); // close off getScript
	};	
		
	/* ----------------------------------------------------------------------
	*		FUNCTION - AJAX LOAD NEXT SLIDE
  *		Ajax load the next slide into the DOM
	*  ---------------------------------------------------------------------- */			
	var load_next_slide = function(next_position, callback){
		var load_url = '/ajax_get_lineup_slide/{{admirer_rel.display_id}}/' + next_position + '/';
		
		// overlay and loading icons should be hidden by the callback functions
		$('#lineup_container #slide_overlay').show();
		$('#lineup_container #site-loading').show();
		$('.bxslider_element li[lineup_position=' + next_position + ']').load(load_url, function(responseText, textStatus, xhr) {
			
			if (textStatus!='success'){
				if (xhr.status==405){
					reauthorize_user();
					return;
				}
				$(this).dialog("close");
				window.alert_modal('Lineup Problem', "{{generic_error_message}}", $('.bxslider_element'));
				return false;
			}
			// load the next thumbnail as well
			//var next_username =$(this).find('.lineup_decision').attr("username");
			//var new_src = 'http://graph.facebook.com/' + next_username + '/picture?type=large';
			var new_src = '{{ STATIC_URL }}images/lineup_character_male.png';
			var img_element = $('#bx-pager div img[lineup_position=' + next_position + ']')

			img_element.attr('src', new_src).attr('title','');	
			img_element.qtip('destroy',true);//don't show a tooltip for the current lineup member
			img_element.parents('div.locked_lineup_member').removeClass('locked_lineup_member');
			img_element.next('.lineup_member_board').andSelf().wrapAll('<a data-slide-index="' + next_position + '" href="#">');
			callback(next_position);

				// add the fake next button if we're not at the last slide
			}).attr("class", "preload"); // close off ajax load of next slide
	}; // close off of helper function: load_next_slide
	
	/* ----------------------------------------------------------------------
	*		FUNCTION - RESET SLIDER
  *		reset the slider (if # slides changed) and advance it to last slide
	*  ---------------------------------------------------------------------- */		
	var resetAndAdvanceSlider = function(just_loaded_slide){
		window.slider_control.reInitialize();	
		$('#lineup_container #site-loading').hide();
		$('#lineup_container #slide_overlay').hide();
		window.slider_control.goToSlide(just_loaded_slide);
		// use this commented about block if you want to add a delay after deciding on a lineup member and before advancing to next lineup member slide
		//		setTimeout(function(){
	  //		window.slider_control.goToSlide(just_loaded_slide);
		//},1000);
	}; // close off resetAndAdvanceSlider

	/* ----------------------------------------------------------------------
	*		FUNCTION - HANDLE ADD ATTRACTION/Platonic CLICK
  *		handle click to 'add member' as crush or platonic friend
	*  ---------------------------------------------------------------------- */
	window.added_lineup_attraction=null;// set whenever attraction is added - used to know when at least one attraction added
	var attraction_dialog = $("#dialog_attraction_add");
	attraction_dialog.dialog({modal: true, autoOpen: false,width:400, resizable:false,dialogClass:'decision_confirmation_dialog blacktop',close: function(){$('#lineup_container #site-loading').hide();$('#lineup_container #slide_overlay').hide();}});		

	var dialog_attraction_html ='';
	dialog_attraction_html += '<div class="dialog_content_wrapper">';
		dialog_attraction_html += '<p class ="attractor_text first_attractor_text">After adding <span class="attractor_first_name"></span> as a crush, we\'ll try to get <span class="attractor_pronoun_object"></span> signed up, so <span class="attractor_pronoun_subject"></span> can take a similar lineup with you in it. We\'ll notify you when <span class="attractor_pronoun_subject"></span> responds.</p>';
		dialog_attraction_html += '<span class="attractor_name_block"><span class="attractor_image"></span><span class="attractor_full_name"></span><span class="decision_icon"></span></span>';
		//dialog_attraction_html += '<p class="attractor_text second_attractor_text"><i>Note:</i>&nbsp;&nbsp;Neither you nor <span class="attractor_first_name"></span> may know for sure who initiated the original attraction. <i>hmm...</i></p>';
		dialog_attraction_html += '<span id = "attractor_agreement"><input class="attractor_agreement_checkbox" type="checkbox" checked><span id = "attractor_agreement_text">I agree to the </span><a href="/help_terms" target="_blank">terms & conditions</a></input></span>';
	dialog_attraction_html += '</div>';
  var platonic_dialog = $("#dialog_platonic_add");
	platonic_dialog.dialog({modal: true, autoOpen: false,resizable:false,width:410,dialogClass:'decision_confirmation_dialog blacktop',close: function(){$('#lineup_container #site-loading').hide();$('#lineup_container #slide_overlay').hide();}});
  var dialog_platonic_html = '<div class="dialog_content_wrapper">';
 		dialog_platonic_html += '<span class="attractor_text">Although you\'re not attracted to <span class="attractor_first_name"></span>, please let us know how you would rate <span class="attractor_pronoun_object"></span> attractiveness to a friend:</span>';
		dialog_platonic_html += '<span class="attractor_name_block"><span class="attractor_image"></span><span class="attractor_full_name"></span><span class="decision_icon"></span></span>';
		dialog_platonic_html += '<div id="platonic_rating_group">';
		dialog_platonic_html += '<span class="platonic_rating"><input type="radio" name="rating" value="5"checked><span class="rating_description">{{rating5}}</span></span>';
		dialog_platonic_html += '<span class="platonic_rating"><input type="radio" name="rating" value="4"><span class="rating_description">{{rating4}}</span></span>';
		dialog_platonic_html += '<span class="platonic_rating"><input type="radio" name="rating" value="3"><span class="rating_description">{{rating3}}</span></span>';
		dialog_platonic_html += '<span class="platonic_rating"><input type="radio" name="rating" value="2"><span class="rating_description">{{rating2}}</span></span>';
	  	dialog_platonic_html += '<span class="platonic_rating"><input type="radio" name="rating" value="1"><span class="rating_description">{{rating1}}</span></span>';
	  dialog_platonic_html += '</div>';
 	dialog_platonic_html += '</div>';
  
  	// this allows the inputs to be clickable on the next confirmation dialog opening
  attraction_dialog.on('click', function(e){e.stopPropagation();});
  platonic_dialog.on('click', function(e){e.stopPropagation();});

  $('#lineup_container ').on('click','a.decision,a.platonic_reconsider',function(e) {
	  $('#lineup_container #site-loading').show();
	  $('#lineup_container #slide_overlay').show();
	  e.preventDefault();
	  var this_element = $(this);
	  var slide_number = this_element.closest('li.preload').attr('lineup_position'); // this is used to find the associated thumbnail to modify if a decision is made
	  var decision_div = this_element.parent(); 
	  var url,decision_dialog,crush_decision;
	  var username=this_element.attr('username');
	  var full_name=this_element.attr('name');
	  var first_name = full_name.substr(0,full_name.indexOf(' '));
	  if (first_name=="")
	  	first_name=full_name;
	  var gender_pronoun_object = "them";
	  var gender_pronoun_subject = "they";
	  var gender_attribute = this_element.attr('member_gender');
	  if (gender_attribute == 'M'){
	  	gender_pronoun_subject = "he";
	  	gender_pronoun_object = "him";
	  }
	  else if (gender_attribute == 'F'){
	  	gender_pronoun_subject = "she";
	  	gender_pronoun_object = "her";
	  }
	  $('.decision_confirmation_dialog').children(".ui-dialog-titlebar").append("<span class='help_icon'>?</span>");	  	
	  if (this_element.attr('add_type')=="crush") {
	  	url = "/ajax_add_lineup_member/crush/{{admirer_rel.display_id}}/" +  username + "/"; 
	  	decision_dialog = attraction_dialog;
	  	decision_dialog.html(dialog_attraction_html);
	  	if (window.added_lineup_attraction){
	  			decision_dialog.find('.attractor_text').remove();
	  		}
	  	crush_decision=true;
		  $(".decision_confirmation_dialog .ui-dialog-titlebar .help_icon").qtip({
				content:{
					text:$('#attraction_confirmation_dialog_help_content').clone(),
					title:'What happens after I add this lineup member as a crush?'
				},
				show:{
					delay:0,
				},
				hide:{
					delay:500,
					fixed:true,
				},
				style:{
					classes: 'qtip-blue qtip-rounded qtip-shadow',
					tip:{
						corner:true
					}
				}
		  });
	  }
	  else {
	  	url = "/ajax_add_lineup_member/platonic/{{admirer_rel.display_id}}/" + username + "/"; 
	  	decision_dialog = platonic_dialog;
	  	decision_dialog.html(dialog_platonic_html);
	  	crush_decision=false;
	  		$(".decision_confirmation_dialog .ui-dialog-titlebar .help_icon").qtip({
					content:{
						text:$('#platonic_confirmation_dialog_help_content').clone(),
						title:"Why am I being asked to assess my lineup members' attractiveness?"
					},
					show:{
						delay:0,
					},
					hide:{
						delay:500,
						fixed:true,
					},
					style:{
						classes: 'qtip-blue qtip-rounded qtip-shadow',
						tip:{
							corner:true
						}
					}
				});	
	  }
	  

	  // substitute in the actual attractor names into the dialog
	  decision_dialog.find('.attractor_first_name').html(first_name);
	  decision_dialog.find('.attractor_full_name').html(full_name);
	  decision_dialog.find('.attractor_pronoun_object').html(gender_pronoun_object);
	  decision_dialog.find('.attractor_pronoun_subject').html(gender_pronoun_subject);		
	  decision_dialog.find('.attractor_image').html('<img src="http://graph.facebook.com/' + username + '/picture?width=60&height=60" />');
	  decision_dialog.dialog({buttons: {
				"Cancel": function() {	
					$(this).dialog("close");
				}, // end of cancel handler
				"Confirm": function() {
					if (crush_decision==true){
						var closest_ui_dialog = $(this).closest(".ui-dialog");
					 	if (closest_ui_dialog.find('.attractor_agreement_checkbox').attr('checked') != 'checked'){
							window.alert_modal('Terms & Conditions Agreement', "You must agree to the terms and conditions before continuing.", decision_dialog);
							return;
						}
					}
					else {
						url += decision_dialog.find('input:radio[name="rating"]:checked').val();
					}	
					decision_div.prev().show();decision_div.hide();
					decision_div.load(url, function(responseText,textStatus,XHR){
						decision_div.prev().hide();decision_div.show()
						if (textStatus!='success'){					
							window.alert_modal('Lineup Decision', "{{generic_error_message}}", decision_dialog);
							return false;
						};
						var lineup_member = $('#bx-pager-container #bx-pager div a[data-slide-index="' + slide_number + '"] span');
						if (crush_decision==true){
							window.added_lineup_attraction=true;
							// show crush icon in the associated thumbnail
							lineup_member.addClass('decision_crush');
							lineup_member.html('YES');
						}
						else{
							// show platonic icon in the associated thumbnail
							lineup_member.addClass('decision_platonic');
							lineup_member.html('NO');
						}
						// change lineup_member picture to that of light gray image
						var lineup_member_pic = $('#bx-pager-container #bx-pager div a[data-slide-index="' + slide_number + '"] img');
						lineup_member_pic.attr("src","{{ STATIC_URL }}images/lineup_character_male_darkgray.png");

						if (this_element.attr('class') != 'platonic_reconsider')
							goto_next_slide(decision_div.parents('li').attr('lineup_position'));
						else
							$('#lineup_container #site-loading').hide();
							$('#lineup_container #slide_overlay').hide();
						}); // close off parent.load (making the decision and showing the html results		
					$(this).dialog("close"); // must destroy rather than close cause switching between two dialogs causes problems
					
					// update the date_lineup_started data field in the crush relationship object
					
				}   // end of add handler
			},
			open:function(event,ui) {
				var closest_ui_dialog = $(this).closest(".ui-dialog");
				// style each button except cancel button (assuming cancel button is called 'Cancel')
				closest_ui_dialog.find('.ui-button').each(function(counter,element){
					$(element).addClass("site_dialog_button")
					if ($(element).find('span').html()=='Cancel')
						$(element).addClass("site_dialog_cancel_button")
				});
    	}
    }); // end of .dialog handler
    
    decision_dialog.dialog("open");
    $(':focus').blur();

	}); // end of click handler: $('#lineup_container li').on('click','a.decision',function(e)

	var goto_next_slide = function(current_position)
	{

		var next_position = parseInt(current_position) + 1;
		if (next_position < {{member_set.count}})	{
			updateFooterMsg();
			// if the slide that was just decided on was the second one and is_lineup_paid=false, then auto launch the check dialog 
			if (current_position == 0 && !window.is_lineup_paid && {{member_set.count}} > 1)
				setTimeout(window.launch_credit_check,1000);
			else 
				load_next_slide(next_position.toString(), resetAndAdvanceSlider);	
		} // close off - if not at last slide
		else // enable finish button
			process_completed_lineup();
	};
	
	/* ----------------------------------------------------------------------
	*		FUNCTION - HANDLE SLIDER LAST NEXT CLICK
  *		callback handler for slider called when last next button is clicked
  *   checks to see if check-payment dialog should be launched (on second slide if lineup_paid is false)
	*  ---------------------------------------------------------------------- */
	window.handleLastSlideNext = function(activeSlideElement,activeIndex){
		// if active slide is last slide (which is 1) and no decision has been made yet, then launch credit check
		if (activeIndex == 0 && activeSlideElement.has('.choice').length && !window.is_lineup_paid){
			window.launch_credit_check();
		}
		else {
			slide_decision = activeSlideElement.find('.lineup_decision .choice');
			if (slide_decision.length)
				goto_next_slide(activeIndex);
			else { 
				var member_name = activeSlideElement.find('.lineup_name').html();
				activeIndex=activeIndex + 1;
				var img_element = $('#bx-pager div img[lineup_position=' + activeIndex + ']');
				img_element.trigger('click');
				setTimeout(function(){img_element.qtip('hide',true)},2000);
				//window.alert_modal('Lineup Enforcement', "Please make a decision on " + member_name + " before jumping ahead.", $('.lineup_modal_dialog'));
			}
		}
	};
	/* ----------------------------------------------------------------------
	*		FUNCTION - HANDLE LINEUP MEMBER POINTER
	*		move it when slide is about to move
	*  ---------------------------------------------------------------------- */

	window.handleLineupMemberPointer = function(activeSlideElement,activeIndex){
	
		var data_slide_index = $(activeSlideElement).attr('lineup_position');
		if (!data_slide_index)
			data_slide_index=0;
		var x_position = data_slide_index*56;
		$('#lineup_member_pointer').css('left',x_position-2);
	};
	
	/** PROCEDURAL CODE
	* Preload any slides that already have a decision
	*/

	var last_loaded_slide = $('.bxslider_element li.preload').length - 1;
	//var last_loaded_slide=-1;
	//$('.bxslider li.preload').each(function(index){
	//		$(this).load('/ajax_get_lineup_slide/{{admirer_rel.display_id}}/' + index + '/');	
	//		last_loaded_slide = index;
	//});

	/** PROCEDURAL CODE
	* possibly load the next upcoming slide if we are at first position or if lineup is already paid
	* then call the slider launching function
	*/
	window.startup_slider = function(){
		var next_loaded_slide=last_loaded_slide+1;
		if (next_loaded_slide < {{member_set.count}}) { // we haven't decided on last member yet
			if (last_loaded_slide < 0 || window.is_lineup_paid ) 	// we've only loaded 0 or 1 slide or lineup already paid, so load next automatically
					load_next_slide(next_loaded_slide,launch_slider_at);
			else // don't load slide after last, just open slider at last loaded position
					launch_slider_at(last_loaded_slide);		
		} // lineup isn't paid so just open slider with whatever was already decided
		else{
			launch_slider_at(0);
			process_completed_lineup(); // if lineup is finished then just process it
		}
	};
	/* ----------------------------------------------------------------------
	*		FUNCTION - LAUNCH_CREDIT_CHECK
	*  ---------------------------------------------------------------------- */    
 	
 	window.launch_credit_check = function() {
 		
		data = {};
		data['csrfmiddlewaretoken']="{{csrf_token}}";
		data['success_path'] = '/admirers/{{admirer_rel.display_id}}/';
		data['cancel_url'] = 'http://{{request.get_host}}/admirers/{{admirer_rel.display_id}}';
		data['unique_id'] = '{{admirer_rel.display_id}}';
		data['feature_id'] = '1';
		data['purchase_callback_name'] = 'window.lineup_purchased()';
		data['ajax_error']='{{ajax_error}}';
		purchase_feature(data);
		$('#lineup_container #site-loading').hide();$('#lineup_container #slide_overlay').hide();
   }; 
   
 	window.lineup_purchased = function(){
			next_position=parseInt(window.slider_control.getCurrentSlide()) + 1;
			load_next_slide(next_position,resetAndAdvanceSlider);
			window.is_lineup_paid=true;
 	};


	/* ----------------------------------------------------------------------
	*		FUNCTION - HANDLE FINISH BUTTON 
	*		
	*  ---------------------------------------------------------------------- */

	window.handle_lineup_dialog_close = function(){
		var current_href=document.location.href;
	 	var total_decisions=$('.bxslider_element li.preload .lineup_decision .choice').length;
	 	var attraction_json = {};
	 	var redirect_url='';
	 	var num_new_attractions=0;
	 	var num_new_platonics=0;
		$('.bxslider_element li .slide_container .lineup_decision .new_crush').each(function(){
			attraction_json[$(this).attr('username')]=$(this).attr('fullname');
			num_new_attractions++;
			});
		$('.bxslider_element li .slide_container .lineup_decision .new_platonic').each(function(){
			num_new_platonics++;
			});

		if (num_new_attractions){
			// redirect user to crushes in progress if there is only one progressing lineup and it is done
			if (total_decisions == {{member_set.count}} && {{ request.user.get_progressing_admirers.count }} == 1)	
				redirect_url='/your_crushes/';
			else 
				redirect_url='/admirers/';
			$('#lineup_modal').dialog("close");//closing of lineup modal automatically refreshes page
			window.launch_invite_interstitial(attraction_json,redirect_url);
			return;
		}

		
		$('#lineup_modal').dialog("close");//closing of lineup modal automatically refreshes page
		if (num_new_platonics > 0) // reload page if at least 1 new platonic
			location.href=redirect_url;
	};
	
	$('#lineup_modal').on('click','#finish-btn',function(e) {
		window.handle_lineup_dialog_close();
	});
	
	// tooltip handling

	$('.locked_lineup_pic[title!=" "]').qtip({
		show:{
			event:'click',
			delay:0
		},
		hide:{
			delay:250
		},
		position:{
			adjust: {
				x:-40
			}
		},
		style:{
			classes: 'qtip-tipsy qtip-rounded qtip-shadow',
			tip:{
				corner:true
			}
		}
	});	

	$('.locked_lineup_member .lineup_member_board').click(function(){
		$(this).parent().children('.locked_lineup_pic').click();
	});

	
}); // close off jquery document ready

</script>

<div id="lineup_container">
<span id="site-loading"></span>
<div id="lineup-header">
		One of these line-up members is your admirer! Add any as a crush, and we'll send them a similar lineup - with you in it! We'll let you know if they like you back <i>or not</i>.  If not, your identity remains protected.
</div>

<div id="bx-pager-container">
{% with admirer_rel.date_lineup_finished as date_lineup_finished %}
{% include "lineup_block_background.html" %}
{% endwith %}
	<div id="bx-pager">
		{% for member in member_set|slice:":10" %}
		
			{% if member.decision != None %}
					<div><a data-slide-index="{{forloop.counter0}}" href="#"><img src="{{ STATIC_URL }}images/lineup_character_male_darkgray.png" /><span class="lineup_member_board{% if member.decision == 0 %} decision_crush">YES{% elif member.decision > 0 %} decision_platonic">NO{% endif %}</span></a></div>
			{% else %}
					<div class="locked_lineup_member"><img class="locked_lineup_pic" lineup_position={{forloop.counter0}} title="you cannot jump ahead in the lineup" src="{{ STATIC_URL }}images/lineup_character_male_gray.png"/><span class="lineup_member_board">{{ forloop.counter}}</span></div>
			{% endif %}
			
		{% endfor %}
		<span id="lineup_member_pointer"></span>
	</div>  <!--  close off bx-pager div -->
</div>

<!-- Just a shell for the slideshow container -->

<ul class="bxslider_element" style="display:none">
<div id="slide_overlay" style="display:none"></div>
{% for member in member_set|slice:":10" %}
	{% if member.decision != None %}
		
	<li class="preload" lineup_position = "{{member.position}}" >
		<div class="slide_container">
		 <a href="https://www.facebook.com/{{member.username}}" target="_blank">
		 <span class="lineup_name">{{member.user.first_name}} {{member.user.last_name}}		 		
		 </span>
	   <span class="lineup_mugshot"><img src="http://graph.facebook.com/{{member.username}}/picture?width=125&height=125" /><span class="view_facebook_widget">view<span class="view_facebook_icon"></span></span></a></span>

	   <span class="lineup_decision" username="{{member.username}}">
			{% if member.decision == 0 %}
	       <span class="choice crush">Added as a Crush!<span class="date_lineup_member_added">  ({{member.relationship.date_added|date:"SHORT_DATE_FORMAT"}})</span></span>
			{% else %}
	       <span class="choice platonic">Not Interested<!--<span class="date_lineup_member_added">({{member.relationship.date_added|date:"SHORT_DATE_FORMAT"}})</span>--></span>
	    	<a href="#" class="platonic_reconsider" add_type="crush" username="{{member.username}}" name="{{member.user.first_name}} {{member.user.last_name}}" member_gender= "{{member.user.gender}}" lineup_position="{{member.position}}">change your mind?</a>
	    {% endif %}
	    </span> <!--   close off decision tag -->
   	</div><!-- close off slide container -->
	{% else %}	
	<li class="lineup" lineup_position="{{member.position}}">
	{% endif %}
</li>

{% endfor %}
</ul>
</div>  <!--  close off lineup_container -->

<div class="ui-dialog-buttonpane lineup-footer">
	<span id="footer-msg"></span>
	<div class="ui-dialog-buttonset">
				<button id="finish-btn" class="site_dialog_button site_dialog_cancel_button" type="button">Finish Later</button>
	</div><!-- close off buttonset -->
</div><!-- close off buttonpane -->
<div id="dialog_attraction_add" title="Crush Confirmation "></div>
<div id="dialog_platonic_add" title="Not Interested Confirmation"></div>

<span class="help_dialog_content" id="attraction_confirmation_dialog_help_content">
<span class="tooltip_content tooltip_maincontent">
	After adding this lineup member as a crush, we'll try to get them signed up, so they can take a similar lineup with you in it.  We'll notify you when they respond.
</span>

</span>


<span class="help_dialog_content" id="platonic_confirmation_dialog_help_content">
<span class="tooltip_content tooltip_maincontent">
	In case this lineup member is your actual admirer, we'd like to provide them with a little more context surrounding your decision.  We hope this added insight will help them move on more easily.
</span>
</span>