{% load fbdater_extras %}

<div class="setup_lineup_member_block {% if lineup_member.is_attraction_mutual == True %}mutual_yes{% elif lineup_member.is_attraction_mutual == False %}mutual_no{% endif %}">
<div class="setup_recommendee_target_response"{% if lineup_member.decision == None %}title="waiting for response from {{setup_rel.target_person.first_name}}"{% endif %}>
	<span class="setup_responded {% if lineup_member.decision == None %}setup_responded_waiting{% elif lineup_member.decision == 0 %}setup_responded_yes{% else %}setup_responded_no{% endif %}"></span>
</div>
<a href="http://www.facebook.com/{{lineup_member.username}}" target="_blank"><img class="setup_lineup_member_block_pic" src="http://graph.facebook.com/{{lineup_member.username}}/picture?width=40&height=40"></a>
<div class="setup_recommendee_response"{% if lineup_member.decision != 0 %} title="recommendee can only respond if {{setup_rel.target_person.first_name}} is attracted to them"{% endif %}>
	{% if lineup_member.decision == 0 %} 
		{% if lineup_member.lineup_member_attraction == 1 %}
			<span class="setup_responded setup_recommendee_responded setup_responded_yes"></span>
			<span class="setup_match setup_match_yes">yes!</span>
			{% elif lineup_member.lineup_member_attraction == 0 %}
			<span class="setup_responded setup_recommendee_responded setup_responded_no"></span>
			<span class="setup_match setup_match_no">no</span>
		{% elif lineup_member.date_last_notified == None %}
			<a href="#" class="send_setup_notification" target_is_recommendee="true" target_person_username="{{lineup_member.username}}">notify friend</a>						
		{% elif lineup_member.date_last_notified|days_since > 6 %}
			<a href="#" class="send_setup_notification" target_is_recommendee="true" target_person_username="{{lineup_member.username}}">notify again</a>
		{% else %}
			<span class="setup_responded setup_recommendee_responded setup_responded_notified" title="waiting for a response{% if lineup_member.user != None %} from {{ lineup_member.user.first_name }}{% endif %}"></span>
		{% endif %}
	{% elif lineup_member.decision == None %}
		<span class="setup_responded setup_recommendee_responded setup_responded_waiting"></span>
	{% comment %} 
		{% else %}
		<span class="setup_match setup_match_no"></span>
	{% endcomment %}
	{% endif %}
</div><!--  close off setup_recommendee_response -->
</div><!-- close off setup_lineup_member_block -->