<div id="friend_referral_bar_header" class="nav_header">
	Friends with Admirers
	<span class="header_subtext">Let them know!</span>
</div>

<ul id="friend_referral_bar" class = "navbar inactive_crushed_friends">
	<!--
	<li id="no_friends">
		no friends with admirers...
	</li>
	-->
	{% autoescape off %}{{inactive_friend_section_html}}{% endautoescape %}
</ul>

<div class="company_info">
	CrushMaven &#169; 2014
	<span class="subtext"><a href="/contact">Contact Us</a> &#8226; <a href="/privacy">Privacy</a> &#8226; <a href="/terms">Terms</a></span>
	<div class="fb-like" data-href="http://www.facebook.com/crushmaven" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="www.crushmaven.com" data-text="CrushMaven discovers if the person you're attracted to feels the same - or why they don't - www.crushmaven.com" data-via="CrushMaven" data-count="none">Tweet</a>
</div>

