{% load base_extras %}

<!-- ============ LOGO ============= -->	

<a class="logo" href="{% url 'crush.views.infrastructure_views.home' %}"><img src="{{ STATIC_URL }}images/flirtally_logo_white_v3.png"></a>
<span class="beta">beta</span>

<!-- ============ MIDDLE BUTTON(S) ============= -->	
<div id="center_header_menu" class="drop_down_menu_link">

		<a href="#" id="get_started_link" class="bt-fs-dialog"><span class="add_icon"></span>Add a Crush</a>
</div>
<!-- ============ RIGHT HEADER ITEMS ============= -->	
<ul id="right_header_menu" class="drop_down_menu_link">
	<li class="submenu">
		<a href="#">How it Works<i class="icon down-dir">&#x25BC;</i></a>	
		<ul id="help_menu" class="settings_menu popup">
			<li>
				<a href="{% url 'crush.views.static_file_views.help_how_it_works' %}">The Basics</a>
			</li>
			<li>
				<a href="{% url 'crush.views.static_file_views.help_privacy' %}">Your Privacy</a>	
			</li>
		</ul><!-- close off settings_menu div -->
	</li>


	<li class="submenu">
		<a  href="#">
			<img  class="pic"src="http://graph.facebook.com/{{ user.username }}/picture" height=25 width=25>
			Settings<i class="icon down-dir">&#x25BC;</i></a>
		<ul id="settings_menu" class="settings_menu popup">
			<li>
				<a href="{% url 'crush.views.settings_views.settings_profile' %}">Profile</a>
			</li>
			<li>
				<a href="{% url 'crush.views.settings_views.settings_credits' %}">Credits (<span id="num_credits">{{request.user.site_credits}}</span>)</a>	
			</li>
			<li>
				<a href="{% url 'crush.views.settings_views.settings_notifications' %}">Notifications</a>
			</li>
			<li>
				<a href="{% url 'crush.views.infrastructure_views.logout_view' %}">Logout</a>
			</li>
		</ul><!-- close off settings_menu div -->
	</li>
</ul> <!-- close off right_header_menu div -->

