<div id="friend_referral_bar_header" class="nav_header">
	Friends with Admirers
	<span class="header_subtext">Let them know!</span>
</div>

<ul id="friend_referral_bar" class = "navbar inactive_crushed_friends">
	<!--
	<li id="no_friends">
		no friends with admirers...
	</li>
	-->
	{% autoescape off %}{{inactive_friend_section_html}}{% endautoescape %}
</ul>

<div class="company_info">
	Flirtally &#169; 2013
	<span class="subtext"><a href="/privacy">Privacy</a> &#8226; <a href="/terms">Terms</a> &#8226; <a href="/contact">Contact</a></span>
</div>

