{% load base_extras %}
<html>
    <head>
        <title>Crush Discovery!</title>
    </head>
    <body>
        <h1>Crush Discovery!</h1>
{% if user.is_authenticated %}
<div id="topbar">
	<div class="navbar">
		<div class="navbar-side navbar-left"></div>
		<div class="navbar-content">
		
			<a class="{% navactive request 'accounts/login' %}"
				href="{% url crush.views.home %}">Home</a>

			<a class="{% navactive request 'search' %}"
				href="{% url crush.views.search %}">Search</a>
		
			<a class="{% navactive request 'crush_list' %}"
				href="{% url crush.views.crush_list %}">Crushes</a>

			<a class="{% navactive request 'secret_admirer_list' %}"
				href="{% url crush.views.secret_admirer_list %}">Secret Admirers</a>
				
			<a class="{% navactive request 'open_admirer_list' %}"
				href="{% url crush.views.open_admirer_list %}">Not-So-Secret Admirers</a>

			<a class="{% navactive request 'not_interested_list' %}"
				href="{% url crush.views.not_interested_list %}">Not Interested</a>

			<a class="{% navactive request 'invite' %}"
				href="{% url crush.views.invite %}">Invite Friends</a>
				
			<a class="{% navactive request 'my_profile' %}"
				href="{% url crush.views.my_profile %}">Profile</a>

			<a class="{% navactive request 'my_credits' %}"
				href="{% url crush.views.my_credits %}">Credits</a>

			<a href="{% url django.contrib.auth.views.logout %}">Logout</a>
		</div>	
		<div class="navbar-side navbar-right"></div>
	</div>
</div>

	<h2>You are logged in as: {{ user }}</h2>
    <a href="/logout/">Logout</a>
    <hr />
    <h2>User info</h2>
    <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" /><br />
    <pre>{{ facebook_profile|pprint }}</pre>
{% else %}
    <a href="/facebook/login/"> <img src="https://s3.amazonaws.com/static.turntable.fm/images/indexlogin/facebook_btn.png"></a>
{% endif %}
<hr />
<a href="/admin/">Admin</a>