{% load base_extras %}

<!-- ============ MIDDLE BUTTON(S) ============= -->	
<div id="center_header_menu" class="drop_down_menu_link">

		<a href="#" id="get_started_link" class="bt-fs-dialog"><span class="add_icon"></span>Add a Crush</a>
</div>

<!-- ============ LOGO ============= -->	

<a class="logo" href="{% url 'crush.views.infrastructure_views.home' %}"><img src="{{ STATIC_URL }}images/cm_logo_sm.png"></a>
<!-- ============ RIGHT HEADER ITEMS ============= -->	
<ul id="right_header_menu" class="drop_down_menu_link">
	<li class="submenu">
		<a href="#">Learn More<i class="icon down-dir">&#x25BC;</i></a>	
		<ul id="help_menu" class="settings_menu popup">
			<li>
				<a href="/help_how_it_works#how_it_works_section">How It Works</a>
			</li>
			<li>
				<a href="/help_how_it_works#who_it_works_on_section">Who It Works On</a>
			</li>
			<li>
				<a href="/help_how_it_works#who_will_know_section">Who Will Know</a>
			</li>
			<li>
				<a href="/help_how_it_works#faq_section">FAQ</a>
			</li>
		</ul><!-- close off settings_menu div -->
	</li>


	<li class="submenu">
		<a  href="#">
			<img  class="pic"src="http://graph.facebook.com/{{ user.username }}/picture" height=25 width=25>
			Settings<i class="icon down-dir">&#x25BC;</i></a>
		<ul id="settings_menu" class="settings_menu popup">
			<li>
				<a href="{% url 'crush.views.settings_views.settings_preferences' %}">Preferences</a>
			</li>
			<li>
				<a href="{% url 'crush.views.settings_views.settings_credits' %}">Credits (<span id="num_credits">{{request.user.site_credits}}</span>)</a>	
			</li>
			<li>
				<a href="{% url 'crush.views.infrastructure_views.logout_view' %}">Logout</a>
			</li>
		</ul><!-- close off settings_menu div -->
	</li>
</ul> <!-- close off right_header_menu div -->

