{% extends "base.html" %}

{% block content %}

 <div id="fb-root"></div>
  <script>
    (function() {
      var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
          document.getElementById('fb-root').appendChild(e);
          }());
  </script>
  
  <script>
    window.fbAsyncInit = function() {
      FB.init({ appId: {{facebook_app_id}}, 
      status: true, 
      cookie: true,
      xfbml: true,
      oauth: true});
 
     
    };
  </script>

  <a href="#" onclick="sendRequest();">Find Friend (via Javascript)</a><br>
  <script>
  function sendRequest() {
    FB.ui({
      method: 'apprequests',
      message: 'After making your selection, you will confirm your choice.  Nothing will be sent to your friend.',
      title: 'Select a Friend to Add to your Crush List',
      max_recipients: 1,
    }, 
    function(response) 
    {
        if (response.request && response.to) 
        	{	
        		var redirect_url = '{{redirect_uri}}';
        		for(i=0; i<response.to.length; i++) 
                	redirect_url=redirect_url + '?to[' + i + ']='+response.to[i];
                window.location = redirect_url; 
              }

    }
    );
  }
  </script>

<a href="https://www.facebook.com/dialog/apprequests?app_id={{facebook_app_id}}&
	message=Note: Your crush will not receive any notification.&
 	redirect_uri={{redirect_uri}}&max_recipients=1&title=Select a Friend To Add to your Crush List"> Find Friend (via direct)</a>
 {% endblock %}