{% extends "base.html" %}

{% block content %}


<script type="text/javascript">
  jQuery(document).ready(function($) {
  $(".bt-fs-dialog").fSelector({
      excludeIds: [],
      closeOverlayClick: true,
      overlayOpacity: "0.3",
      overlayColor: '#000',
      closeOnSubmit: true,
      showSelectedCount: true,
      color: "default",
      showRandom:false,
      lang: {
        title: "Friend Selector",
        buttonSubmit: "Select",
        buttonCancel: "Cancel",
        summaryBoxResult: "{1} best results for {0}",
        summaryBoxNoResult: "No results for {0}",
        searchText: "Enter a friend's name",
        fbConnectError: "You must connect to Facebook to see this.",
        selectedCountResult: "You have choosen {0} people.",
        selectedLimitResult: "Limit is {0} people."
      },
      onStart: function(response){ return null },
      onClose: function(response){ return null },
      onSubmit: function(response){
		add_friends_to_db(response,false);
      }
    });
      $(".bt-fs-open-dialog").fSelector({
      excludeIds: [],
      closeOverlayClick: true,
      overlayOpacity: "0.3",
      overlayColor: '#000',
      closeOnSubmit: true,
      showSelectedCount: true,
      color: "default",
      showRandom:false,
      lang: {
        title: "Friend Selector",
        buttonSubmit: "Select",
        buttonCancel: "Cancel",
        summaryBoxResult: "{1} best results for {0}",
        summaryBoxNoResult: "No results for {0}",
        searchText: "Enter a friend's name",
        fbConnectError: "You must connect to Facebook to see this.",
        selectedCountResult: "You have choosen {0} people.",
        selectedLimitResult: "Limit is {0} people."
      },
      onStart: function(response){ return null },
      onClose: function(response){ return null },
      onSubmit: function(response){
		add_friends_to_db(response,true);
      }
    });
  });
  
  function add_friends_to_db(response,bOpen)
  {	      
		// add a special field if the added crushes are open
       // response looks like a comma delimited list of facebook id's
		var form = document.createElement("form");
		form.setAttribute("method", "POST");
		form.setAttribute("action", "{{redirect_uri}}");
		var hiddenField;
		var cField;
		cField =	document.createElement("div");
		cField.setAttribute("style","display:none");
		form.appendChild(cField);
		var input_field;
		input_field = document.createElement("input");
		input_field.setAttribute("type", "hidden");
		input_field.setAttribute("name","csrfmiddlewaretoken");
		input_field.setAttribute("value","{{token}}");
		form.appendChild(input_field);

		var	key;
		var id;
		

		if (bOpen)
		{
			hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "open");
            hiddenField.setAttribute("value", "true");
            form.appendChild(hiddenField);
		}

		results = String(response).split(',');
		
		for(i=0; i<results.length; i++) 
		{
			
			hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            key = "to[" + i + "]";
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", results[i]);
            form.appendChild(hiddenField);
		}
		document.body.appendChild(form);
		form.submit();
		document.body.removeChild(form);
  }
</script>

{% if secret_userlist %}
<h3>The following users were added to your secret crushlist:</h3>
<ul>
	{% for user in secret_userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

{% if open_userlist %}
<h3>The following users were added to your open crush list:</h3>
<ul>
	{% for user in open_userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}

{% if duplicate_userlist %}
<h3>The following users are already on your crush list::</h3>
<ul>
	{% for user in duplicate_userlist %}
		<li>{{user.first_name}} {{user.last_name}} <small>({{user.username}})</small> <BR>
	{% endfor %}
</ul>
{% endif %}
  <BR><BR><a href="javascript:{}" class="bt-fs-dialog">Find Secret Crush Friend (via Javascript)</a>
  <BR><BR>
  <a href="javascript:{}" class="bt-fs-open-dialog" open="true">Find Open Crush Friend (via Javascript)</a>
 
{% endblock %}