{% extends "base.html" %}
{% block title %}Credit Settings{% endblock %}
{% block content %}
<script type="text/javascript">

  $(document).ready(function() {
	$.getScript('{{ STATIC_URL }}qtip/jquery.qtip.min.js').done(function(script,scriptStatus){
		$(".settings_form .help_icon").qtip({
			content:{
				text:$('#credits_help_content'),
				title:'What are credits?'
			},
			show:{
				delay:0,
			},
			hide:{
				delay:500,
				fixed:true,
			},
			style:{
				classes: 'qtip-blue qtip-rounded qtip-shadow',
				tip:{
					corner:true
				}
			}
		});	
	});//end of getScript
	
  });
</script>

<span class="title_line"></span>
<ul class="title_bar">
	<li class="title_bar_title">Credits</li>
</ul>
 

	<form class="settings_form credits_settings_form" method="post" action='{{ paypal_url }}'>{% csrf_token %}

	<div class="settings_introduction">You need to obtain credits for premium features of the site.  
	For example, you need credits to see your crush's response. </div>
	
	<div id="settings_labels">
	<span id="settings_label_credits_available"><span class="help_icon"></span>Credit Available:</span>
	<span id="settings_label_purchase_credits">Purchase More Credit:</span>
	<img src="{{ STATIC_URL }}images/paypal_secure_payments.jpg" id="paypal_image" />		
</div> <!-- close off settings_labels -->
	
		<p id="credit_settings_form_credits_available">{{ request.user.site_credits }}&nbsp; 
			{% if request.user.site_credits == 1 %}
				credit
			{% else %}
				credits
			{% endif %}
		</p>
		<div id="credit_purchase_options">
			<p>
				<input type = "radio" name="amount" value="5" onClick="document.getElementById('item_name_field').value='5 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=5';document.getElementById('notify_url').value='{{paypal_notify_url}}5/'">5 credits - $5 USD
			</p>
			<p>
				<input type = "radio" name="amount" value="9" checked onClick="document.getElementById('item_name_field').value='10 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=10';document.getElementById('notify_url').value='{{paypal_notify_url}}10/'">10 credits - $9 USD &nbsp;<span class="discount_tag">(10% off)</span>
			</p>
			<p>
				<input type = "radio" name="amount" value="17" onClick="document.getElementById('item_name_field').value='20 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=20';document.getElementById('notify_url').value='{{paypal_notify_url}}20/'">20 credits - $17 USD &nbsp;<span class="discount_tag">(15% off)</span>
			</p>
			<p>
				<input type = "radio" name="amount" value="40" onClick="document.getElementById('item_name_field').value='50 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=50';document.getElementById('notify_url').value='{{paypal_notify_url}}50/'">50 credits - $40 USD &nbsp;<span class="discount_tag">(20% off)</span>
			</p>
			<p>
				<input type = "radio" name="amount" value="75" onClick="document.getElementById('item_name_field').value='100 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=100';document.getElementById('notify_url').value='{{paypal_notify_url}}100/'">100 credits - $75 USD &nbsp;<span class="discount_tag">(25% off)</span>
			</p>
		</div>
	  <input type="hidden" name="cmd" value="_xclick">
	  <input type="hidden" name="SOLUTIONTYPE" value="Sole">
	  <input type="hidden" name="LANDINGPAGE" value="Billing">
	  <input type="hidden" name="cancel_return" value="{{ paypal_cancel_url}}/">
	  <input type="hidden" id="credit_amount" name="credit_amount" value="10">
	  <input type="hidden" name="business" value="{{ paypal_email }}">
	  <input type="hidden" id="item_name_field" name="item_name" value="10 Credits">
	  <input type="hidden" name="currency_code" value="USD">
	  <input type="hidden" name="return" id="return" value="{{paypal_success_url}}&credit_amount=10">
	  <input type="hidden" name="notify_url" id="notify_url" value="{{paypal_notify_url}}10/">
		
		<div id="settings_buttonset">
			<input type="image" src="{{STATIC_URL}}images/paypal_buy_now_button.gif" onclick="window.wait_modal_open();" alt="Make payments with PayPal - it's fast, free and secure!" >
			<!-- <p>You will be redirected to PayPal for all payment processing including credit cards.</p> -->
		</div>
	</form>

<span class="help_dialog_content" id="credits_help_content">
<span class="tooltip_content tooltip_maincontent">
Credits are a virtual currency that you can spend on premium features of the site.  
For example, you need credits to see your crush's response.  
</span>
<span class="related_subsections">related q&a:</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	How many credits do I have?
</span>
<span class="tooltip_content tooltip_relatedcontent">
 You currently have {{ request.user.site_credits}} {% if request.user.site_credits == 1 %}credit{% else %} credits{% endif %}.  You can always check your available credits under the settings menu (in the top right hand corner of the site).
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	Why do we charge credits for certain features?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Charging credits is the primary way that we make money from this service and put food on our tables.  
	We will only charge you when we have performed a valuable service on your behalf, for example if we determine if your crush feels the same or not.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	What if I run out of credits?
</span>
<span class="tooltip_content tooltip_relatedcontent">
You can always purchase more credits from within the settings menu (in the top right hand corner of the site).  We accept payment via Paypal and most major credit cards (also via our Paypal service).
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	How much do credits cost?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	Each credit currently costs $1 USD.  However, we provide volume purchase discounts - the more you purchase at one time, the greater the discount you will receive.
</span>
</span>
<span class ="tooltip_subsection">
<span class="tooltip_subtitle">
	What if I don't have a Paypal account or credit card to purchase more credits?
</span>
<span class="tooltip_content tooltip_relatedcontent">
	We are considering developing a feature that will allow you to transfer credits from another user.  
	Please provide us with your feedback to let us know if you think this is useful.  
	Our feedback tab is located on the bottom right hand corner of the site.
</span>
</span>
<span class="tooltip_close">close</span>
</span>

{% endblock %}

