{% extends "base.html" %}
{% block title %}Credit Settings{% endblock %}
{% block content %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<span class="title_line"></span>
<ul class="title_bar">
	<li class="title_bar_title">Credit Settings</li>
</ul>

<div class="settings_container credits_settings_container">
	<div id="settings_labels">
		<span id="settings_label_credits_available">Credit Available:</span>
		<span id="settings_label_purchase_credits">Purchase More Credit:</span>
		<img src="http://www.paypal.com/en_AU/i/btn/x-click-but01.gif" id="paypal_image" />		
	</div> <!-- close off settings_labels -->
	<form class="settings_form credits_settings_form" method="post" action='{{ paypal_url }}'>{% csrf_token %}

		<p id="credit_settings_form_credits_available">{{ request.user.site_credits }}&nbsp; 
			{% if request.user.site_credits == 1 %}
				credit
			{% else %}
				credits
			{% endif %}
		</p>
	
		<p>
			<input type = "radio" name="amount" value="5" onClick="document.getElementById('item_name_field').value='5 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=5';document.getElementById('notify_url').value='{{paypal_notify_url}}5/'">5 credits - $5 USD
		</p>
		<p>
			<input type = "radio" name="amount" value="9" checked onClick="document.getElementById('item_name_field').value='10 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=10';document.getElementById('notify_url').value='{{paypal_notify_url}}10/'">10 credits - $9 USD <span class="discount_tag">(10% off)</span>
		</p>
		<p>
			<input type = "radio" name="amount" value="17" onClick="document.getElementById('item_name_field').value='20 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=20';document.getElementById('notify_url').value='{{paypal_notify_url}}20/'">20 credits - $17 USD <span class="discount_tag">(15% off)</span>
		</p>
		<p>
			<input type = "radio" name="amount" value="40" onClick="document.getElementById('item_name_field').value='50 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=50';document.getElementById('notify_url').value='{{paypal_notify_url}}50/'">50 credits - $40 USD <span class="discount_tag">(20% off)</span>
		</p>
		<p>
			<input type = "radio" name="amount" value="75" onClick="document.getElementById('item_name_field').value='100 Credits';document.getElementById('return').value='{{paypal_success_url}}&credit_amount=100';document.getElementById('notify_url').value='{{paypal_notify_url}}100/'">100 credits - $75 USD <span class="discount_tag">(25% off)</span>
		</p>
	
	  <input type="hidden" name="cmd" value="_xclick">
	  <input type="hidden" name="cancel_return" value="{{ paypal_cancel_url}}/">
	  <input type="hidden" id="credit_amount" name="credit_amount" value="10">
	  <input type="hidden" name="business" value="{{ paypal_email }}">
	  <input type="hidden" id="item_name_field" name="item_name" value="10 Credits">
	  <input type="hidden" name="currency_code" value="USD">
	  <input type="hidden" name="return" id="return" value="{{paypal_success_url}}&credit_amount=10">
	  <input type="hidden" name="notify_url" id="notify_url" value="{{paypal_notify_url}}10/">
		
		<div id="settings_buttonset">
			<input type="submit" value="Purchase" onclick="window.wait_modal_open();" alt="Make payments with PayPal - it's fast, free and secure!" >
			<p>(you will be redirected to PayPal to complete purchase)</p>
		</div>
	</form>
</div> <!-- close off settings_container -->
{% endblock %}