{% extends "base.html" %}
{% block title %}Preference Settings{% endblock %}
{% block content %}

<span class="title_line"></span>
<ul class="title_bar">
	<li class="title_bar_title">Preferences</li>
</ul>
<form class="settings_form preferences_settings_form" action="/settings_preferences/" method="post">
	{% csrf_token %}
	<div id="settings_labels">
		<span id="settings_label_gender_preference">Gender Preference:</span>
		<span id="settings_label_notifications">Email Notifications:</span>
		<span id="settings_label_email">Email Address:</span>
	</div>
	<div id="settings_fields">
		{{ form.as_p }}
	</div>
	<div id="settings_buttonset">
		<input name="cancel" type="submit" value="Cancel">
		<input type="submit" value="Update"/>
				{% if updated %}
			<span id="settings_changes_saved">changes saved</span>
		{% endif %}
	</div>
</form>
{% endblock %}