{% extends "base.html" %}
{% block title %}Preference Settings{% endblock %}
{% block content %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<span class="title_line"></span>
<ul class="title_bar">
	<li class="title_bar_title">Preferences</li>
</ul>
<form class="settings_form preferences_settings_form" action="/settings_preferences/" method="post">
	{% csrf_token %}
	<div id="settings_labels">
		<span id="settings_label_gender_preference">Gender Preference:</span>
		<span id="settings_label_notifications">Email Notifications:</span>
		<span id="settings_label_email">Email Address:</span>
	</div>
	<div id="settings_fields">
		{{ form.as_p }}
	</div>
	<div id="settings_buttonset">
		<input name="cancel" type="submit" value="Cancel">
		<input type="submit" value="Update"/>
				{% if updated %}
			<span id="settings_changes_saved">changes saved</span>
		{% endif %}
	</div>
</form>
{% endblock %}