{% extends "base.html" %}
{% block title %}Notification Settings{% endblock %}
{% block content %}

<span class="title_line"></span>
<ul class="title_bar">
	<li class="title_bar_title">Notification Settings</li>
</ul>

<div class="settings_container">
	<div id="settings_labels">
		<span id="settings_label_notifications">Email Notifications:</span>
		<span id="settings_label_email">Email Address:</span>
	</div>
	<form class="settings_form notifications_settings_form" action="/settings_notifications/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<div id="settings_buttonset">
			<input name="cancel" type="submit" value="Cancel">
			<input type="submit" class="button" value="Update"/>
			{% if updated %}
				<span id="settings_changes_saved">changes saved</span>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}