{% extends "base.html" %}
{% block content %}
You currently have {{ request.user.site_credits }} 
{% if request.user.site_credits == 1 %}
credit.
{% else %}
credit.
{% endif %}

<h3>Add More Credits:</h3>
<form method="post">{% csrf_token %}

<input type = "radio" name="amount" value="10"/>10 credits - $1 USD
</br>
<input type = "radio" name="amount" value="55"/>55 credits - $5 USD <small>(10% bonus)</small>
</br>
<input type = "radio" name="amount" value="115"/>115 credits - $10 USD <small>(15% bonus)</small>
</br>
<input type = "radio" name="amount" value="240"/>240 credits - $20 USD <small>(20% bonus)</small>
</br>
<input type = "radio" name="amount" value="625"checked/>625 credits - $50 USD <small>(25% bonus)</small>
</br>
<input type = "radio" name="amount" value="1300"/>1300 credits - $100 USD <small>(30% bonus)</small>
</br>
<input type = "radio" name="amount" value="2025"/>2025 credits - $150 <small>($35% bonus)</small>
</br><br>
<small>
<input type = "radio" name="amount" value="0"/>(admin - zero out credits)</small>


<br><br><input type='submit' value="submit">
</form>
{% endblock %}