{% extends "base.html" %}
{% block title %}Requests for matchmakers{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Display the title widget -->  
<ul class="title_bar" id="title_bar_setup_requests_for_me">
	<li class="title_bar_title">Setup Requests</li>
</ul>
<! -- End of title widget -->  

{% if show_help_popup == True %}
<div class="new_user_instructions">
<span class="help_icon" title="close help"></span>
<span class="instructions_title">How Friend Setups Work <span class="instructions_subtitle">for matchmakers</span></span>
<div class="first_instruction_section">
	{% if request_relationships %}
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Your friends (listed below) asked you to be their matchmaker.</span></div>	
	{% else %}
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Your friends may ask you to be their matchmaker.</span></div>	
	{% endif %}
	<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">For each asking friend, select up to ten potential matches.</span></div>
	<a class="show_more">show more</a><a class="show_less">show less</a>
</div>
<div class="second_instruction_section">
	<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">Your friend picks the ones they're attracted to.</span></div>
	<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">We'll try to get your friend's picks signed in (with your help).</span></div>
	<div class="instruction_step"><span class="help_icon2">5</span><span class="instruction_step_text">From here on out, everything works like it does in the <a href="/how_it_works/singles/" target="_blank">standard attraction / admirer lineup process</a>. Your friend's picks are treated like their 'attractions'. <i>Plus, as the process unfolds, you'll see exactly who likes whom.</i></span></div>
</div>
<div class="instruction_block_button_line">
	<a href="javascript:{}" class="create_setup instruction_block_button set_up_friend_link"><span class="add_icon"></span>Set up a Friend</a>
</div>
</div>		<!-- close off instructional content -->
{% if request_relationships.count = 0 %}
<p class="new_user_sub_instructions">
	Like how this sounds but prefer to be the one getting set up?<br><a href="javascript:{}" class="request_setup_link" setup_select="true" title="Request Setups from Friends">Request a setup from a friend</a>
</p>
{% endif %}
{% endif %}

{% if request_relationships %}

	{% for request_rel in request_relationships %}
		{% with request_rel as relationship %}
 			{% include "request_for_me_block.html" %}		
		{% endwith %}
	{% endfor %}		


{% elif show_help_popup == False %}
		<span id="no_content">No one has </i>currently</i> requested a setup from you.<span class="no_content_action">Why wait - <a href="javascript:{}" class="set_up_friend_link">set up a friend</a> now.</span></span>
{% endif %}

{% endblock %}