{% extends "base.html" %}
{% block title %}Setups By You{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">
$(document).ready(function() 
{
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 
	
	$('.send_setup_notification').click(function(){
		var recommender_name = "{{request.user.get_name}}";
		var recipient_id = $(this).attr('target_person_username');
		
		source_person_last_name="{{request.user.last_name|capfirst}}";
		source_person_first_name = "{{request.user.first_name|capfirst}}"
		source_person_last_initial = source_person_last_name[0];
		
		var notification_link = $(this);
		if ((typeof $(this).attr('target_is_recommendee')) !== 'undefined')
			var bTargetIsRecommendee = true;
		else
			var bTargetIsRecommendee = false;
		
		if (bTargetIsRecommendee) {
			var recipient_first_name = $(this).attr('target_person_first_name');
			var recipient_last_name = $(this).attr('target_person_last_name');
			var recipient_last_initial = recipient_last_name[0];
			var share_link = 'http://flirtally.com/admirer_for/' + recipient_first_name + '/' + recipient_last_initial + '/';
			$.get('https://developers.facebook.com/tools/debug/og/object?q=' + share_link,function(data){
				FB.ui({
						method: 'send',
		  			to: recipient_id,
		  			link: share_link,
		  			description:"Flirtally is a new matchmaking service for people who already have someone in mind - for themselves or friends of theirs.  Find out who's attracted to you at http://www.flirtally.com.",
		  			name:recipient_first_name + ' ' + recipient_last_initial + '. has an admirer!', 
	      	},function(response){
	      		if (response != null && response['error_code'] == null){ 
	      			console.log("fb_response: ",response);
	     				// if notification was sent to a recommendee then replace link with appropriate waiting icon
	     				notification_link.replaceWith('<span class="setup_responded setup_recommendee_responded setup_responded_notified" title="waiting for a response"></span>');
	     				
	 				  	$(".inactive_crushed_friends").load('/ajax_friends_with_admirers_content/' + recipient_id,function(responseText,textStatus,xhr){
	 						if (xhr.status==405)
	 							reauthorize_user();
	 				  		});
	     		 		// update the setup lineup members' date_last_notified 
	     				$.get('/ajax_update_setup_lineup_member_date_last_notified/' + recipient_id + '/');
	      		} // close off if (resposne != null)
	      		else {
	      			// problem with facebook send dialog
	      			console.log("fb fail response: ", response);
	      		}
	     	 	} // close off function(Resposne) - fb.ui response handler
	    	);// close off fb.ui
	    } // close off if target is recommendee
			else { // target person is not a recommendee - they are a client
				FB.ui({
					method: 'send',
	  			to: recipient_id,
	  			link: 'http://www.flirtally.com/setup_by/' + source_person_first_name + '/' + source_person_last_initial + '/',
	  			name:source_person_first_name + ' ' + source_person_last_initial + '. desires your matchmaking help!',
	  			description: 'Flirtally is a new matchmaking service for people who already have someone in mind - for themselves or friends of theirs.  Help ' + source_person_first_name + ' out at http://www.flirtally.com.',
			      },function(response){
			      	if (response != null){  		
								// in case the invite was sent to the setup recommendee, then need to update the setup lineup members' date_notification_last_sent AND need to remove send notification next to target's name 
			     			notification_link.replaceWith('notification sent');     
			     		  $.get('/ajax_update_date_notification_last_sent/' + recipient_id + '/');	
			      	} // close off if (resposne != null)
			      } // close off function(Resposne) - fb.ui response handler
	  		);// close off fb.ui
	  	}); // close off $.get
		}	// close off else target is not recommendee
	}); // close off .send_setup_notification hanlder
	
}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<span class="title_line"></span>
<ul class="title_bar" id="title_bar_setups_by_you">
	<li class="title_bar_title">Setup By You</li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_page_links">
		{% if setup_type == 0  %}
			<span class="title_bar_page_link active_title_bar_page_link title_bar_page_first_link ">started<span class="title_bar_count">{{setup_relationships.count}}</span></span>
			<a class="title_bar_page_link inactive_title_bar_page_link" href="/completed_setups_by_you/">finished<span class="title_bar_count">{{setups_completed_count}}</span></a>
		{% else %}
			<a class = "title_bar_page_link inactive_title_bar_page_link title_bar_page_first_link" href="/setups_by_you/">started<span class="title_bar_count">{{setups_incomplete_count}}</span></a>
			<span class="title_bar_page_link active_title_bar_page_link">finished<span class="title_bar_count">{{setup_relationships.count}}</span></span>
		{% endif %}
	</li>
</ul>
<! -- End of title widget -->  

{% if show_help_popup == True %}
<div class="new_user_instructions">
	<span class="help_icon" title="close help"></span>
	<span class="instructions_title">How Friend Setups Work <span class="instructions_subtitle">for Matchmakers</span></span>
	<div class="first_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Choose a friend who you want to play matchmaker for, and select up to 10 potential matches for them.</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">Your friend picks the ones they're attracted to.</span></div>
		<a class="show_more">show more</a><a class="show_less">show less</a>
	</div>
	<div class="second_instruction_section">
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">We'll try to get your friend's picks signed in (with your help).</span></div>
		<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">From here on out, everything works like it does in the <a href="/how_it_works/singles/" target="_blank">standard attraction / admirer lineup process</a>.  Your friend's picks are treated like their 'attractions'. <i>Plus, as the process unfolds, you'll see exactly who likes whom.</i></span></div>
	</div>
	<div class="instruction_block_button_line">
		<a href="javascript:{}" class="create_setup instruction_block_button set_up_friend_link"><span class="add_icon"></span>Set up a Friend</a>
	</div>
</div>		<!-- close off instructional content -->
<p class="new_user_sub_instructions">
	Like how this sounds but <strong>prefer to be the one getting set up?</strong><br><a href="javascript:{}" class="request_setup_link" setup_select="true" title="Request Setups from Friends">Request a setup from a friend</a>
</p>
{% endif %}

{% if setup_relationships %}

{% for setup_rel in setup_relationships %}
	<div class="setup_by_me_block" display_id="{{setup_rel.display_id}} ">
	{% if setup_rel.updated_flag == True %}
     {% if setup_rel.date_added|datetime_since == '1 minute' %}
             <span class="updated">new</span>
     {% else %}
             <span class="updated">updated</span>
     {% endif %}
     {{ setup_rel.resetUpdatedFlag }}
{% endif %}
			<img class="setup_block_target_pic" src="http://graph.facebook.com/{{setup_rel.target_person.username}}/picture?width=40&height=40">
			<div class="setup_block_title">
				<span class="setup_block_for">For:</span>
	
				<span class="setup_block_target_name">{{setup_rel.target_person.get_name}}</span>
				{% if setup_rel.date_lineup_started == None and setup_rel.date_notification_last_sent|days_since > 6 %} 
					<span class="setup_block_target_status"><a href="#" class="send_setup_notification" target_person_username="{{setup_rel.target_person.username}}">resend notification</a></span>	
				{% endif %}
			
			</div><!-- close off setup_block_title -->
			<div class="setup_response_label setup_target_response_label">
				<div class="setup_response_label setup_response_innerlabel">
					<span class="setup_label_text setup_response_label_text">{{setup_rel.target_person.first_name}}'s selections</span>
				</div>
			</div>
		<div class = "setup_response_section">
		{% for lineup_member in setup_rel.get_lineup_members_picked_yes %}
			{% with lineup_member as lineup_member %}
				{% include "lineup_member_card.html" %}
	 		{% endwith %}
		{% endfor %}
		
		{% for lineup_member in setup_rel.get_lineup_members_picked_unknown %}
			{% with lineup_member as lineup_member %}
				{% include "lineup_member_card.html" %}
	 		{% endwith %}
 		{% endfor %}
 		
		{% if setup_rel.show_vertical_divider_a %} 
			<span class="setup_vertical_divider a"></span>
		{% endif %}
		
		{% for lineup_member in setup_rel.get_lineup_members_responded_yes %}
			{% with lineup_member as lineup_member %}
				{% include "lineup_member_card.html" %}
			{% endwith %}
		{% endfor %}

		{% for lineup_member in setup_rel.get_lineup_members_responded_no %}
			{% with lineup_member as lineup_member %}
				{% include "lineup_member_card.html" %}
			{% endwith %}
		{% endfor %}
		
		{% if setup_rel.show_vertical_divider_b %}
			<span class="setup_vertical_divider b"></span>
		{% endif %}

		{% for lineup_member in setup_rel.get_lineup_members_picked_no %}
			{% with lineup_member as lineup_member %}
				{% include "lineup_member_card.html" %}
			{% endwith %}
		{% endfor %}	
		</div> <!-- close off setup_response_section -->
		<div class="setup_response_label setup_recommendee_response_label"><span class="setup_label_text setup_recommendee_responses_label_text">recommendee
		 responses</span></div>
	<span class = "setup_status"><span class="status_label">Setup Status:</span><span class="status_text">
		{% if setup_rel.date_setup_completed %}
			Setup is complete.
		{% elif setup_rel.has_target_responded %}
			Waiting for all of {{setup_rel.target_person.first_name}}'s selected attractions to sign in and respond. <span class="please_help"> Please help us notify them.</span>
		{% else %}
			Waiting for {{setup_rel.target_person.first_name}} to sign in and decide who {{setup_rel.target_person.get_gender_pronoun_subject}} is attracted to.
		{% endif %}
	</span></span>
	</div><!--  close off setup block -->

{% endfor %}

{% elif show_help_popup == False %}
	{% if setup_type == 0 %}
		<span id="no_content">You have no <i>ongoing</i> setups.<span class="no_content_action"><a href="javascript:{}" class="set_up_friend_link">Create one</a> to get started.</span></span>
	{% else %}
		<span id="no_content">You have no <i>finished</i> setups.<span class="no_content_action"><a href="javascript:{}" class="set_up_friend_link">Create one</a> to get started.</span></span>
	{% endif %}
{% endif %}

{% endblock %}