{% extends "base.html" %}
{% block title %}Setup From Friends{% endblock %}
{% block content %}
{% load fbdater_extras %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div id="lineup_modal" title="Attraction&trade; Lineup"></div>

<script type="text/javascript">
$(document).ready(function() 
{
    /** FUNCTION - HANDLE View Lineup Click
    *
    */
    $("#lineup_modal").dialog({modal: true, resizable:false,autoOpen: false,width:575,height:454,close:function(event,ui){window.handle_lineup_dialog_close();}});
    
    $('.lineup_block').on('click', '.view_lineup', function(e) {
        view_lineup_element=$(this);
		var display_id=view_lineup_element.attr('display_id');	
		window.wait_modal_open();
		load_url="/ajax_show_lineup_slider/" + display_id + "/0"; // /0 tells function that this is not an admirer lineup - it is instead a recommendation lineup
    e.preventDefault();
    $("#lineup_modal").load(load_url,function(responseText,textStatus,XHR){
		if (textStatus!='success'){
			$(this).dialog("close");
			window.alert_modal("Setup Lineup Problem", "{{generic_error_message}}" );
			return false;
			}
		$("#lineup_modal").dialog("open");
		window.startup_slider();
		$(':focus').blur();
		window.wait_modal_close();
		});   
	  return false;    
	});			
    
	// auto show lineup if one given
	var show_lineup_number = '{{show_lineup}}';   
	if (show_lineup_number)
        $('.view_lineup[display_id="{{show_lineup}}"]').trigger('click'); 

	//handle help icon show and hide
	$('.lineup_block_instructions').each(function(){window.scrollTo(0,0);$(this).delay(500).show(1000)});
//		$('.lineup_block_instructions').each(function(){window.scrollTo(0,0);$(this).show()});
	$('.lineup_block_instructions .help_icon').click(function(){
		$(this).parent().hide(500);
	});
	
 	$('.resend_request').click(function(){
 		var target_person_username = $(this).attr('target_username');
 		FB.ui({method: 'send',
	  				name: "{{request.user.first_name}} {{request.user.last_name}} would like your help.",
	  				to: target_person_username,
	  				link:'http://www.flirtally.com',
	  				description:"Flirtally is a new matchmaking service that makes it easy to set your friends up with one another. Let us know who'd make a good match for " + source_person_first_name + "!"
			      },
			      function(response){
							if (response != null)
										window.location.href="/setups_for_me/" + target_person_username;
			  		} // close off function (response)   
		);// close off fb.ui
 	});
	
}); // close off $(document).ready
</script>

<!-- Display the title widget -->  
<span class="title_line"></span>
<ul class="title_bar" id="title_bar_setups_for_me">
	<li class="title_bar_title">Setups By Friends</li>
	<li class="title_bar_option">
		sort:
		<a href="#">by status<span class="down_arrow">&#x25BC;</span></a>
	</li>
	<li class="title_bar_page_links">
		{% if setup_type == 0  %}
			<span class="title_bar_page_link active_title_bar_page_link title_bar_page_first_link "><img class="page_link_pointer" src="{{ STATIC_URL }}images/nav_arrow_down_v3.png">new<span class="title_bar_count">{{setup_relationships.count}}</span></span>
			<a class="title_bar_page_link inactive_title_bar_page_link" href="/completed_setups_for_me/">finished<span class="title_bar_count">{{setups_completed_count}}</span></a>
		{% else %}
			<a class = "title_bar_page_link inactive_title_bar_page_link title_bar_page_first_link" href="/setups_for_me/">new<span class="title_bar_count">{{setups_incomplete_count}}</span></a>
			<span class="title_bar_page_link active_title_bar_page_link"><img class="page_link_pointer" src="{{ STATIC_URL }}images/nav_arrow_down_v3.png">finished<span class="title_bar_count">{{setup_relationships.count}}</span></span>
		{% endif %}
	</li>
</ul>
<! -- End of title widget -->  
{% if show_help_popup == 1 %}
<div class="new_user_instructions">
	<span class="help_icon" title="close help"></span>
	<span class="instructions_title">How Friend Setups Work</span>
	<div class="first_instruction_section">
		<div class="instruction_step"><span class="help_icon2">1</span><span class="instruction_step_text">Select any Facebook friend to be your matchmaker.</span></div>
		<div class="instruction_step"><span class="help_icon2">2</span><span class="instruction_step_text">We'll ask your friend to select up to ten potential matches for you.</span></div>		
		<div class="instruction_step"><span class="help_icon2">3</span><span class="instruction_step_text">You'll pick the ones you're attracted to.</span></div>
		<a class="show_more">show more</a><a class="show_less">show less</a>
	</div>
	<div class="second_instruction_section">
	<div class="instruction_step"><span class="help_icon2">4</span><span class="instruction_step_text">From here on out, everything works like it does in the <a target="_blank" href="/how_it_works/singles/">standard attraction / admirer lineup process</a>. Your picks are treated like attractions.</span></div>
	<div class="instruction_step"><span class="help_icon2">5</span><span class="instruction_step_text">In addition, your matchmaker will help us get your picks signed in. 
	<i>They'll also see exactly who is attracted to whom</i>.</span></div>
	 
		 
	</div>
	<div class="instruction_block_button_line">
		<a href="javascript:{}" class="request_setup_link instruction_block_button" setup_select="true" title="Request Setups from Friends">Request a Setup</a>
	</div>
</div>		<!-- close off instructional content -->
{% elif show_help_popup == 2 %}
<div class="new_user_instructions">
	<span class="help_icon" title="close help"></span>
	<span class="instructions_title">How Friend Setups Work:</span>
	<div class="first_instruction_section">Your friend has recommended some of their friends for you to consider.  We have placed them in a lineup for your consideration.  Add any of them as an 'attraction' and we'll try to get them signed into Flirtally (through anonymous invites) to determine if they are mutually attracted to you.<a class="show_more">show more</a><a class="show_less">show less</a>
	</div>
	<div class="second_instruction_section">From here on out, everything works much like it does in the <a href="/how_it_works/singles/">standard attraction / admirer lineup process</a>.  The one difference is that your recommender will help us get your chosen recommendations signed in, and <i>your recommender can see exactly who is attracted to whom.</i></div>
</div>		<!-- close off instructional content -->
{% endif %}

{% if setup_relationships %}

{% for setup_rel in setup_relationships %}

	<div class="lineup_block setup_lineup_block" display_id="{{setup_rel.display_id}} ">
		<div class="lineup_block_line lineup_block_first_line">
			<img class="from_pic" src="http://graph.facebook.com/{{setup_rel.source_person.username}}/picture?width=60&height=60">
			<div class="lineup_title">
				<span class="lineup_block_from">From:</span>
				<span class="lineup_block_source_name">{{setup_rel.source_person.get_name}}</span>
				<span class="lineup_subtitle">{{setup_rel.setuplineupmember_set.all|length}} recommendation(s)</span> 
			</div><!-- close off admirer title -->
		</div><!-- close off admirer_block line -->
		<div class="lineup_block_line" display_id="{{setup_rel.display_id}}">
			<span class="lineup_preview_label">Lineup Preview:</span>
				{% for member in setup_rel.setuplineupmember_set.all %}
					{% if forloop.counter0 < 1 or member.decision != None %}
						<span class="lineup_block_lineup_pic member_decided {% if member.decision == 0 %}member_picked{% endif %}"><img src="http://graph.facebook.com/{{member.username}}/picture?width=44&height=44"><span class="{% if member.decision == 0 %}admirer_picked{% elif member.decision > 0 %}admirer_not_picked{% endif %}"></span></span>
					{% else %}
						<img class="lineup_block_lineup_pic" src = "/static/images/fb_unknown_user_pic.jpg">
					{% endif %}
				{% endfor %}
				<a href="#"  class="view_lineup button content_button" display_id="{{setup_rel.display_id}}">View Lineup</a>
		</div><!-- close off admirer_block line -->
		<div class="lineup_block_line lineup_block_footer">
		
		{% if setup_rel.date_lineup_finished != None %}
			completed {{setup_rel.date_lineup_finished}}
		{% else %}
			added {{setup_rel.date_added|datetime_since}} ago
		{% endif %}
		</div><!-- close off lineup_block line -->
	</div><!--  close off lineup block -->

{% endfor %}

{% elif show_help_popup == 0 %}
	{% if setup_type == 0 %}
		<span id="no_content" {% if request_relationships %}class="no_content_abbreviated"{% endif %}>You have no <i>ongoing</i> setups from friends.<span class="no_content_action"><a href="javascript:{}" setup_select="true" class="request_setup_link">Request one</a> to get started.</span></span>
	{% else %}
		<span id="no_content">You have no <i>finished</i> setups from friends.<span class="no_content_action"><a href="javascript:{}" class="request_setup_link">Request one</a> to get started.</span></span>
	{% endif %}
{% endif %}

{% if request_relationships %}
		<span class="page_secondary_title">Outstanding Requests for Setups</span>
	{% for request_rel in request_relationships %}
		{% with request_rel as relationship %}
				{% include "request_by_me_block.html" %}		
		{% endwith %}
	{% endfor %}	
{% endif %}

{% endblock %}