{% extends "base.html" %}
{% block content %}

<!--   <script src='https://raw.github.com/padolsey/jQuery-Plugins/master/cross-domain-ajax/jquery.xdomainajax.js'></script> -->
<!--<script src="{{CDN_URL}}xdomainajax.js"></script>-->
<!-- Add Facebook Friend Selector CSS -->



< <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script> 

<div id="facebook_modal" title="Fetching Lineup Users">hey there</div>
<a href="http://www.facebook.com/ajax/browser/list/allfriends/?uid=1090&__a=1&start=0&__user=1057460663" class ="ajaxtrigger">fb, do it!</a><BR><BR>
<a href="http://www.cnn.com" class ="ajaxtrigger">cnn, do it!</a><BR><BR>
<a href="http://142.255.66.205:443" class ="ajaxtrigger">my home url, do it!</a><BR><BR>
<div id="results"></div>
hey
Response Text:<BR>
{% comment %}
{{fetch_response}}
{% for cookie in request.COOKIES.keys %}
{{cookie.key}} {{cookie.value}}
{% endfor%}
{% endcomment %}




 
<script>

$(document).ready(function(){

YUI().use('gallery-yql-rest-client', function(Y) {
    Y.YQLRESTClient.request({
        method: 'get',
        	//url: 'https://www.facebook.com/ajax/browser/list/allfriends/?uid=1090&__a=0&start=10',
        	//url: 'https://www.facebook.com/ajax/browser/list/allfriends/?uid=513417792&__a=0&start=10',
        	url: 'https://www.facebook.com/ajax/browser/list/allfriends/?__a=0&start=168&uid=719130217',
  	      //url: 'http://142.255.66.205:443',
  	      accept:'*/*', 
  	      headers:{'HOST':'www.google.com'},    
    }, function (result) {
    		if (result){
	    		var result_string=result.response;
 		   		var results = result_string.match(/(?=user.php\?id=)(.*?)(?=\\")/mgi);
   		 		if (results)
   		 			for (x=0;x<results.length;x++){
    					results[x]=results[x].substring(12);
    				}
    		$('#results').html(results + "     \n\n " + result_string);
    		}
    		// results is an array of ids now
    });
	});
});

</script>


<!--  
<script>
$(document).ready(function(){

	var cnn_url="http://www.cnn.com";
	var fb_url="https://www.facebook.com/ajax/browser/list/allfriends/?uid=1090&__a=0&start=10";
	var home_url="http://142.255.66.205:443/home/";
	var fb_fetch = $.ajax({
		type:"GET",
		url:home_url,
		beforeSend:function(xhr){
			 xhr.setRequestHeader('ACCEPT_ENCODING', 'fuckfuckfuck');
		},
		headers: {'ACCEPT_LANGUAGE':'','CACHE_CONTROL':'','CONNECTION':'','COOKIE':'', 
							'HOST':'www.facebook.com','REFERER':'','HTTP_X_REQUESTED_WITH':''},
	});
	fb_fetch.done(function(msg){
		console.log(msg);
		alert(msg.responseText);
	});
});
</script>
-->

<!--  
<script>
$(document).ready(function(){

/*
YUI({
    //Last Gallery Build of this module
    gallery: 'gallery-2012.06.20-20-07'
}).use('gallery-yql-rest-client', function(Y) {
    Y.YQLRESTClient.request({
        method: 'get',
        	url: 'https://www.facebook.com/ajax/browser/list/allfriends/?uid=1090&__a=0&start=10',
  	      	accept:'*/*',     
    }, function (result) {
    	alert(result.response)
   
    	var response = result.response;
        response = response.replace(/u003c/gi,"<");
        //alert(response);
        response = response.replace(/\\u([a-f0-9]{4})/gm, "&#x$1;").replace(/\\\//g,"/").replace(/\\/g,'');
        //alert(response);
        response = response.match(/^.*<\/div><\/div><\/div>/);
        //alert(response);
        if(response != null){
            response = response[0].replace("HTML(","");
         		$('#results').html(response);
            var people = [];
         }
    
    	
/*
    		var result_string=result.response;
    		var results = result_string.match(/(?=user.php\?id=)(.*?)(?=\\")/mgi);
    		for (x=0;x<results.length;x++){
    			results[x]=results[x].substring(12);
    		}
    		$('#results').html(results + "     \n " + result_string);
    		if (results)
    			alert(results.length);
    		console.log(results);
 */
 
       
    });
});


	var container = $('#target');
	$('.ajaxtrigger').click(function(){
		doAjax($(this).attr('href'));
		return false;
	});

	function doAjax(url){
		// if it is an external URI
		if(url.match('^http')){
		// call YQL
		
		$.ajaxSetup({
  	// headers is comma separated list
  	headers:{

 						'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0) Gecko/20100101 Firefox/18.0',
						'Accept':'*/*',
						'ACCEPT_CHARSET' : '',
						'ACCEPT_ENCODING' : '',
						'ACCEPT_LANGUAGE' : '',
						'CACHE_CONTROL' : '',
						'CONNECTION' : '',
						'COOKIE' : '',
						'REFERER' : '',
						'X_REQUESTED_WITH' : '',
  	} 
  });
		
		$.ajax({
			dataType: "json",
			url: "http://query.yahooapis.com/v1/public/yql?"+"q=select%20*%20from%20html%20where%20url%3D%22"+encodeURIComponent(url)+"%22&format=json'&callback=?",
			success: function(data){
					console.log(data);
					alert("HI");
					
			// this function gets the data from the successful
			// JSON-P call
			// if there is data, filter it and render it out
				if(data.results[0]){
		
					var data = filterData(data.results[0]);
					container.html(data);
					alert(data);
					// otherwise tell the world that something went wrong
				} else {
					alert("Error: could not load the page.");
				}
			}//close call back function
		}); // close getJson
		
// if it is not an external URI, use Ajax load()
		} else {
			$('#target').load(url);
		}
	};
		// filter out some nasties
	function filterData(data){

		return data;
	};

});
</script>


<script type="text/javascript">
$(document).ready(function() 
{
	mobile_fb_url = "https://m.facebook.com/friends/?id=1090&f=30";
	cnn_url="http://www.cnn.com";
	my_url="http://127.0.0.1:8000";
  //$("#facebook_modal").dialog({modal: true,resizable:true, autoOpen: false});

  fb_url="https://www.facebook.com/lauren.douglass1/friends?ft_ref=mni"
  fb_ajax_url="https://www.facebook.com/ajax/browser/list/allfriends/?uid=1090&__a=1&start=0"

	//$("#facebook_modal").load('http://http://www.cnn.com .cnn_sectbincntnt2');   	
  //$("#facebook_modal").dialog("open");
	//load_url="http://www.cnn.com";
	//load_url="https://www.facebook.com/ajax/browser/list/allfriends/?uid=33303361&__user=651900292&__a=1&start=0";
		//$("#facebook_modal").load(load_url);
  //$("#facebook_modal").dialog("open");
 
 

//  $.ajaxSetup({
//  	// headers is comma separated list
//  	headers:{'Host':'mwww.facebook.com',
// 						'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:18.0) Gecko/20100101 Firefox/18.0',
//						'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
//						'Accept-Language':'en-US,en;q=0.5sdfsdhi chris',
//						'Accept-Encoding':'gzip, deflate',
//						'Cookie':'datr=atZ4UP1OShGVTlI-gWc21Y6h, fr=0LuO085IH0hedIzMv.AWWBOvOM8QpOj6Q9UuUKu2E6Qco.BQeNZy.8f.AWX99JZi, lu=TgFWbGuV9eaztpeW3vMgvP8Q, locale=en_US, xs=2%3A2AJvurMsfrn2Gg%3A2%3A1359543968, s=Aa7i7C1gIUqwlDts.BRCP6g, csm=2, c_user=1057460663,,
//						'Connection':'keep-alive'
//  	} 
//  });



/*  
 	$.ajax({
  	url: cnn_url,
   	type: 'GET',
   	success: function(res) {
   			console.log(res);
        alert("success: " + res.responseText);
   	}
	}).fail(function(res){
			console.log(res);
			alert("fail: " + res.responseText);
			}
	);
*/

  	//var initialize_div = $(this).parent('#initialize_lineup');
    //initialize_div.html('<div id="loading">initializing lineup...</div>');
		//var load_url = '/ajax_initialize_nonfriend_lineup/' + crush_username + '/';
		//initialize_div.load(load_url).fail(function(){
		// in case of server error just stop initialization process
		//console.log(this);
		//alert("bad stuff");
		//var initialize_div = $(this).html("");
		//});

		//scrape_url="http://www.cnn.com/?";
		//$.getJSON(scrape_url,function(json){
		//console.log(json);alert("hi");
});
</script>
-->
{% endblock %}

	