<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta http-equiv="Content-type" content="text/html"; charset="UTF-8" />
	    <meta name="description" content="When you already have someone in mind, but not sure they feel the same... Discover your relationship potential - safely and anonymously." />
	    <meta name="robots" content="all,index" />
	    <meta name="Revisit-After" content="30 Days" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- ie8 - ignore compatibility option-->
		<title>Flirtally - How it Works</title>    	

	    <link type="text/css" href="{{ STATIC_URL }}fbdater_guest.css?t={% now "U" %}" rel="stylesheet" />  
	    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
	    <link rel="icon" type="image/x-icon" href="/favicon.png" /> 
	</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38751299-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  jQuery(document).ready(function($) {
		
		/* --------- HANDLE HOW TO SECTION CLICKS ----------------- */
		
		$('.how_to_link').click(function(event){
			if ($(this).hasClass('how_to_link_active'))
				return;
			
			var active_slide=$('.active_how_to_slide');	
			var inactive_slide=$('.inactive_how_to_slide');
			var slide_container=$('.how_to_slide_container');
		
			// stop and fast forward any ongoing animations	
			active_slide.stop(true,false);
			inactive_slide.stop(true,false);
			slide_container.finish();
			
			var bForSingles = true;
			if ($(this).hasClass('for_singles')){
				active_slide=$('#how_to_slide_setup');
				inactive_slide=$('#how_to_slide_singles');
				var new_height='360';
			}
			else{
				active_slide=$('#how_to_slide_singles');
				inactive_slide=$('#how_to_slide_setup');
				var new_height='490';
				bForSingles=false;
			}
			
			var active_link=$('.how_to_link_active');
			var inactive_link=$(this);
			
			inactive_link.removeClass('how_to_link_inactive').addClass('how_to_link_active');
			active_link.removeClass('how_to_link_active').addClass('how_to_link_inactive');
		
			slide_container.animate({'min-height':new_height},{duration: 500,queue:false});
			
			active_slide.fadeOut({duration:500,queue:false,complete:function(){
					inactive_slide.fadeIn(500,function(){
						active_slide.removeClass('active_how_to_slide').addClass('inactive_how_to_slide');
						inactive_slide.removeClass('inactive_how_to_slide').addClass('active_how_to_slide');
						if (!bForSingles)
							window.set_setup_height();
				});
			}}); // close off active_slide.fadeToggle
		});//close off .how_to_link_inactive click handler
		
		/*  ensure all setup step boxes are same length */
		window.set_setup_height = function() {
			  if ($('#how_to_slide_setup').hasClass('active_how_to_slide')) {
				  var max_height = parseInt($('#setup_step_4 .setup_step_text').height()) + 210;
				  $('.setup_step').animate({'min-height':max_height},250);
			  }
		};
		
		var timeoutPointer;
		$(window).resize(function(){
			clearTimeout(timeoutPointer);
			timeoutPointer = setTimeout(window.set_setup_height,100);
		});
		window.set_setup_height();
		//setTimeout(function(){$('.how_to_link').trigger('click');},750);
	}); // close of jQuery(document).ready  
  
</script>


<body id="guest_page">
<div class="guest_header how_it_works authenticated">
	<div class="center_container">
		<a class="logo" href="/home"><img src={% if request.user.is_authenticated %}"/static/images/flirtally_logo_text_white.png"{% else %}"/static/images/flirtally_logo.png"{% endif %}></a>
		<a class="logo" href="/home"><img src={% if request.user.is_authenticated %}"/static/images/flirtally_logo_text_white.png"{% else %}"/static/images/flirtally_logo.png"{% endif %}></a>
			<span id="top_links"><a href="/how_it_works" class="active">How it Works</a></span>

	</div>
</div>

<div class="guest_page how_it_works">

{% with help_type as help_type %}
	{% include "how_to_section.html" %}
{% endwith %}
</div><!-- close off div guest page
</body>
